<template>
  <q-page class="bg2">
    <div class="row bg6 q-py-lg">
      <div class="col-1"></div>
      <div class="col-10 self-center" align="center">
        <div class="text-h5">โรงเรียน</div>
      </div>
      <div class="col-1 q-pr-md" align="right">
        <q-btn round class="bg3 color6 no-margin" icon="fas fa-plus" @click="plusBtn()"></q-btn>
      </div>
    </div>

    <div class="q-pt-lg q-px-md">
      <q-table
        :data="data"
        :columns="columns"
        row-key="name"
        hide-bottom
        flat
        bordered
        square
        :pagination.sync="paginationControl"
      >
        <template v-slot:body="props">
          <q-tr :props="props">
            <q-td key="schoolCode" :props="props">{{props.row.schoolCode}}</q-td>
            <q-td key="schoolName" :props="props">{{props.row.schoolName}}</q-td>
            <q-td key="province" :props="props">{{props.row.province}}</q-td>
            <q-td key="status" :props="props">
              <span v-if="props.row.status==true" class="text-secondary text-bold">เปิด</span>
              <span v-if="props.row.status==false" class="text-negative text-bold">ปิด</span>
            </q-td>
            <q-td key="delete" :props="props">
              <q-btn
                flat
                round
                size="sm"
                class="color3"
                icon="fas fa-trash-alt"
                @click="deleteBtn(props.row.key)"
              ></q-btn>
            </q-td>
            <q-td key="edit" :props="props">
              <q-btn
                size="sm"
                flat
                round
                class="color3"
                icon="fas fa-edit"
                @click="editBtn(props.row.key)"
              ></q-btn>
            </q-td>
          </q-tr>
        </template>
      </q-table>
    </div>
  </q-page>
</template>


<script>
import { db } from "../../router/index.js";
export default {
  data() {
    return {
      columns: [
        {
          name: "schoolCode",
          align: "center",
          label: "รหัส",
          field: " schoolCode",
          sortable: true,
          style: "width:200px;"
        },
        {
          name: "schoolName",
          align: "left",
          label: "โรงเรียน",
          field: " schoolName",
          sortable: true
        },
        {
          name: "province",
          align: "center",
          label: "จังหวัด",
          field: " province",
          sortable: true,
          style: " width:200px"
        },
        {
          name: "status",
          align: "center",
          label: "สถานะ",
          field: " status",
          style: " width:200px"
        },
        {
          name: "delete",
          align: "center",
          label: "ลบ",
          style: " width:100px"
        },
        {
          name: "edit",
          align: "center",
          label: "แก้ไข",
          style: " width:100px"
        }
      ],
      data: [],
      paginationControl: {
        rowsPerPage: 0
      }
    };
  },
  methods: {
    plusBtn() {
      this.$router.push("/school/add");
    },
    deleteBtn(key) {
      this.$q
        .dialog({
          title: "ลบข้อมูล",
          message:
            "ต้องการที่จะลบข้อมูลใช่หรือไม่ <br> พิมพ์คำว่า <span class='text-red text-h6'>Delete</span> เพื่อลบข้อมูล",
          ok: "ตกลง",
          cancel: "ยกเลิก",
          html: true,
          prompt: {
            model: "",
            type: "text" // optional
          },
          persistent: true
        })
        .onOk(async confirm => {
          if (confirm == "Delete") {
            let getDoc = await db
              .collection("Student")
              .where("schoolCode", "==", key)
              .get();

            if (getDoc.size > 0) {
              getDoc.forEach(data => {
                db.collection("Student")
                  .doc(data.id)
                  .delete();
              });
            }

            getDoc = await db
              .collection("Teacher")
              .where("school", "==", key)
              .get();

            if (getDoc.size > 0) {
              getDoc.forEach(data => {
                db.collection("Teacher")
                  .doc(data.id)
                  .delete();
              });
            }

            getDoc = await db
              .collection("AcademicYear")
              .where("school", "==", key)
              .get();

            if (getDoc.size > 0) {
              getDoc.forEach(data => {
                db.collection("AcademicYear")
                  .doc(data.id)
                  .delete();
              });
            }

            db.collection("School")
              .doc(key)
              .delete();

            this.notifyGreen("ลบข้อมูลเรียบร้อยแล้ว");
          } else {
            this.notifyRed("ยืนยันการลบข้อมูลไม่ถูกต้อง");
            return;
          }
        })
        .onCancel(() => {});
    },

    loadSchools() {
      this.loadingShow();
      db.collection("School").onSnapshot(doc => {
        this.data = [];
        doc.forEach(element => {
          let dataKey = {
            key: element.id
          };
          let finalData = {
            ...dataKey,
            ...element.data()
          };

          this.data.push(finalData);
        });

        this.data.sort((a, b) => {
          return a.schoolCode - b.schoolCode;
        });
        this.loadingHide();
      });
    },
    editBtn(key) {
      this.$router.push("/school/edit/" + key);
    }
  },
  mounted() {
    this.loadSchools();
  }
};
</script>