<template >
  <q-page class="bg2">
    <div class="row q-py-lg bg6">
      <div class="col-12 self-center" align="center">
        <div v-if="$route.name=='schooladd'" class="text-h5">เพิ่มโรงเรียน</div>
        <div v-if="$route.name=='schooledit'" class="text-h5">แก้ไขโรงเรียน</div>
      </div>
    </div>

    <div class="mainInputDiv" align="center">
      <div class="q-pt-lg">
        <div class="q-pb-md">
          <q-input
            class="bg-white"
            square
            outlined
            mask="##########"
            v-model.number="schoolObj.schoolCode"
            label="รหัสโรงเรียน"
          />
        </div>
        <div class="q-pb-md">
          <q-input
            class="bg-white"
            square
            outlined
            label="ชื่อโรงเรียน"
            v-model.trim="schoolObj.schoolName"
          ></q-input>
        </div>
        <div class="q-pb-md">
          <q-select
            use-input
            hide-selected
            fill-input
            input-debounce="0"
            @filter="filterFn"
            class="bg-white"
            square
            outlined
            v-model="schoolObj.province"
            :options="provinceOption"
            label="จังหวัด"
          />
        </div>

        <div align="left" class="text-body1 colorText q-py-sm">สถานะการใช้การ</div>
        <div class="row">
          <div align="left" class="col-6 q-pr-sm">
            <q-radio v-model="schoolObj.status" :val="false" label="ปิดการใช้งาน" />
          </div>
          <div align="left" class="col-6 q-pl-sm">
            <q-radio class="q-pl-lg" v-model="schoolObj.status" :val="true" label="เปิดการใช้งาน" />
          </div>
        </div>

        <div class="row q-pt-md">
          <div align="left" class="col-6 q-pr-sm">
            <q-btn label="ยกเลิก " class="bg6" @click="cancelBtn()" style="width:100%"></q-btn>
          </div>
          <div align="right" class="col-6 q-pl-sm">
            <q-btn label="บันทึก " class="bg3 text-white" @click="saveBtn()" style="width:100%"></q-btn>
          </div>
        </div>
      </div>
    </div>
  </q-page>
</template>

<script>
import { db } from "../../router/index.js";

export default {
  data() {
    return {
      schoolObj: {
        schoolCode: "",
        province: "",
        schoolName: "",
        status: true
      },
      provinceList: [],

      schoolOption: [],
      schoolCodeOld: "",

      provinceOption: []
    };
  },
  methods: {
    // input จังหวัด
    filterFn(val, update, abort) {
      update(() => {
        const needle = val.toLowerCase();
        this.provinceOption = this.provinceList.filter(
          v => v.toLowerCase().indexOf(needle) > -1
        );
      });
    },
    loadProvince() {
      // โหลดจังหวัด
      db.collection("province")
        .get()
        .then(doc => {
          doc.forEach(element => {
            this.provinceList.push(element.id);
          });
        });
    },
    cancelBtn() {
      // ปุ่มยกเลิก
      this.$router.push("/school");
    },
    saveBtn() {
      // ปุ่มบันทึก
      if (
        // กรณีกรอกข้อมูลไม่ครบ
        this.schoolObj.schoolCode == "" ||
        this.schoolObj.schoolName == "" ||
        this.schoolObj.province == ""
      ) {
        this.notifyRed("กรุณากรอกข้อมูลให้ครบ");
        return;
      }
      this.loadingShow();
      if (this.$route.name == "schooladd") {
        // บันทึกหน้าเพิ่ม
        db.collection("School")
          .where("schoolCode", "==", this.schoolObj.schoolCode)
          .get()
          .then(doc => {
            // กรณีรหัสโรงเรียนซ้ำ
            if (doc.size > 0) {
              this.loadingHide();
              this.notifyRed("รหัสโรงเรียนซ้ำ");
              return;
            }
            // รหัสโรงเรียนไม่ซ้ำ
            db.collection("School")
              .add(this.schoolObj)
              .then(() => {
                this.loadingHide();
                this.notifyGreen("บันทึกข้อมูลเรียบร้อยแล้ว");
                this.$router.push("/school");
              });
          });
      } else {
        // บันทึกหน้าแก้ไข
        if (this.schoolCodeOld == this.schoolObj.schoolCode) {
          db.collection("School")
            .doc(this.$route.params.key)
            .update(this.schoolObj)
            .then(() => {
              this.loadingHide();
              this.notifyGreen("บันทึกข้อมูลเรียบร้อยแล้ว");
              this.$router.push("/school");
            });
        } else {
          db.collection("School")
            .where("schoolCode", "==", this.schoolObj.schoolCode)
            .get()
            .then(doc => {
              //  กรณีรหัสโรงเรียนซ้ำ
              if (doc.size > 0) {
                this.loadingHide();
                this.notifyRed("รหัสโรงเรียนซ้ำ");
                return;
              } // กรณีแก้ไข ข้อมูลไม่ซ้ำ
              db.collection("School")
                .doc(this.$route.params.key)
                .update(this.schoolObj);
              this.loadingHide();
              this.notifyGreen("บันทึกข้อมูลเรียบร้อยแล้ว");
              this.$router.push("/school");
            });
        }
      }

      // this.loadingHide();
    },
    loadSchool() {
      this.loadingShow();
      db.collection("School")
        .doc(this.$route.params.key)
        .get()
        .then(doc => {
          this.schoolObj = doc.data();
          this.schoolCodeOld = doc.data().schoolCode;
          this.loadingHide();
        });
    }
  },
  mounted() {
    if (this.$route.name == "schooledit") {
      this.loadSchool();
    }
    this.loadProvince();
  }
};
</script>