<template>
  <q-page class="bg2">
    <div class="row bg6 q-py-lg">
      <div class="col-1"></div>
      <div class="col-10 self-center" align="center">
        <div class="text-h5">คุณครู</div>
      </div>
      <div class="col-1 q-pr-md" align="right">
        <q-btn round class="bg3 color6 no-margin" icon="fas fa-plus" @click="addBtn()"></q-btn>
      </div>
    </div>
    <q-dialog v-model="isInput" persistent>
      <q-card style="width: 400px;">
        <q-card-section>
          <div class="row">
            <div class="col-1"></div>
            <div class="col-10 text-h6" align="center">
              <span v-if="isAddMode">เพิ่มคุณครู</span>
              <span v-if="!isAddMode">แก้ไขคุณครู</span>
            </div>
            <div class="col-1" align="right">
              <q-btn round flat size="sm" icon="fas fa-times" v-close-popup />
            </div>
          </div>
        </q-card-section>

        <q-card-section>
          <div>
            <q-select
              map-options
              emit-value
              class="bg6"
              v-model="dataObj.school"
              square
              outlined
              :options="schoolOption"
              use-input
              hide-selected
              fill-input
              input-debounce="0"
              @filter="filterInput"
            ></q-select>
          </div>
          <div class="q-mt-md">
            <q-input class="bg-white" square label="ชื่อ" outlined v-model.trim="dataObj.name" />
          </div>
          <div class="q-mt-md">
            <q-input
              class="bg-white"
              square
              label="นามสกุล"
              outlined
              v-model.trim="dataObj.surname"
            />
          </div>
          <div class="q-mt-md">
            <q-input
              class="bg-white"
              square
              label="เบอร์โทรศัพท์"
              mask="###-###-####"
              outlined
              v-model="dataObj.tel"
            />
          </div>
          <div class="q-mt-md">
            <q-input
              class="bg-white"
              square
              label="รหัสผ่าน"
              outlined
              v-if="isAddMode==true"
              readonly
              :value="this.dataObj.tel.substring(8)"
            />
            <q-input
              class="bg-white"
              square
              label="รหัสผ่าน"
              outlined
              v-if="isAddMode==false"
              mask="####"
              v-model.trim="dataObj.password"
            />
          </div>
        </q-card-section>

        <q-card-actions align="center" class="text-primary q-px-md q-pb-md">
          <q-btn
            flat
            label="บันทึก"
            style="width:100%;"
            class="bg3 text-white"
            @click="saveBtn()"
            :disabled="isSaveData"
          />
        </q-card-actions>
      </q-card>
    </q-dialog>
    <div class="row q-pt-lg q-px-md">
      <div class="col-md-4 col-xs-12">
        <q-select
          map-options
          emit-value
          class="bg6"
          v-model="selectSchool"
          square
          outlined
          :options="schoolOption"
          use-input
          hide-selected
          fill-input
          input-debounce="0"
          @filter="filterFn"
          @input="schoolBtn()"
        ></q-select>
      </div>
    </div>

    <div class="q-pt-md q-px-md">
      <q-table
        :data="data"
        :columns="columns"
        row-key="name"
        hide-bottom
        flat
        bordered
        square
        :pagination.sync="pagination"
      >
        <template v-slot:body="props">
          <q-tr :props="props">
            <q-td key="name" :props="props">{{props.row.name+" "+props.row.surname}}</q-td>
            <q-td
              key="tel"
              :props="props"
            >{{props.row.tel.slice(0,3) + "-" + props.row.tel.slice(3,6) + "-" + props.row.tel.slice(6)}}</q-td>
            <q-td key="password" :props="props">{{props.row.password}}</q-td>
            <q-td key="delete" :props="props">
              <q-btn
                flat
                round
                size="sm"
                class="color3"
                icon="fas fa-trash-alt"
                @click="deleteBtn(props.row.key)"
              ></q-btn>
            </q-td>
            <q-td key="edit" :props="props">
              <q-btn
                size="sm"
                flat
                round
                class="color3"
                icon="fas fa-edit"
                @click="editBtn(props.row)"
              ></q-btn>
            </q-td>
          </q-tr>
        </template>
      </q-table>
    </div>
  </q-page>
</template>

<script>
import { db } from "../../router/index.js";
export default {
  data() {
    return {
      editKey: "",
      telOld: "",
      selectSchool: "",
      isSaveData: false,
      isAddMode: true,
      isInput: false,
      dataObj: {
        school: "",
        name: "",
        surname: "",
        tel: "",
        password: ""
      },
      school: "",
      schoolList: [],
      schoolOption: [],
      pagination: {
        rowsPerPage: 0
      },
      columns: [
        {
          name: "name",
          align: "left",
          label: "ชื่อ-นามสกุล",
          field: " name",
          style: " width:450px"
        },
        {
          name: "tel",
          align: "center",
          label: "เบอร์โทรศัพท์",
          field: " tel",
          style: " width:450px"
        },
        {
          name: "password",
          align: "center",
          label: "รหัสผ่าน",
          field: " password"
        },

        {
          name: "delete",
          align: "center",
          label: "ลบ",
          field: " delete",
          style: " width:100px"
        },
        {
          name: "edit",
          align: "center",
          label: "แก้ไข",
          field: " edit",
          style: " width:100px"
        }
      ],
      data: []
    };
  },
  methods: {
    deleteBtn(key) {
      this.$q
        .dialog({
          title: "ลบข้อมูล",
          message: "ต้องการที่จะลบข้อมูลใช่หรือไม่",
          ok: "ตกลง",
          cancel: "ยกเลิก"
        })
        .onOk(() => {
          db.collection("Teacher")
            .doc(key)
            .delete()
            .then(() => {
              this.notifyGreen("ลบข้อมูลเรียบร้อยแล้ว");
            });
        })
        .onCancel(() => {});
    },
    addBtn() {
      this.dataObj.name = "";
      this.dataObj.surname = "";
      this.dataObj.tel = "";

      this.isInput = true;
      this.isAddMode = true;
    },
    editBtn(obj) {
      this.isSaveData = false;
      this.isAddMode = false;
      this.isInput = true;
      this.editKey = obj.key;
      this.telOld = obj.tel;
      this.dataObj.password = obj.password;
      this.dataObj.name = obj.name;
      this.dataObj.surname = obj.surname;
      this.dataObj.tel = obj.tel;
    },
    saveBtn() {
      this.loadingShow();
      if (this.isAddMode == true) {
        if (
          this.dataObj.name == "" ||
          this.dataObj.surname == "" ||
          this.dataObj.tel == "" ||
          this.dataObj.tel.length < 12
        ) {
          this.notifyRed("กรุณากรอกข้อมูลให้ครบ");
          this.loadingHide();
          return;
        } else {
          let dataTel = this.dataObj.tel.replace(/-/g, "");
          db.collection("Teacher")
            .where("tel", "==", dataTel)
            .get()
            .then(doc => {
              if (doc.size > 0) {
                this.notifyRed("เบอร์โทรศัพท์มีผู้ใช้งานแล้ว");
                this.loadingHide();
                return;
              }
              this.isInput = false;
              this.dataObj.password = this.dataObj.tel.substring(8);
              this.dataObj.tel = this.dataObj.tel.replace(/-/g, "");
              db.collection("Teacher")
                .add(this.dataObj)
                .then(() => {
                  this.loadingHide();
                  this.notifyGreen("บันทึกข้อมูลเรียบร้อยแล้ว");

                  this.dataObj.name = "";
                  this.dataObj.surname = "";
                  this.dataObj.tel = "";
                });
            });
        }
      } else {
        if (
          this.dataObj.name == "" ||
          this.dataObj.surname == "" ||
          this.dataObj.tel == "" ||
          this.dataObj.tel.length < 10 ||
          this.dataObj.password.length < 4
        ) {
          this.notifyRed("กรุณากรอกข้อมูลให้ครบ");
          this.loadingHide();
        } else {
          let dataTel = this.dataObj.tel.replace(/-/g, "");
          if (this.telOld == dataTel) {
            db.collection("Teacher")
              .doc(this.editKey)
              .update(this.dataObj)
              .then(() => {
                this.isInput = false;

                this.loadingHide();
                this.notifyGreen("บันทึกข้อมูลเรียบร้อยแล้ว");
              });
          } else {
            db.collection("Teacher")
              .where("tel", "==", dataTel)
              .get()
              .then(doc => {
                if (doc.size > 0) {
                  this.loadingHide();
                  this.notifyRed("เบอร์โทรศัพท์นี้มีผู้ใช้งานแล้ว");
                  return;
                }

                this.isInput = false;

                this.dataObj.tel = this.dataObj.tel.replace(/-/g, "");
                db.collection("Teacher")
                  .doc(this.editKey)
                  .update(this.dataObj)
                  .then(() => {
                    this.loadingHide();
                    this.notifyGreen("บันทึกข้อมูลเรียบร้อยแล้ว");
                  });
              });
          }
        }
      }
    },
    // input โรงเรียน
    filterFn(val, update, abort) {
      update(() => {
        if (val == "") {
          this.schoolOption = this.schoolList;
          return;
        }
        const needle = val.toLowerCase();
        this.schoolOption = this.schoolList.filter(
          v => v.label.toLowerCase().indexOf(needle) > -1
        );
      });
    },
    schoolBtn() {
      this.dataObj.school = this.selectSchool;
      this.loadData(this.selectSchool);
    },
    filterInput(val, update, abort) {
      update(() => {
        if (val == "") {
          this.schoolOption = this.schoolList;
          return;
        }
        const needle = val.toLowerCase();
        this.schoolOption = this.schoolList.filter(
          v => v.label.toLowerCase().indexOf(needle) > -1
        );
      });
    },
    loadSchool() {
      this.loadingShow();
      db.collection("School")
        .orderBy("schoolCode")
        .get()
        .then(doc => {
          doc.forEach(element => {
            let dataKey = {
              label:
                element.data().schoolCode + " - " + element.data().schoolName,
              value: element.id
            };
            this.schoolList.push(dataKey);
            this.selectSchool = this.schoolList[0].value;
            this.dataObj.school = this.selectSchool;
          });
          this.schoolOption = this.schoolList;
          this.loadData(this.selectSchool);
        });
    },
    loadData(key) {
      this.loadingShow();
      db.collection("Teacher")
        .where("school", "==", key)
        .onSnapshot(doc => {
          this.data = [];

          doc.forEach(element => {
            let dataKey = {
              key: element.id
            };
            let final = {
              ...element.data(),
              ...dataKey
            };

            this.data.push(final);
          });

          this.data.sort((a, b) => {
            return a.name > b.name ? 1 : -1;
          });

          this.loadingHide();
        });
    }
  },

  mounted() {
    this.loadSchool();
  }
};
</script>

<style >
</style>