<template>
  <q-page class="bg2">
    <div class="row q-py-lg bg6">
      <div class="col-12 self-center" align="center">
        <div v-if="$route.name=='academicadd'" class="text-h5">เพิ่มปีการศึกษา</div>
        <div v-if="$route.name=='academicedit'" class="text-h5">แก้ไขปีการศึกษา</div>
      </div>
    </div>
    <div class="mainInputDiv" align="center">
      <div class="q-pt-lg">
        <q-select
          :disable="$route.name=='academicedit'"
          emit-value
          map-options
          class="bg6"
          v-model="dataObj.school"
          square
          outlined
          :options="schoolOption"
          use-input
          hide-selected
          fill-input
          input-debounce="0"
          @filter="filterFn"
        ></q-select>
      </div>
      <div class="q-pt-md">
        <q-select
          class="bg6"
          v-model.number="dataObj.academicYear"
          square
          outlined
          label="ปีการศึกษา"
          :options="academicOption"
        ></q-select>
      </div>
      <div class="q-pt-md">
        <q-input
          class="bg6"
          square
          outlined
          label="จำนวนห้อง"
          v-model.number="dataObj.roomAmount"
          mask="##########"
        ></q-input>
      </div>
      <div class="row q-pt-md">
        <div align="left" class="col-6 q-pr-sm">
          <q-btn label="ยกเลิก " class="bg6" @click="cancelBtn()" style="width:100%"></q-btn>
        </div>
        <div align="left" class="col-6 q-pl-sm">
          <q-btn label="บันทึก " class="bg3 text-white" @click="saveBtn()" style="width:100%"></q-btn>
        </div>
      </div>
    </div>
  </q-page>
</template>

<script>
import { db } from "../../router/index.js";
export default {
  data() {
    return {
      dataObj: {
        school: "",
        academicYear: 2562,
        roomAmount: ""
      },
      schoolList: [],
      academicOption: [2562, 2563, 2564, 2565, 2566, 2567, 2568, 2569, 2570],
      schoolOption: [],
      schoolOld: "",
      academicYearOld: ""
    };
  },
  methods: {
    filterFn(val, update, abort) {
      update(() => {
        if (val === "") {
          this.schoolOption = this.schoolList;
          return;
        }
        const needle = val.toLowerCase();
        this.schoolOption = this.schoolList.filter(
          v => v.label.toLowerCase().indexOf(needle) > -1
        );
      });
    },
    // โหลดโรงเรียน
    loadSchool() {
      this.loadingShow();
      db.collection("School")
        .orderBy("schoolCode")
        .get()
        .then(doc => {
          doc.forEach(element => {
            let dataKey = {
              label:
                element.data().schoolCode + " - " + element.data().schoolName,
              value: element.id
            };
            this.schoolList.push(dataKey);
          });

          if (this.$route.name == "academicadd") {
            this.dataObj.school = this.$route.params.key;
            this.loadingHide();
          } else {
            this.loadData();
          }

          this.schoolOption = this.schoolList;
        });
    },
    // ปุ่มยกเลิก
    cancelBtn() {
      this.$router.push("/academic");
    },
    // ปุ่มบันทึก
    saveBtn() {
      // ถ้ากรอกข้อมูลไม่ครบ
      if (this.dataObj.academicYear == "" || this.dataObj.roomAmount == "") {
        this.notifyRed("กรุณากรอกข้อมูลให้ครบ");
        return;
      }
      this.loadingShow();
      // บันทึกหน้าเพิ่มปีการศึกษา
      if (this.$route.name == "academicadd") {
        db.collection("AcademicYear")
          .where("school", "==", this.dataObj.school)
          .where("academicYear", "==", this.dataObj.academicYear)
          .get()
          .then(doc => {
            if (doc.size > 0) {
              this.loadingHide();
              this.notifyRed("ข้อมูลซ้ำ");
              return;
            }

            db.collection("AcademicYear")
              .add(this.dataObj)
              .then(() => {
                this.loadingHide();
                this.notifyGreen("บันทึกข้อมูลเรียบร้อยแล้ว");
                this.$router.push("/academic");
              });
          });
        // บันทึกหน้าแก้ไข
      } else {
        if (
          this.schoolOld == this.dataObj.school &&
          this.academicYearOld == this.dataObj.academicYear
        ) {
          db.collection("AcademicYear")
            .doc(this.$route.params.key)
            .update(this.dataObj)
            .then(() => {
              this.loadingHide();
              this.notifyGreen("บันทึกข้อมูลเรียบร้อยแล้ว");
              this.$router.push("/academic");
            });
        } else {
          db.collection("AcademicYear")
            .where("school", "==", this.dataObj.school)
            .where("academicYear", "==", this.dataObj.academicYear)
            .get()
            .then(doc => {
              if (doc.size > 0) {
                this.loadingHide();
                this.notifyRed("ข้อมูลซ้ำ");
                return;
              }
              db.collection("AcademicYear")
                .doc(this.$route.params.key)
                .update(this.dataObj)
                .then(() => {
                  this.loadingHide();
                  this.notifyGreen("บันทึกข้อมูลเรียบร้อยแล้ว");
                  this.$router.push("/academic");
                });
            });
        }
      }
    },
    loadData() {
      this.loadingShow();
      db.collection("AcademicYear")
        .doc(this.$route.params.key)
        .get()
        .then(doc => {
          this.dataObj = doc.data();
          this.schoolOld = doc.data().school;
          this.academicYearOld = doc.data().academicYear;
          this.loadingHide();
        });
    }
  },
  mounted() {
    this.loadSchool();
  }
};
</script>

<style>
</style>