<template>
  <q-page class="bg2">
    <div class="row bg6 q-py-lg">
      <div class="col-1"></div>
      <div class="col-10 self-center" align="center">
        <div class="text-h5">ปีการศึกษา</div>
      </div>
      <div class="col-1 q-pr-md" align="right">
        <q-btn round class="bg3 color6 no-margin" icon="fas fa-plus" @click="addBtn()"></q-btn>
      </div>
    </div>
    <div class="row q-pt-lg q-px-md">
      <div class="col-md-4 col-xs-12">
        <q-select
          map-options
          emit-value
          class="bg6"
          v-model="school"
          square
          outlined
          label="โรงเรียน"
          :options="schoolOption"
          use-input
          hide-selected
          fill-input
          input-debounce="0"
          @filter="filterFn"
          @input="selectSchoolCode()"
        ></q-select>
      </div>
    </div>
    <div class="q-pt-md q-px-md">
      <q-table
        :data="data"
        :columns="columns"
        row-key="name"
        hide-bottom
        flat
        bordered
        square
        separator="cell"
      >
        <template v-slot:body="props">
          <q-tr :props="props">
            <q-td key="academic" :props="props">{{props.row.academicYear}}</q-td>
            <q-td key="roomAmount" :props="props">{{props.row.roomAmount}}</q-td>

            <q-td key="delete" :props="props">
              <q-btn
                flat
                round
                size="sm"
                class="color3"
                icon="fas fa-trash-alt"
                @click="deleteBtn(props.row.key)"
              ></q-btn>
            </q-td>
            <q-td key="edit" :props="props">
              <q-btn
                size="sm"
                flat
                round
                class="color3"
                icon="fas fa-edit"
                @click="editBtn(props.row.key)"
              ></q-btn>
            </q-td>
          </q-tr>
        </template>
      </q-table>
    </div>
  </q-page>
</template>

<script>
import { db } from "../../router/index.js";
export default {
  data() {
    return {
      schoolCode: "",
      school: "",
      schoolOption: [],
      schoolList: [],
      columns: [
        {
          name: "academic",
          align: "center",
          label: "ปีการศึกษา",
          field: " academic"
        },
        {
          name: "roomAmount",
          align: "center",
          label: "จำนวนห้อง",
          field: " roomAmount"
        },

        {
          name: "delete",
          align: "center",
          label: "ลบ",
          field: " delete",
          style: " width:100px"
        },
        {
          name: "edit",
          align: "center",
          label: "แก้ไข",
          field: " edit",
          style: " width:100px"
        }
      ],
      data: []
    };
  },
  methods: {
    // input โรงเรียน
    filterFn(val, update, abort) {
      update(() => {
        if (val == "") {
          this.schoolOption = this.schoolList;
          return;
        }
        const needle = val.toLowerCase();
        this.schoolOption = this.schoolList.filter(
          v => v.label.toLowerCase().indexOf(needle) > -1
        );
      });
    },
    selectSchoolCode() {
      this.loadingShow();
      this.schoolCode = this.school;
      this.loadAcademic(this.schoolCode);
    },

    loadSchool() {
      this.loadingShow();
      db.collection("School")
        .orderBy("schoolCode")
        .get()
        .then(doc => {
          doc.forEach(element => {
            let dataKey = {
              label:
                element.data().schoolCode + " - " + element.data().schoolName,
              value: element.id
            };
            this.schoolList.push(dataKey);
          });

          this.school = this.schoolList[0].label;
          this.schoolCode = this.schoolList[0].value;
          this.loadAcademic(this.schoolCode);
        });
    },
    loadAcademic(key) {
      db.collection("AcademicYear")
        .where("school", "==", key)
        .get()
        .then(doc => {
          this.data = [];
          doc.forEach(element => {
            let datakey = {
              key: element.id
            };
            let finalData = {
              ...datakey,
              ...element.data()
            };
            this.data.push(finalData);
          });

          this.data.sort((a, b) => {
            return Number(a.academicYear) - Number(b.academicYear);
          });
          this.loadingHide();
        });
    },
    addBtn() {
      this.$router.push("/academic/add/" + this.schoolCode);
    },
    editBtn(key) {
      this.$router.push("/academic/edit/" + key);
    },
    deleteBtn(key) {
      this.$q
        .dialog({
          title: "ลบข้อมูล",
          message: "ต้องการที่จะลบข้อมูลใช่หรือไม่",
          ok: "ตกลง",
          cancel: "ยกเลิก"
        })
        .onOk(() => {
          db.collection("AcademicYear")
            .doc(key)
            .delete()
            .then(() => {
              this.notifyGreen("ลบข้อมูลเรียบร้อยแล้ว");
              this.loadAcademic(this.schoolCode);
            });
        })
        .onCancel(() => {});
    }
  },
  mounted() {
    this.loadSchool();
  }
};
</script>

<style>
</style>