<template>
  <q-page class="bg2">
    <div>
      <div class="row bg6 q-py-lg">
        <div class="col-3"></div>
        <div class="col-6 self-center" align="center">
          <div class="text-h5">นักเรียน - {{school.code}} {{school.name}}</div>
        </div>
        <div class="col-3 q-pr-md" align="right">
          <q-btn
            round
            class="bg3 color6 q-mx-sm"
            icon="fas fa-file-upload"
            @click="uploadFiles = true"
          ></q-btn>
          <q-btn @click="printBtn()" round class="bg3 color6 q-mx-sm" icon="fas fa-print"></q-btn>
          <q-btn round class="bg3 color6 q-ml-sm" icon="fas fa-plus" @click="addShow=true"></q-btn>
        </div>
      </div>
      <div class="q-pa-md">
        <div class="row">
          <div class="col-md-4">
            <q-select
              outlined
              square
              label="ชั้น / ห้อง"
              class="bg-white"
              v-model="school.room"
              :options="school.roomOptions"
              @input="loadStudent()"
            ></q-select>
          </div>
          <div class="col-md-8 self-center">
            <q-btn
              round
              flat
              class="q-mx-md bg3 text-white"
              icon="fas fa-trash-alt"
              @click="deleteAll()"
            ></q-btn>
          </div>
        </div>
        <div class="q-mt-md">
          <q-table
            :data="data"
            :columns="columns"
            row-key="name"
            hide-bottom
            flat
            bordered
            square
            :pagination.sync="pagination"
          >
            <template v-slot:body="props">
              <q-tr :props="props">
                <q-td key="no" :props="props">{{props.row.no}}</q-td>
                <q-td key="studentId" :props="props">{{props.row.studentId}}</q-td>
                <q-td key="name" :props="props">{{props.row.name+" "+props.row.surname}}</q-td>
                <q-td key="tel" :props="props">{{props.row.tel}}</q-td>
                <q-td key="password" :props="props">{{props.row.password}}</q-td>
                <q-td key="delete" :props="props">
                  <q-btn
                    flat
                    round
                    size="sm"
                    class="color3"
                    icon="fas fa-trash-alt"
                    @click="deleteBtn(props.row.key)"
                  ></q-btn>
                </q-td>
                <q-td key="edit" :props="props">
                  <q-btn
                    size="sm"
                    flat
                    round
                    class="color3"
                    icon="fas fa-edit"
                    @click="editBtn(props.row.key)"
                  ></q-btn>
                </q-td>
              </q-tr>
            </template>
          </q-table>
        </div>
      </div>
    </div>

    <q-dialog v-model="uploadFiles" persistent transition-show="scale" transition-hide="scale">
      <q-card style="width: 400px">
        <div class="q-pa-md">
          <div class="row">
            <div class="col-2"></div>
            <div class="col-8 text-center text-h6">อัพโหลดรายชื่อนักเรียน</div>
            <div class="col-2" align="right">
              <q-btn size="sm" round flat icon="fas fa-times" v-close-popup></q-btn>
            </div>
            <div class="col-12 q-py-md">
              <div align="center">
                <a
                  class="text-black"
                  href="../../statics/files/studentlist.xlsx"
                >ตัวอย่างไพล์รายชื่อนักเรียน</a>
              </div>
            </div>
            <div class="col-12" align="center">
              <vue-xlsx-table @on-select-file="handleSelectedFile">
                <div class="dropfile">อัพโหลดไฟล์ข้อมูล</div>
              </vue-xlsx-table>
            </div>
          </div>
        </div>
      </q-card>
    </q-dialog>

    <q-dialog v-model="addShow" persistent transition-show="scale" transition-hide="scale">
      <q-card style="width: 400px">
        <div class="q-pa-md">
          <div class="row">
            <div class="col-2"></div>
            <div class="col-8 text-center text-h6">เพิ่มนักเรียน</div>
            <div class="col-2" align="right">
              <q-btn size="sm" round flat icon="fas fa-times" v-close-popup></q-btn>
            </div>
            <div class="text-body1 col-12 text-center">{{school.name}}</div>

            <div class="col-12 text-center text-body1"></div>
            <div class="col-12 q-py-md">
              <q-input class="bg-white" square outlined v-model.trim="input.name" label="ชื่อ" />
            </div>
            <div class="col-12 q-pb-md">
              <q-input
                class="bg-white"
                square
                outlined
                v-model.trim="input.surname"
                label="นามสกุล"
              />
            </div>
            <div class="col-12 q-pb-md">
              <q-input
                class="bg-white"
                square
                outlined
                v-model="input.studentId"
                label="เลขประจำตัว/รหัสผู้ใช้งาน"
                mask="######"
              />
            </div>
            <div class="col-12 q-pb-md">
              <q-select
                outlined
                square
                label="ชั้น / ห้อง"
                class="bg-white"
                v-model="input.room"
                :options="school.roomOptions"
                @input="school.room=input.room;loadStudent()
                "
              ></q-select>
            </div>
            <div class="col-12 q-pb-md">
              <q-input
                class="bg-white"
                square
                outlined
                type="number"
                v-model.number="input.no"
                label="เลขที่"
              />
            </div>

            <div class="col-12" align="center">
              <q-btn
                flat
                label="บันทึก"
                class="bg3 text-white"
                style="width:100%"
                @click="saveStudent()"
              />
            </div>
          </div>
        </div>
      </q-card>
    </q-dialog>

    <q-dialog v-model="editShow" persistent transition-show="scale" transition-hide="scale">
      <q-card style="width: 400px">
        <div class="q-pa-md">
          <div class="row">
            <div class="col-2"></div>
            <div class="col-8 text-center text-h6">แก้ไขนักเรียน</div>
            <div class="col-2" align="right">
              <q-btn size="sm" round flat icon="fas fa-times" v-close-popup @click="editClear()"></q-btn>
            </div>
            <div class="text-body1 col-12 text-center">{{school.name}}</div>

            <div class="col-12 text-center text-body1"></div>
            <div class="col-12 q-py-md">
              <q-input class="bg-white" square outlined v-model.trim="input.name" label="ชื่อ" />
            </div>
            <div class="col-12 q-pb-md">
              <q-input
                class="bg-white"
                square
                outlined
                v-model.trim="input.surname"
                label="นามสกุล"
              />
            </div>
            <div class="col-12 q-pb-md">
              <q-input
                class="bg-white"
                square
                outlined
                v-model="input.studentId"
                label="เลขประจำตัว/รหัสผู้ใช้งาน"
              />
            </div>
            <div class="col-12 q-pb-md">
              <q-select
                outlined
                square
                label="ชั้น / ห้อง"
                class="bg-white"
                v-model="input.room"
                :options="school.roomOptions"
                @input="school.room=input.room;loadStudent()
                "
              ></q-select>
            </div>
            <div class="col-12 q-pb-md">
              <q-input
                class="bg-white"
                square
                outlined
                type="number"
                v-model.number="input.no"
                label="เลขที่"
              />
            </div>
            <div class="col-12 q-pb-md">
              <q-input class="bg-white" square outlined v-model="input.password" label="รหัสผ่าน" />
            </div>
            <div class="col-12" align="center">
              <q-btn
                flat
                label="บันทึก"
                class="bg3 text-white"
                style="width:100%"
                @click="saveEditStudent()"
              />
            </div>
          </div>
        </div>
      </q-card>
    </q-dialog>
  </q-page>
</template>

<script>
import { db } from "../../router/index.js";
export default {
  data() {
    return {
      school: {
        name: "",
        academicYear: "",
        room: "ป.6/1",
        roomList: [],
        roomOptions: []
      },
      pagination: {
        rowsPerPage: 0
      },
      columns: [
        {
          name: "no",
          align: "left",
          label: "เลขที่",
          style: " width:50px"
        },
        {
          name: "studentId",
          align: "center",
          label: "เลขประจำตัว",
          style: " width:200px"
        },
        {
          name: "name",
          align: "left",
          label: "ชื่อ-นามสกุล"
        },
        {
          name: "password",
          align: "center",
          label: "รหัสผ่าน",
          style: " width:200px"
        },

        {
          name: "delete",
          align: "center",
          label: "ลบ",
          style: " width:100px"
        },
        {
          name: "edit",
          align: "center",
          label: "แก้ไข",
          style: " width:100px"
        }
      ],
      data: [],
      addShow: false,
      editShow: false,
      input: {
        name: "",
        studentId: "",
        surname: "",
        no: "",
        room: "ป.6/1",
        schoolCode: this.$route.params.schoolcode,
        year: this.$route.params.year
      },
      editKey: "",

      // upload files
      uploadFiles: false
    };
  },
  methods: {
    printBtn(type) {
      this.$router.push({
        name: "studentprint",
        params: {
          data: this.data,
          school: this.school
        }
      });
    },
    handleSelectedFile(convertedData) {
      let schoolCode = this.$route.params.schoolcode;
      let year = this.$route.params.year;
      for (let i = 0; i < convertedData.body.length; i++) {
        //check ชื่อต้องมีความยาวด้วย
        let data = {
          name: convertedData.body[i]["ชื่อ"],
          no: convertedData.body[i]["เลขที่"],
          room: convertedData.body[i]["ห้อง/ชั้น"],
          schoolCode: schoolCode,
          studentId: convertedData.body[i]["เลขประจำตัว"],
          surname: convertedData.body[i]["นามสกุล"],
          year: year
        };
        //check existed data
        db.collection("Student")
          .where("schoolCode", "==", schoolCode)
          .where("studentId", "==", data.studentId)
          .get()
          .then(doc => {
            if (doc.size == 0) {
              let password = this.genpassword(data.studentId);
              data.password = password.toString();

              db.collection("Student").add(data);
            }
          });
      }
    },
    deleteAll() {
      this.$q
        .dialog({
          title: "ลบข้อมูลนักเรียนทั้งหมด",
          message:
            "พิมพ์ <b><span class='text-red'>'ลบทั้งหมด'</span></b> เพื่อยืนยันการลบ",
          html: true,
          prompt: {
            model: "",
            type: "text" // optional
          },
          cancel: true,
          persistent: true
        })
        .onOk(data => {
          if (data == "ลบทั้งหมด") {
            db.collection("Student")
              .where("schoolCode", "==", this.$route.params.schoolcode)
              .where("year", "==", this.$route.params.year)
              .where("room", "==", this.school.room)
              .get()
              .then(async doc => {
                for (const data of doc.docs) {
                  await db
                    .collection("Student")
                    .doc(data.id)
                    .delete();
                }
                this.notifyGreen("ลบข้อมูลเรียบร้อยแล้ว");
              });
          } else {
            this.notifyRed("ข้อความยืนยันไม่ถูกต้อง");
          }
        });
    },
    loadschool() {
      let schoolCode = this.$route.params.schoolcode;
      let academicCode = this.$route.params.year;
      db.collection("School")
        .doc(schoolCode)
        .get()
        .then(data => {
          this.school.name = data.data().schoolName;
          this.school.code = data.data().schoolCode;
        });

      db.collection("AcademicYear")
        .doc(academicCode)
        .get()
        .then(data => {
          this.school.roomList = [];
          this.school.roomOptions = [];
          this.school.academicYear = data.data().academicYear;

          for (let i = 0; i < data.data().roomAmount; i++) {
            let newRoom = "ป.6/" + (i + 1);
            this.school.roomList.push(newRoom);
          }

          this.school.room = this.school.roomList[0];
          this.school.roomOptions = this.school.roomList;
        });
    },
    saveStudent() {
      if (
        this.input.name == "" ||
        this.input.surname == "" ||
        this.input.studentId == "" ||
        this.input.no == ""
      ) {
        this.notifyRed("กรุณากรอกข้อมูลให้ครบ");
        return;
      }

      this.input.password = this.genpassword(this.input.studentId);
      db.collection("Student")
        .add(this.input)
        .then(() => {
          this.notifyGreen("บันทึกข้อมูลเรียบร้อยแล้ว");
          this.input.name = "";
          this.input.surname = "";
          this.input.studentId = "";
          this.input.no = "";
        });
    },
    editClear() {
      this.input.name = "";
      this.input.surname = "";
      this.input.studentId = "";
      this.input.no = "";
      this.input.password = "";
    },
    editBtn(key) {
      this.input.name = "";
      this.input.surname = "";
      this.input.studentId = "";
      this.input.no = "";
      this.input.password = "";
      this.editKey = key;
      this.editShow = true;
      db.collection("Student")
        .doc(key)
        .get()
        .then(data => {
          this.input = data.data();
        });
    },
    saveEditStudent() {
      db.collection("Student")
        .doc(this.editKey)
        .set(this.input)
        .then(() => {
          this.notifyGreen("บันทึกข้อมูลเรียบร้อยแล้ว");
          this.input.name = "";
          this.input.surname = "";
          this.input.studentId = "";
          this.input.no = "";
          this.editShow = false;
        });
    },
    deleteBtn(key) {
      this.$q
        .dialog({
          title: "คำเตือน",
          message: "คุณต้องการลบข้อมูลหรือไม่",
          ok: "ยืนยัน",
          cancel: "ยกเลิก",
          persistent: true
        })
        .onOk(() => {
          db.collection("Student")
            .doc(key)
            .delete()
            .then(() => {
              this.notifyGreen("ลบข้อมูลเรียบร้อยแล้ว");
            });
        });
    },
    loadStudent() {
      this.input.room = this.school.room;
      db.collection("Student")
        .where("schoolCode", "==", this.$route.params.schoolcode)
        .where("year", "==", this.$route.params.year)
        .where("room", "==", this.school.room)
        .onSnapshot(doc => {
          this.data = [];
          doc.forEach(data => {
            let dataTemp = {
              key: data.id
            };
            let dataFinal = { ...dataTemp, ...data.data() };
            this.data.push(dataFinal);
          });
          this.data.sort((a, b) => {
            return a.no - b.no;
          });
        });
    },
    genpassword(studentid) {
      //สร้าง password สำหรับแต่ละ user
      let schoolcode = Number(this.school.code);
      studentid = studentid;
      let password =
        ((schoolcode ** 3 + studentid ** 2) / (studentid + schoolcode / 2)) *
        schoolcode ** 2;
      password = password.toFixed(0);
      password = password.substring(password.length - 4, password.length);
      return password;
    }
  },

  mounted() {
    this.loadschool();
    this.loadStudent();
  }
};
</script>

<style scoped>
.dropfile {
  width: 300px;
  height: 25px;
  line-height: 25px;
}
</style>