<template>
  <q-page class="bg2">
    <div class="row bg6 q-py-lg">
      <div class="col-1"></div>
      <div class="col-10 self-center" align="center">
        <div class="text-h5">นักเรียน</div>
      </div>
    </div>
    <div class="mainInputDiv" align="center">
      <div class="q-pb-md q-pt-lg">
        <q-select
          map-options
          emit-value
          use-input
          hide-selected
          fill-input
          input-debounce="0"
          class="bg-white"
          square
          outlined
          @filter="filterFn"
          v-model="studentObj.school"
          :options="schoolOption"
          label="โรงเรียน"
          @input="loadAcademicYear()"
        />
      </div>
      <div class>
        <q-select
          class="bg-white"
          square
          outlined
          map-options
          emit-value
          v-model="studentObj.academicYear"
          :options="academicYearOption"
          label="ปีการศึกษา"
        />
      </div>
      <div class="q-pt-md">
        <q-btn
          label="เลือก "
          class="bg3 text-white"
          @click="selectBtn()"
          style="width:100%"
          :disable="!nextShow"
        ></q-btn>
      </div>
    </div>
  </q-page>
</template>

<script>
import { db } from "../../router/index.js";

export default {
  data() {
    return {
      schoolCode: "",
      studentObj: {
        school: "",
        academicYear: ""
      },
      academicYearOption: [],
      schoolOption: [],
      schoolList: [],
      nextShow: false
    };
  },
  methods: {
    filterFn(val, update, abort) {
      update(() => {
        if (val == "") {
          this.schoolOption = this.schoolList;
          return;
        }
        const needle = val.toLowerCase();
        this.schoolOption = this.schoolList.filter(
          v => v.label.toLowerCase().indexOf(needle) > -1
        );
      });
    },

    loadSchool() {
      this.loadingShow();
      db.collection("School")
        .orderBy("schoolCode")
        .get()
        .then(doc => {
          if (doc.size > 0) {
            doc.forEach(element => {
              let datakey = {
                label:
                  element.data().schoolCode + " - " + element.data().schoolName,
                value: element.id
              };

              this.schoolList.push(datakey);
            });
            this.studentObj.school = this.schoolList[0].value;
            this.schoolOption = this.schoolList;
            this.schoolCode = this.schoolList[0].value;
            this.loadAcademicYear();
          } else {
            this.loadingHide();
          }
        });
    },
    selectBtn() {
      this.$router.push(
        "/student/add" +
          "/" +
          this.studentObj.school +
          "/" +
          this.studentObj.academicYear
      );
    },
    loadAcademicYear() {
      this.loadingShow();
      this.academicYearOption = [];
      this.studentObj.academicYear = "";

      db.collection("AcademicYear")
        .where("school", "==", this.studentObj.school)
        .get()
        .then(doc => {
          if (doc.size > 0) {
            doc.forEach(element => {
              let dataAcademic = {
                value: element.id,
                label: element.data().academicYear
              };
              this.academicYearOption.push(dataAcademic);
            });
            this.academicYearOption.sort((a, b) => {
              let apart = a.label.split("/");
              let bpart = b.label.split("/");
              if (Number(apart[1]) == Number(bpart[1])) {
                return Number(apart[0]) - Number(bpart[0]);
              } else {
                return Number(apart[1]) - Number(bpart[1]);
              }
            });
            this.studentObj.academicYear = this.academicYearOption[0].value;

            this.nextShow = true;
            this.loadingHide();
          } else {
            this.studentObj.academicYear = "";
            this.nextShow = false;
            this.loadingHide();
          }
        });
    }
  },
  mounted() {
    this.loadSchool();
  }
};
</script>

<style >
</style>