<template>
  <div class="bg-print">
    <q-resize-observer @resize="onResize" />
    <div align="right" id="printBtn" class="print-bar">
      <div class="print-bar-color">
        <q-btn class="fix-btn1 q-ma-sm" flat @click="printBtn()" round>
          <q-icon name="fas fa-print" color="white" />
        </q-btn>
        <q-btn class="fix-btn q-ma-sm" flat @click="closeBtn()" round>
          <q-icon name="fas fa-times" color="white" />
        </q-btn>
      </div>
    </div>

    <div size="A4" class="q-pa-md printMe">
      <div class="row q-mt-lg" style="border:1px solid#000;">
        <div class="col-3 self-center" style="border-right:1px solid#000;">
          <div align="center" class="q-pa-xs">
            <q-img src="../../statics/images/WinnerOnetLogo.png" style="width:170px;"></q-img>
          </div>
        </div>
        <div class="col-9 self-center" align="center" v-if="$route.params.school != undefined">
          <span class="text-h6">โรงเรียน {{school.name + " - " + school.room }}</span>
        </div>
      </div>
      <table class="table">
        <thead>
          <tr>
            <th colspan="3">
              <div class="q-mt-md"></div>
            </th>
          </tr>
          <tr class="text-h6 q-mt-md" style="border:1px solid#000;">
            <td class="q-pa-sm border-header" style="width:100px;border:1px solid#000;">
              <div align="center">เลขที่</div>
            </td>
            <td class="q-pa-sm" style="border:1px solid#000;">
              <div>ชื่อ-นามสกุล</div>
            </td>
            <td class="q-pa-sm" style="width:150px;border:1px solid#000;">
              <div align="center">รหัสผู้ใช้งาน</div>
            </td>
            <td class="q-pa-sm" style="width:100px;border:1px solid#000;">
              <div align="center">รหัสผ่าน</div>
            </td>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(item,index) in data" :key="index">
            <td class="q-pa-sm border-header">
              <div align="center">{{item.no}}</div>
            </td>
            <td class="q-pa-sm border-header">
              <div aling="center">{{item.name + " " + item.surname}}</div>
            </td>
            <td class="q-pa-sm border-header">
              <div align="center">{{school.code + item.studentId}}</div>
            </td>
            <td class="q-pa-sm border-header">
              <div align="center">{{item.password}}</div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      data: this.$route.params.data,
      school: this.$route.params.school,
      innerWidth: window.innerWidth,
      innerHeight: window.innerHeight
    };
  },
  methods: {
    printBtn() {
      window.print();
    },
    closeBtn() {
      this.$router.go(-1);
    },
    onResize(size) {
      (this.innerWidth = size.width), (this.innerHeight = size.height);
    }
  },
  mounted() {
    if (
      this.$route.params.data == undefined ||
      this.$route.params.school == undefined
    ) {
      this.$router.go(-1);
    }
  }
};
</script>

<style scoped>
.bg-print {
  background-color: rgb(161, 161, 161);
  min-height: 100vh;
  max-height: fit-content;
  counter-reset: page;
  padding: 15px 0px 15px 0px;
}
.print-bar {
  width: 100%;
  min-width: max-content;
  margin-bottom: 65px;
}
.print-bar-color {
  position: fixed;
  top: 0;
  height: 60px;
  width: 100%;
  background: rgb(43, 43, 43);
  z-index: 5000;
}
.fix-btn {
  position: fixed;
  right: 0;
}
.fix-btn1 {
  position: fixed;
  right: 0;
  margin-right: 65px;
}
.printMe {
  position: relative;
  background: white;
  display: block;
  margin: 0px auto;
  box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
  font-family: Pridi;
}

.printMe[size="A4"] {
  width: 210mm;
  min-height: 297mm;
  max-height: fit-content;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.border-header {
  border: 1px solid #000;
}

.brx {
  border: 1px solid#f00;
}

@media print {
  body {
    background: #ffffff;
  }
  .bg-print {
    padding: 0px 0px;
  }
  body,
  .printMe {
    background: #ffffff;
    margin: 0px 0px;
    margin-bottom: 0px;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    border: transparent;
  }
  #printBtn {
    display: none;
  }
}
@page {
  margin: 0mm;
  size: 210mm 297mm;
}
</style>