<template>
  <q-page class="bg-1">
    <div class="row q-py-lg bg-white">
      <div class="col-12 self-center" align="center">
        <div class="text-h5">ติดตามผล</div>
      </div>
    </div>
    <div class="row justify-between">
      <div class="q-pt-md q-px-md" style="max-width:580px;  width:50%">
        <q-select
          square
          outlined
          v-model="year"
          :options="academicYear"
          emit-value
          map-options
          label="ปีการศึกษา"
          @input="loadData()"
        />
      </div>
    </div>
    <div class="q-pb-lg">
      <div v-for="(item,index ) in  data " :key="index " class="q-pt-md q-px-md">
        <table class="my-table">
          <tr>
            <td style="width:300px;">
              <span
                v-if=" item.roomName == 'ป.6/1' "
              >{{item.schoolCode +" "+"โรงเรียน"+" "+ item.schoolName}}</span>
            </td>
            <td style="width:100px; ">{{item.roomName }}</td>
            <td>
              <div class="row" align="center">
                <div v-for="i in 9  " :key="i" class="col q-px-xs">
                  <q-btn
                    style="height:60px"
                    outline
                    square
                    class="full-width"
                    :class="{'bg-green text-white':item.section.includes(i)   } "
                  >
                    <div class="q-mx-sm" align="center">
                      {{i}}
                      <br />
                    </div>
                    <div
                      align="center"
                      v-show="item.section.includes(i)"
                    >{{ item.timeSection[item.section.indexOf(Number(item.section.filter(x => { return x == i})))] }}</div>
                    <!-- item.timeSection[item.section[i]] -->
                  </q-btn>
                </div>
              </div>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </q-page>
</template>


<script>
import { db } from "../../router/index.js";
export default {
  data() {
    return {
      data: [],
      academic: [],
      year: 2562,
      academicYear: [2562, 2563, 2564, 2565, 2566, 2567, 2568, 2569, 2570],
      school: "",

      schoolKey: ""
    };
  },
  methods: {
    async loadData() {
      this.loadingShow();
      console.clear();
      db.collection("StudyplanReportLog")
        .get()
        .then(doc5 => {
          doc5.forEach(element => {
            // console.log(element.data().time);
          });
        });

      this.data = [];
      // รับปีการศึกษาเข้าตัวแปร academicYear
      // วนหา schoolKey ใน colection academicYear
      //-- โหลดชื่อโรงเรียน/รหัสโรงเรียน ใน colection School
      //-- เก้บค่า schoolKey ชื่อโรงเรียน schoolCode
      // -- เก็บค่าห้องตาม roomAmount
      // -- where ห้อง โรงเรียน
      //  --โหลด  section
      db.collection("AcademicYear")
        .where("academicYear", "==", this.year)
        .get()
        .then(async doc => {
          doc.forEach(element => {
            let dataKey = {
              key: element.id
            };
            let final = {
              ...dataKey,
              ...element.data()
            };
            // โหลดโรงเรียน doc ที่ โรงเรียนที่อยู่  colection academicYear
            db.collection("School")
              .doc(element.data().school)
              .get()
              .then(async doc2 => {
                // การวน ค่าห้อง
                for (let i = 1; i <= element.data().roomAmount; i++) {
                  let section = [];
                  let dateTime = [];
                  let time = "";
                  let roomName = "ป.6/" + i;
                  let finalData = {
                    schoolCode: doc2.data().schoolCode,
                    schoolName: doc2.data().schoolName,
                    roomName: roomName
                  };
                  //  ต้องรอก่อน
                  await db
                    .collection("StudyplanReportLog")
                    .where("schoolKey", "==", doc2.id)
                    .where("classroom", "==", roomName)
                    .where("academicKey", "==", final.key)
                    .get()
                    .then(async doc3 => {
                      let dataLearn = [];
                      doc3.forEach(element1 => {
                        section.push(Number(element1.data().section));
                        time = element1.data().time;
                        dataLearn.push(element1.data());
                      });
                      section.sort((a, b) => {
                        return a - b;
                      });
                      dataLearn.sort((a, b) => {
                        return a.section - b.section;
                      });

                      let setTime = time.date;
                      finalData.time = setTime;
                      // การตัดตัวเลขซ้ำออก
                      let set = new Set(section);

                      // การทำไห้เป็น อาเล
                      finalData.section = Array.from(set);
                      finalData.timeSection = [];

                      // if (
                      //   roomName == "ป.6/2" &&
                      //   doc2.id == "vVvtdIsgPe9NQSzLBCQ5"
                      // ) {
                      // console.log(
                      // dataLearn.map(x => {
                      //   return x.microtime;
                      // })
                      // dataLearn.filter((x) => {
                      //   return x.section
                      // })
                      // Math.max.apply(
                      //   Math,
                      //   dataLearn.map(function(o) {
                      //     return o.microtime;
                      //   })
                      // )
                      // );
                      for (let j = 0; j < finalData.section.length; j++) {
                        // console.log(
                        let tempData = dataLearn.filter(x => {
                          return x.section == finalData.section[j];
                        });

                        tempData.sort((a, b) => {
                          return b.microtime - a.microtime;
                        });
                        console.log(tempData);
                        finalData.timeSection[j] = tempData[0].time.date;
                        // console.log(tempData);
                        // console.log(
                        //   Math.max.apply(
                        //     Math,
                        //     dataLearn.map(o => {
                        //       return o.microtime;
                        //     })
                        //   )
                        // );
                        // );
                      }
                      // }

                      this.data.push(finalData);
                    });
                }
                this.data.sort((a, b) => {
                  return a.schoolCode - b.schoolCode;
                });
                this.loadingHide();

                // โหลดข้อมูลการเรียน
              });
          });
        });
    },
    loadTest() {
      // this.data.forEach(element => {
      //   db.collection("StudyplanReportLog")
      //   .where("roomName","==",element.roomName)
      // });
      // db.collection("StudyplanReportLog")
      //   .where("schoolKey", "==", "vVvtdIsgPe9NQSzLBCQ5")
      //   .where("classroom", "==", "ป.6/2")
      //   .get()
      //   .then(doc => {
      //     doc.forEach(element => {
      //       if (element.data().section == "6") {
      //         console.log(element.data().time, element.data().section);
      //       }
      //     });
      //   });
    }
  },
  mounted() {
    this.loadData();
  }
};
</script>

<style scoped>
.bg1 {
  background: #6a75ca;
}
.colorPlus {
  color: #f5f7fb;
}
.colorDelete {
  color: #6a75ca;
}
.me-border {
  border: 1px solid;
}
.bg-1 {
  background: #f5f7fb;
}
.brx {
  border: 1px solid#f00;
}
.my-table {
  width: 100%;
}
</style>