<template>
  <div class="bg">
    <q-resize-observer @resize="onResize" />
    <div class="absolute-center full-width q-pa-md" align="center">
      <div class="row card shadow-5">
        <div
          class="col-md-6 text-white bg-blue-grey-10 rounded-borders shadow-5"
          v-if="innerWidth > 1023"
        >
          <div align="center">
            <div class="q-mt-xl q-pt-lg">
              <img style="width:180px;" src="../assets/loginlogo.png" />
            </div>
            <div class="q-mt-lg">
              <span class="text-h5">O-NET</span>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-xs-12 bg-grey-3 rounded-borders q-pa-md" align="center">
          <div class="q-pt-md">
            <q-icon color="blue-grey-10" size="90px" name="fas fa-user-circle" />
          </div>
          <div class="q-px-lg q-pb-md">
            <div>
              <q-input v-model="tel" ref="phoneNumber" label="เบอร์โทรศัพท์" mask="##########" />
            </div>
            <div>
              <q-input
                v-model="password"
                mask="####"
                :type="isPwd ? 'password' : 'text'"
                label="รหัสผ่าน"
                @keyup.enter="login()"
              >
                <template v-slot:append>
                  <q-icon
                    :name="isPwd ? 'visibility_off' : 'visibility'"
                    class="cursor-pointer"
                    @click="isPwd = !isPwd"
                  />
                </template>
              </q-input>
            </div>
          </div>

          <div class="q-py-lg">
            <q-btn
              class="btn"
              :disable="isCheckLogin"
              @click="login()"
              color="secondary"
              label="เข้าสู่ระบบ"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { db } from "../router/index.js";
export default {
  data() {
    return {
      isCheckLogin: false,
      isPwd: true,
      tel: "",
      password: "",
      innerWidth: window.innerWidth,
      innerHeight: window.innerHeight
    };
  },
  methods: {
    login() {
      if (this.tel == "" || this.password == "") {
        this.notifyRed("เบอร์โทรศัพท์ / รหัสผ่านไม่ถูกต้อง");
      } else {
        this.isCheckLogin = true;
        this.tel = this.tel.toLowerCase();
        db.collection("Account")
          .where("tel", "==", this.tel)
          .where("password", "==", this.password)
          .get()
          .then(data => {
            if (data.size > 0) {
              data.forEach(element => {
                let keyData = {
                  key: element.id
                };
                let dataFinal = {
                  key: keyData.key,
                  userKey: element.data().userKey,
                  name: element.data().name
                };
                this.$q.localStorage.set("currentPage", "/studyplan");
                this.$q.localStorage.set("accountData", dataFinal);
                this.$router.push("/studyplan");
              });
            } else {
              this.isCheckLogin = false;
              this.notifyRed("เบอร์โทรศัพท์ / รหัสผ่านไม่ถูกต้อง");
            }
          });
      }
    },
    checklogin() {
      let local = this.$q.localStorage.getItem("accountData");
      if (local == "" || local == null) {
      } else {
        this.$router.push("/welcomeback");
      }
    },
    onResize(size) {
      (this.innerWidth = size.width), (this.innerHeight = size.height);
    }
  },
  mounted() {
    this.checklogin();
    this.$refs.phoneNumber.focus();
  }
};
</script>

<style scoped>
.btn {
  width: 140px;
}

.card {
  max-width: 720px;
  width: 100%;
  height: 350px;
}
.card-small {
  max-width: 500px;
  width: 100%;
}
.brx {
  border: 1px solid red;
}
.bg {
  width: 100%;
  height: 100vh;
  background-image: url("../assets/bg-dark.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
</style>