<template>
  <div class="bg">
    <div style="overflow: hidden; ">
      <transition
        appear
        enter-active-class="animated bounceInDown"
        leave-active-class="animated bounceOutUp"
      >
        <div class="row my-hv justify-center items-center relative-position" v-show="isLoadData">
          <div
            class="bg-grey-2 rounded-borders relative-position shadow-5"
            style="max-width: 360px; width:90%; height: fit-content"
            align="center"
          >
            <div
              class="bg3 absolute-top rounded-borders q-pa-xs shadow-5"
              style="width:50px; height: calc(100vh - 50%); margin: auto; top: calc(-100vh + 240px)"
            >
              <div class="rounded-borders full-width full-height" style="border: 1px dashed black"></div>
            </div>
            <div class="bg-blue-grey-10">
              <div class="q-pa-sm" align="center">
                <div class="my-border bg-black"></div>
              </div>
              <div class="text-white" align="center">
                <div class="q-py-sm">
                  <div class="text-h5" style="margin-top:-5px;">O-NET</div>
                </div>
              </div>
            </div>
            <div class="q-pt-md q-px-md q-pb-lg">
              <div align="center" class="text-h5">
                <span>ออกจากระบบ</span>
              </div>

              <div class="q-pt-lg" align="center">
                <q-icon name="fas fa-user-circle" class="text-blue-grey-10" size="70px"></q-icon>
              </div>
              <div align="center" class="q-pt-md text-h6">
                <span>{{showUser.name}}</span>
              </div>

              <div align="center" class="q-pt-lg">
                <q-btn
                  class="bg3 text-white"
                  @click="logoutHere()"
                  style="width: 100%;"
                  :disable="!isLoadData"
                >เฉพาะอุปกรณ์ปัจจุบัน</q-btn>
              </div>
              <div align="center" class="q-pt-md">
                <q-btn
                  class="bg3 text-white"
                  @click="logoutAll()"
                  style="width: 100%;"
                  :disable="!isLoadData"
                >อุปกรณ์ทั้งหมด</q-btn>
              </div>
              <div align="center" class="q-pt-md">
                <q-btn
                  @click="cancelBtn()"
                  color="grey-2"
                  text-color="black"
                  style="width: 100%;"
                  :disable="!isLoadData"
                >กลับสู่โปรแกรม</q-btn>
              </div>
            </div>
          </div>
        </div>
      </transition>
    </div>
  </div>
</template>

<script>
import { db } from "../router/index.js";
export default {
  data() {
    return {
      showUser: {},
      isLoadData: false
    };
  },
  methods: {
    loadData() {
      db.collection("Account")
        .doc(this.account.key)
        .onSnapshot(data => {
          this.showUser = {
            name: data.data().name
          };
          this.isLoadData = true;
        });
    },
    logoutAll() {
      this.isLoadData = false;
      setTimeout(() => {
        db.collection("Account")
          .doc(this.account.key)
          .update({
            userKey: Math.floor(Math.random() * 9999999999 + 1)
          });
      }, 1000);
    },
    logoutHere() {
      this.isLoadData = false;
      setTimeout(() => {
        this.snapVersion();
        this.$q.localStorage.set("accountData", "");
        this.$q.localStorage.set("currentPage", "");
        this.$router.push("/");
      }, 1000);
    },
    cancelBtn() {
      this.isLoadData = false;
      setTimeout(() => {
        this.$router.push(this.$q.localStorage.getItem("currentPage"));
      }, 1000);
    }
  },
  mounted() {
    this.loadData();
  }
};
</script>
<style>
.brx {
  border: 1px solid#f00;
}
.my-hv {
  height: 100vh;
}

.my-border {
  border: 1px solid white;
  width: 60px;
  height: 12px;
}
.my-box {
  width: 360px;
  height: calc(100vh - 60%);
}
.animated {
  animation-duration: 1.5s;
}
.bg {
  width: 100%;
  height: 100vh;
  background-image: url("../assets/bg-dark.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
</style>
