<template>
  <div class="bg">
    <div class="fixed-center">
      <div class="row card bg-grey-3 shadow-5">
        <div class="col-6 text-white bg-blue-grey-10 box shadow-5">
          <div align="center">
            <div class="q-mt-xl q-pt-lg">
              <img style="width:180px; height:180px" src="../assets/loginlogo.png" />
            </div>
            <div class="q-my-lg">
              <span class="text-h5">O-NET</span>
            </div>
          </div>
        </div>
        <div class="col-6 q-pa-md" align="center">
          <div class="q-pt-md">
            <q-icon color="blue-grey-10" size="90px" name="fas fa-user-circle" />
          </div>
          <div class="q-pa-md text-h6">{{this.account.name}}</div>
          <div>
            <div class="col-12 q-pa-md">
              <q-btn class="btn bg3 text-white" @click="loginBtn()" label="เข้าสู่ระบบ" />
            </div>
            <div @click="loginAgain()" class="col-12 q-py-md">
              <u class="cursor-pointer">เข้าสู่ระบบด้วยบัญชีผู้ใช้อื่น</u>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { db } from "../router/index.js";
export default {
  data() {
    return {
      isPwd: true,
      tel: ""
    };
  },
  methods: {
    loginBtn() {
      this.$router.push(this.$q.localStorage.getItem("currentPage"));
    },
    loginAgain() {
      this.$q.localStorage.set("accountData", "");
      this.$q.localStorage.set("currentPage", "");
      this.$router.push("/");
    }
  },
  mounted() {}
};
</script>

<style scoped>
.btn {
  width: 140px;
}

.box {
  border-radius: 10px;
}
.card {
  border-radius: 10px;
  width: 720px;
  height: 350px;
}
.brx {
  border: 1px solid red;
}
.bg {
  width: 100%;
  height: 100vh;
  background-image: url("../assets/bg-dark.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
</style>