<template >
  <q-page class="bg2">
    <div class="row q-py-lg bg6">
      <div class="col-12 self-center" align="center">
        <div v-show="this.$route.name == 'useradd'" class="text-h5">เพิ่มผู้ใช้งาน</div>
        <div v-show="this.$route.name == 'useredit'" class="text-h5">แก้ไขผู้ใช้งาน</div>
      </div>
    </div>
    <div class="mainInputDiv" align="center">
      <div class="q-pt-lg">
        <div class="q-mb-md bg-white box">
          <q-input
            v-if="this.$route.name!='useredit'"
            square
            outlined
            v-model="user.name"
            label="ชื่อผู้ใช้งาน"
            :rules="[value => value.length >0]"
            ref="name"
          />
          <q-input
            v-if="this.$route.name =='useredit'"
            :readonly="user.name =='admin'"
            square
            outlined
            v-model="user.name"
            label="ชื่อผู้ใช้งาน"
            :rules="[value => value.length >0]"
            ref="name"
          />
        </div>
        <div class="q-mb-md bg-white box">
          <q-input
            square
            outlined
            v-model="user.surname"
            label="นามสกุล"
            :rules="[value => !!value]"
            ref="surname"
          />
        </div>
        <div class="q-pb-md">
          <q-select
            class="bg-white"
            square
            outlined
            :options="sexOptions"
            v-model="user.sex"
            label="เพศ"
          />
        </div>
        <div class="q-mb-md bg-white box">
          <q-input
            square
            outlined
            v-model="user.tel"
            :rules="[value => value.length >= 12 ]"
            label="เบอร์โทรศัพท์"
            mask="###-###-####"
            ref="tel"
          />
        </div>
        <div class="q-pb-md">
          <q-input class="bg-white" square outlined v-model="user.email" label="E-mail" />
        </div>
        <div class="q-pb-md">
          <q-input
            class="bg-white"
            square
            readonly
            outlined
            label="รหัสผ่าน"
            :value="user.tel.substring(8)"
            v-if="this.$route.name!='useredit'"
          />
          <q-input
            class="bg-white"
            square
            outlined
            v-model="user.password"
            label="รหัสผ่าน"
            mask="####"
            v-if="this.$route.name =='useredit'"
          />
        </div>
        <div class="row q-py-md">
          <div align="left" class="col-6 q-pr-sm">
            <q-btn label="ยกเลิก " class="bg6" @click="cancelBtn()" style="width:100%"></q-btn>
          </div>
          <div align="right" class="col-6 q-pl-sm">
            <q-btn
              label="บันทึก "
              class="bg3 text-white"
              :disable="isCheckSeve"
              @click="saveBtn()"
              style="width:100%"
            ></q-btn>
          </div>
        </div>
      </div>
    </div>
  </q-page>
</template>

<script>
import { db } from "../../router/index.js";
export default {
  data() {
    return {
      isCheckSeve: false,
      sexOptions: ["ชาย", "หญิง"],
      user: {
        name: "",
        surname: "",
        sex: "ชาย",
        tel: "",
        password: "",
        email: ""
      },
      oldPhoneNumber: ""
    };
  },
  methods: {
    loadData() {
      this.loadingShow();
      db.collection("Account")
        .doc(this.$route.params.key)
        .get()
        .then(doc => {
          this.user = doc.data();
          this.oldPhoneNumber = this.user.tel;
          this.loadingHide();
        });
    },
    saveBtn() {
      this.$refs.name.validate(); // ช่องชื่อพนักงาน
      this.$refs.surname.validate(); // ช่องนามสกุล
      this.$refs.tel.validate(); // ช่องเบอร์โทร
      //ถ้าไม่ได้กรอกข้อมูล
      if (
        this.$refs.name.hasError ||
        this.$refs.surname.hasError ||
        this.$refs.tel.hasError
      ) {
        //ขึ้นแจ้งเตือน
        this.notifyRed("กรุณากรอกข้อมูลให้ครบ");

        return;
      }
      if (this.$route.name == "useradd") {
        this.isCheckSeve = true;
        this.user.password = this.user.tel.substring(8);
        this.user.tel = this.user.tel.replace(/-/g, "");
        db.collection("Account")
          .where("tel", "==", this.user.tel)
          .get()
          .then(doc => {
            //ถ้าเบอร์โทรซ้ำ
            if (doc.size > 0) {
              this.notifyRed("เบอร์โทรศัพท์นี้มีผู้ใช้งานแล้ว");
              this.isCheckSeve = false;
            } else {
              if (this.user.name == "admin") {
                this.notifyRed("มีผู้ใช้งานแล้ว");
                this.isCheckSeve = false;
              } else {
                //ถ้าเบอร์ไม่ซ้ำให้บันทึกแบบเอาขีดออก
                this.user.tel = this.user.tel.replace(/-/g, "");
                let key = {
                  userKey: Math.floor(Math.random() * 99999)
                };
                let final = {
                  ...key,
                  ...this.user
                };
                db.collection("Account").add(final);
                this.notifyGreen("บันทึกข้อมูลเรียบร้อย");
                this.isCheckSeve = false;
                this.$router.push("/user");
              }
            }
          });
      } else {
        //บันทึกหน้าแก้ไขผู้ใช้งาน
        //ถ้ารหัสไม่ครบ 4 ตัวขึ้นแจ้งเตือน

        if (this.user.password.length != 4) {
          this.notifyRed("กรุณาใส่รหัสผ่าน 4 หลัก");
          return;
        }
        //เบอร์โทรซ้ำ
        this.isCheckSeve = true;
        if (this.oldPhoneNumber != this.user.tel) {
          db.collection("Account")
            .where("tel", "==", this.user.tel)
            .get()
            .then(doc => {
              if (doc.size > 0) {
                this.notifyRed("เบอร์โทรศัพท์นี้มีผู้ใช้งานแล้ว");
                this.isCheckSeve = false;
              } else {
                this.user.tel = this.user.tel.replace(/-/g, "");
                db.collection("Account")
                  .doc(this.$route.params.key)
                  .set(this.user);
                this.isCheckSeve = false;
                this.notifyGreen("บันทึกข้อมูลเรียบร้อย");
                this.$router.push("/user");
              }
            });
        } else {
          db.collection("Account")
            .doc(this.$route.params.key)
            .set(this.user);
          this.isCheckSeve = false;
          this.notifyGreen("บันทึกข้อมูลเรียบร้อย");
          this.$router.push("/user");
        }
      }
    },
    cancelBtn() {
      this.$router.push("/user");
    }
  },
  mounted() {
    if (this.$route.name == "useredit") {
      this.loadData();
    }
  }
};
</script>
<style >
.box {
  height: 55px;
}
</style>