<template>
  <q-page class="bg2">
    <div class="row bg6 q-py-lg">
      <div class="col-1"></div>
      <div class="col-10 self-center" align="center">
        <div class="text-h5">ผู้ใช้งาน</div>
      </div>
      <div class="col-1 q-pr-md" align="right">
        <q-btn round class="bg3 color6 no-margin" icon="fas fa-plus" @click="addBtn()"></q-btn>
      </div>
    </div>
    <div class="q-pt-lg q-px-md">
      <q-table
        :separator="separator"
        :pagination.sync="pagination"
        :data="data"
        :columns="columns"
        row-key="name"
        hide-bottom
        flat
        bordered
        square
      >
        <template v-slot:body="props">
          <q-tr :props="props">
            <q-td key="name" :props="props">{{props.row.name +" "+ props.row.surname}}</q-td>
            <q-td key="tel" :props="props">
              {{props.row.tel.substring(0, 3)
              +"-" +
              props.row.tel.substring(3, 6)
              +"-" +
              props.row.tel.substring(6)}}
            </q-td>
            <q-td key="password" :props="props">{{props.row.password }}</q-td>
            <q-td key="delete" :props="props">
              <q-btn
                :disable="props.row.name == 'admin'"
                flat
                round
                size="sm"
                class="color3"
                icon="fas fa-trash-alt"
                @click="deleteBtn(props.row.key)"
              ></q-btn>
            </q-td>
            <q-td key="edit" :props="props">
              <q-btn
                size="sm"
                flat
                round
                class="color3"
                icon="fas fa-edit"
                @click="editBtn(props.row.key)"
              ></q-btn>
            </q-td>
          </q-tr>
        </template>
      </q-table>
    </div>
  </q-page>
</template>

<script>
import { db } from "../../router/index.js";
import { log } from "util";
export default {
  data() {
    return {
      separator: "cell",
      pagination: {
        rowsPerPage: 0
      },
      columns: [
        {
          name: "name",
          align: "left",
          label: "ชื่อผู้ใช้",
          field: "name",
          sortable: true
        },
        {
          name: "tel",
          align: "center",
          label: "เบอร์โทรศัพท์",
          field: "tel",
          sortable: true,
          style: "width:200px;"
        },
        {
          name: "password",
          align: "center",
          label: "รหัสผ่าน",
          field: " password",
          style: "width:200px;"
        },
        {
          name: "delete",
          align: "center",
          label: "ลบ",
          field: " delete",
          style: " width:100px"
        },
        {
          name: "edit",
          align: "center",
          label: "แก้ไข",
          field: " edit",
          style: " width:100px"
        }
      ],
      data: []
    };
  },
  methods: {
    loadData() {
      this.loadingShow();
      db.collection("Account")
        .get()
        .then(doc => {
          this.data = [];
          doc.forEach(element => {
            let dataKey = {
              key: element.id
            };
            let final = {
              ...dataKey,
              ...element.data()
            };
            this.data.push(final);

            this.data.sort((a, b) => {
              return a.name > b.name ? 1 : -1;
            });
          });
          this.loadingHide();
        });
    },
    editBtn(key) {
      this.$router.push("/user/edit/" + key);
    },
    addBtn() {
      this.$router.push("/user/add");
    },
    deleteBtn(key) {
      if (key == this.account.key) {
        this.notifyRed("ไม่สามารถลบข้อมูลได้เนื่องจากใช้งานอยู่");
      } else {
        this.$q
          .dialog({
            title: "คำเตือน",
            message: "คุณต้องการลบข้อมูลหรือไม่",
            ok: "ยืนยัน",
            cancel: "ยกเลิก",
            persistent: true
          })
          .onOk(() => {
            db.collection("Account")
              .doc(key)
              .delete()
              .then(() => {
                this.loadData();
                this.notifyGreen("ลบข้อมูลเรียบร้อย");
              });
          });
      }
    }
  },
  mounted() {
    this.loadData();
  }
};
</script>

<style scoped>
</style>