<template>
  <div>
    <div class="text-h5">{{practiceName}}{{pageName}}</div>
  </div>
</template>

<script>
import { db } from "../router/index.js";
export default {
  props: ["dataPage"],
  data() {
    return {
      pageName: "",
      practiceName: ""
    };
  },
  methods: {
    loadSection() {
      db.collection("Section")
        .doc(this.dataPage.page)
        .onSnapshot(data => {
          this.pageName = data.data().orderId + " - " + data.data().name;
          this.setPractice();
        });
    },
    loadStudy() {
      db.collection("StudyPlan")
        .doc(this.dataPage.practice)
        .onSnapshot(data => {
          this.practiceName = data.data().name + " | ";
          this.setPractice();
        });
    },
    setPractice() {
      this.$emit("practiceName", {
        pageName: this.pageName,
        practiceName: this.practiceName
      });
    }
  },
  mounted() {
    this.loadSection();
    this.loadStudy();
  }
};
</script>