<template>
  <q-page class="bg-1">
    <div class="row q-py-lg bg-white">
      <div class="col-1"></div>
      <div class="col-10 self-center" align="center">
        <div class="text-h5">{{title}}</div>
      </div>
    </div>
    <div>
      <div class="mainInputDiv">
        <div class="q-pt-xl">
          <q-input
            class="bg-white"
            square
            label="ลำดับ"
            v-model.number="input.orderId"
            outlined
            type="number"
          />
        </div>
        <q-input
          class="bg-white q-mt-md"
          square
          label="ชื่อเรื่อง"
          v-model.trim="input.name"
          outlined
        />
        <div class="q-py-md row">
          <div align="left" class="col-6 q-pr-sm">
            <q-btn label="ยกเลิก " class="bg-white" @click="cencelBtn" style="width:100%"></q-btn>
          </div>
          <div align="right" class="col-6 q-pl-sm">
            <q-btn
              label="บันทึก "
              class="colorBtnOk text-white"
              @click="saveBtn"
              style="width:100%"
            ></q-btn>
          </div>
        </div>
      </div>
    </div>
  </q-page>
</template>

<script>
import { db } from "../../router/index.js";
export default {
  data() {
    return {
      input: {
        orderId: "",
        name: ""
      },
      title: "เพิ่มคาบเรียน",
      orderIdOld: 0
    };
  },
  methods: {
    cencelBtn() {
      this.$router.push("/section");
    },
    saveBtn() {
      //
      //check all field can not blank
      if (this.input.orderId == "" || this.input.name == "") {
        this.notifyRed("กรุณากรอกข้อมูลให้ครบ");
        return;
      }
      if (this.$route.name == "sectionedit") {
        //กรณีแก้ไข
        if (this.orderIdOld == this.input.orderId) {
          //กรณีค่า orderid ไม่เปลี่ยนแปลง
          db.collection("Section")
            .doc(this.$route.params.key)
            .update(this.input)
            .then(() => {
              this.notifyGreen("บันทึกข้อมูลเรียบร้อยแล้ว");
              this.$router.push("/section");
            });
        } else {
          //กรณีค่า orderid มีการเปลี่ยนแปลง
          //ตรวจสอบว่าค่า orderid มีการใช้งานหรือไหม
          db.collection("Section")
            .where("orderId", "==", this.input.orderId)
            .get()
            .then(doc => {
              if (doc.size > 0) {
                //กรณีมี orderId ซ้ำ
                this.notifyRed("ลำดับนี้มีการใช้งานแล้ว");
                return;
              } else {
                //กรณีไม่มี orderId ไม่ซ้ำ
                db.collection("Section")
                  .doc(this.$route.params.key)
                  .update(this.input)
                  .then(() => {
                    this.notifyGreen("บันทึกข้อมูลเรียบร้อยแล้ว");
                    this.$router.push("/section");
                  });
              }
            });
        }
      } else {
        //กรณีเพิ่มใหม่
        db.collection("Section")
          .where("orderId", "==", this.input.orderId)
          .get()
          .then(doc => {
            //check orderId is not duplicated
            if (doc.size > 0) {
              this.notifyRed("มีลำดับนี้้ใช้งานแล้ว");
              return;
            } else {
              //save data
              db.collection("Section")
                .add(this.input)
                .then(() => {
                  //show msg save complete
                  this.notifyGreen("บันทึกข้อมูลเรียบร้อยแล้ว");
                  this.$router.push("/section");
                });
            }
          });
      }
    },
    loadData() {
      db.collection("Section")
        .doc(this.$route.params.key)
        .get()
        .then(data => {
          this.input = data.data();
          this.orderIdOld = data.data().orderId;
        });
    }
  },
  mounted() {
    if (this.$route.name == "sectionedit") {
      this.loadData();
      this.title = "แก้ไขคาบเรียน";
    }
  }
};
</script>

<style scoped>
.bg1 {
  background: #6a75ca;
}
.colorPlus {
  color: #f5f7fb;
}
.mainInputDiv {
  max-width: 580px;
  width: 95%;
  margin: auto;
}
.bg-1 {
  background: #f5f7fb;
}
.brx {
  border: 1px solid red;
}
.colorBtnOk {
  background: #6a75ca;
}
</style>