<template>
  <q-page class="bg-1">
    <div class="row q-py-lg bg-white">
      <div class="col-1"></div>
      <div class="col-10 self-center" align="center">
        <div class="text-h5">คาบเรียน</div>
      </div>
      <div class="col-1 q-pr-md" align="right">
        <q-btn round class="bg1 colorPlus" icon="fas fa-plus" @click="addNewBtn()"></q-btn>
      </div>
    </div>

    <div class="q-pt-xl q-px-md">
      <q-table
        :data="data"
        :columns="columns"
        row-key="name"
        hide-bottom
        flat
        bordered
        square
        :pagination.sync="pagination"
      >
        <template v-slot:body="props">
          <q-tr :props="props">
            <q-td key="orderid" :props="props">{{props.row.orderId}}</q-td>
            <q-td key="sectionName" :props="props">{{props.row.name}}</q-td>

            <q-td key="delete" :props="props">
              <q-btn
                flat
                round
                size="sm"
                class="colorDelete"
                icon="fas fa-trash-alt"
                @click="deleteBtn(props.row.key)"
              ></q-btn>
            </q-td>
            <q-td key="edit" :props="props">
              <q-btn
                size="sm"
                flat
                round
                class="colorDelete"
                icon="fas fa-edit"
                @click="editBtn(props.row.key)"
              ></q-btn>
            </q-td>
          </q-tr>
        </template>
      </q-table>
    </div>
  </q-page>
</template>


<script>
import { db } from "../../router/index.js";
export default {
  data() {
    return {
      columns: [
        {
          name: "orderid",
          align: "center",
          label: "ลำดับ",
          field: " orderId",
          style: "width:200px"
        },
        {
          name: "sectionName",
          align: "left",
          label: "ชื่อคาบเรียน",
          field: " sectionName"
        },

        {
          name: "delete",
          align: "center",
          label: "ลบ",
          field: " delete",
          style: " width:100px"
        },
        {
          name: "edit",
          align: "center",
          label: "แก้ไข",
          field: " edit",
          style: " width:100px"
        }
      ],
      pagination: {
        rowsPerPage: 0
      },
      data: []
    };
  },
  methods: {
    addNewBtn() {
      this.$router.push("/section/add");
    },
    loadData() {
      this.data = [];
      db.collection("Section")
        .orderBy("orderId")
        .get()
        .then(doc => {
          doc.forEach(data => {
            let dataTemp = {
              key: data.id
            };
            let dataFinal = {
              ...dataTemp,
              ...data.data()
            };
            this.data.push(dataFinal);
          });
        });
    },
    editBtn(key) {
      this.$router.push("/section/edit/" + key);
    },
    deleteBtn(key) {
      this.$q
        .dialog({
          title: "ลบคาบเรียน",
          message: "คุณต้องกาลบคาบเรียนนี้ใช่หรือไม่",
          ok: "ลบ",
          cancel: "ยกเลิก",
          persistent: true
        })
        .onOk(() => {
          db.collection("Section")
            .doc(key)
            .delete()
            .then(() => {});
          this.loadData();
        });
    }
  },
  mounted() {
    this.loadData();
  }
};
</script>

<style scoped>
.bg1 {
  background: #6a75ca;
}
.colorPlus {
  color: #f5f7fb;
}
.colorDelete {
  color: #6a75ca;
}
.me-border {
  border: 1px solid;
}
.bg-1 {
  background: #f5f7fb;
}
</style>