// app global css in Sass form

@font-face 
  font-family: Prompt-Regular
  src: url('../statics/fonts/Prompt-Regular.ttf')

@font-face 
  font-family: Prompt-Bold
  src: url('../statics/fonts/Prompt-Bold.ttf')

body
 font-family: Prompt-Regular
 background-color: #f5f7fb  

.bg1
    background-color: #a5afff

.bg2
    background-color: #f5f7fb    

.bg3
    background-color: #6a75ca    

.bg4
    background-color: #707070    

.bg5
    background-color: #000000    

.bg6
    background-color: #ffffff    

.bg7
    background-color: #bbb8b8    

.bg8
    background-color: #505050    

.color1
  color: #a5afff

.color2
  color: #f5f7fb

.color3
  color: #6a75ca

.color4
  color: #707070

.color5
  color: #000000

.color6
  color: #ffffff

.color7
  color: #bbb8b8

.color8
  color: #505050

.mainInputDiv 
  max-width: 580px
  width: 95%
  margin: auto

.no-hint
  height: 55px;