<template>
  <q-page>
    <div class="row q-py-lg bg-white">
      <div class="col-3 q-pl-md"></div>
      <div class="col-6 self-center" align="center">
        <div class="text-h5">กระดาษคำตอบ | {{this.title}}</div>
      </div>
      <div class="col-3 q-pr-md" align="right">
        <q-btn
          round
          class="bg1 colorPlus q-mr-md"
          icon="fas fa-print"
          @click="printBtn()"
          :disable="!modeDraft"
        ></q-btn>

        <q-btn
          round
          class="bg1 colorPlus"
          icon="fas fa-cog"
          @click="settingBtn()"
          :disable="!modeDraft"
        >
          <q-dialog v-model="persistent" persistent transition-show="scale" transition-hide="scale">
            <q-card style="width: 400px">
              <div class="q-pa-md">
                <div class="row">
                  <div class="col-2"></div>
                  <div class="col-8 text-center text-h6">แก้ไขกระดาษคำตอบ</div>
                  <div class="col-2" align="right">
                    <q-btn size="sm" round flat icon="fas fa-times" v-close-popup></q-btn>
                  </div>
                  <div class="col-12 text-center text-body1">{{this.title}}</div>
                  <div class="col-12 q-py-md">
                    <q-input
                      class="bg-white"
                      square
                      outlined
                      v-model.number="sectionData.orderId"
                      label="รหัสลำดับ"
                    />
                  </div>
                  <div class="col-12 q-pb-md">
                    <q-input
                      class="bg-white"
                      square
                      outlined
                      v-model="sectionData.name"
                      label="ชื่อแบบฝึกหัด"
                    />
                  </div>
                  <div class="col-12 q-pb-md">
                    <q-input
                      class="bg-white"
                      square
                      outlined
                      v-model="sectionData.examTime"
                      label="เวลาที่ใช้ในการเรียน (นาที)"
                    />
                  </div>
                  <div class="col-12 q-pb-md">
                    <q-input
                      class="bg-white"
                      square
                      outlined
                      v-model="sectionData.answerTime"
                      label="เวลาที่ใช้ในการเฉลย (นาที)"
                    />
                  </div>
                  <div class="col-12" align="center">
                    <q-btn
                      flat
                      label="บันทึก"
                      v-close-popup
                      class="bg3 text-white"
                      style="width:100%"
                      @click="seveEdit()"
                    />
                  </div>
                </div>
              </div>
            </q-card>
          </q-dialog>
        </q-btn>
      </div>
    </div>
    <div class="q-pt-md q-px-md row">
      <div align="right" class="col-12">
        <q-btn
          round
          class="bg1 colorPlus"
          icon="fas fa-plus"
          @click="addBtn()"
          :disable="dataList.length == 20"
        >
          <q-dialog
            v-model="persistent1"
            persistent
            transition-show="scale"
            transition-hide="scale"
          >
            <q-card style="width: 400px">
              <div class="q-pa-md">
                <div class="row">
                  <div class="col-2"></div>
                  <div class="col-8 text-center text-h6">เพิ่มคำตอบ</div>
                  <div class="col-2" align="right">
                    <q-btn size="sm" round flat icon="fas fa-times" v-close-popup></q-btn>
                  </div>

                  <div class="col-12 text-center text-body1">{{this.title}}</div>

                  <div class="col-12 q-py-md">
                    <q-select
                      square
                      outlined
                      :options="options"
                      label="ข้อ"
                      v-model.number="question.no"
                    />
                  </div>
                  <div class="col-12 q-pb-md row">
                    <div class="col-2 q-pt-xs q-pl-sm">คำตอบ</div>
                    <div class="col-10 row">
                      <div class="col-2" align="center">
                        <q-btn
                          v-if="this.checkBtn1 == false "
                          size="sm"
                          @click="check(1)"
                          round
                          flat
                          label="1"
                          class="circle"
                        ></q-btn>
                        <q-btn
                          v-if="this.checkBtn1 == true"
                          size="sm"
                          @click="check(1)"
                          round
                          label="1"
                          color="secondary"
                        ></q-btn>
                      </div>
                      <div class="col-2" align="center">
                        <q-btn
                          v-if="this.checkBtn2 == false "
                          size="sm"
                          @click="check(2) "
                          round
                          flat
                          label="2"
                          class="circle"
                        ></q-btn>
                        <q-btn
                          v-if="this.checkBtn2 == true"
                          size="sm"
                          @click="check(2) "
                          round
                          label="2"
                          color="secondary"
                        ></q-btn>
                      </div>
                      <div class="col-2" align="center">
                        <q-btn
                          v-if="this.checkBtn3 == false "
                          size="sm"
                          @click="check(3)"
                          round
                          flat
                          label="3"
                          class="circle"
                        ></q-btn>
                        <q-btn
                          v-if="this.checkBtn3 == true"
                          size="sm"
                          @click="check(3)"
                          round
                          label="3"
                          color="secondary"
                        ></q-btn>
                      </div>
                      <div class="col-2" align="center">
                        <q-btn
                          v-if="this.checkBtn4 == false "
                          size="sm"
                          @click="check(4)"
                          round
                          flat
                          label="4"
                          class="circle"
                        ></q-btn>
                        <q-btn
                          v-if="this.checkBtn4 == true"
                          size="sm"
                          @click="check(4)"
                          round
                          label="4"
                          color="secondary"
                        ></q-btn>
                      </div>
                    </div>
                    <div class="col-12 q-pt-md">
                      <div class="row box">
                        <span class="q-pa-md">เฉลย</span>
                        <div class="col-6 q-pt-sm" style="height:40px">
                          <q-input
                            id="pdfURL"
                            accept=".pdf"
                            borderless
                            @input="value => {pdfFile = value[0]}"
                            type="file"
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-12" align="center">
                    <q-btn
                      flat
                      :disable="!isSeveData"
                      @click=" seveBtn()"
                      label="บันทึก"
                      class="bg3 text-white"
                      style="width:100%"
                    />
                  </div>
                </div>
              </div>
            </q-card>
          </q-dialog>
        </q-btn>
      </div>
      <q-dialog v-model="editShow" persistent transition-show="scale" transition-hide="scale">
        <q-card style="width: 400px">
          <div class="q-pa-md">
            <div class="row">
              <div class="col-2"></div>
              <div class="col-8 text-center text-h6">แก้ไขคำตอบข้อสอบ</div>
              <div class="col-2" align="right">
                <q-btn
                  @click="cenclePopup()"
                  size="sm"
                  round
                  flat
                  icon="fas fa-times"
                  v-close-popup
                ></q-btn>
              </div>
              <div class="col-12 text-center text-body1">{{this.title}}</div>

              <div class="col-12 q-py-md">
                <q-select outlined :options="options" label="ข้อ" v-model.number="question.no" />
              </div>
              <div class="col-12 q-pb-md row">
                <div class="col-10 row">
                  <div class="col-2 q-pt-xs q-pl-sm">คำตอบ</div>
                  <div class="col-2" align="center">
                    <q-btn
                      size="sm"
                      round
                      flat
                      icon
                      class="circle"
                      label="1"
                      :class="{'bg-secondary': question.answer ==1, 'text-white' : question.answer ==1}"
                      @click="question.answer =1"
                    ></q-btn>
                  </div>
                  <div class="col-2" align="center">
                    <q-btn
                      size="sm"
                      round
                      flat
                      icon
                      label="2"
                      class="circle"
                      :class="{'bg-secondary': question.answer ==2, 'text-white' : question.answer ==2}"
                      @click="question.answer =2"
                    ></q-btn>
                  </div>
                  <div class="col-2" align="center">
                    <q-btn
                      size="sm"
                      round
                      flat
                      icon
                      label="3"
                      class="circle"
                      :class="{'bg-secondary': question.answer ==3, 'text-white' : question.answer ==3}"
                      @click="question.answer =3"
                    ></q-btn>
                  </div>
                  <div class="col-2" align="center">
                    <q-btn
                      size="sm"
                      round
                      flat
                      icon
                      label="4"
                      class="circle"
                      :class="{'bg-secondary': question.answer ==4, 'text-white' : question.answer ==4}"
                      @click="question.answer =4"
                    ></q-btn>
                  </div>
                </div>
                <div class="col-12 q-pt-md">
                  <div class="row box">
                    <q-checkbox class="q-pa-sm" v-model="isEditpdf" label="เฉลย" />
                    <div class="col-6 q-pt-sm" style="height:40px">
                      <q-input
                        v-show="isEditpdf"
                        id="pdfURL"
                        accept=".pdf"
                        borderless
                        @input="value => {pdfFile = value[0]}"
                        type="file"
                      />
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-12" align="center">
                <q-btn
                  flat
                  label="บันทึก"
                  class="bg3 text-white"
                  style="width:100%"
                  @click="saveEditAnwer()"
                />
              </div>
            </div>
          </div>
        </q-card>
      </q-dialog>
      <div class="col-12 showNothing" align="center">
        <div class="absolute-center" v-show="dataList.length == 0">
          <div>
            <q-icon name="far fa-surprise" size="xl" />
          </div>
          <div class="q-mt-md">ยังไม่มีข้อมูลในหน้านี้</div>
        </div>
        <div class="q-py-md" v-show="dataList.length">
          <q-table
            :data="dataList"
            :columns="columns"
            row-key="name"
            hide-bottom
            flat
            bordered
            square
            separator="cell"
            :pagination.sync="pagination"
          >
            <template v-slot:body="props">
              <q-tr :props="props">
                <q-td key="questionNo" :props="props">{{props.row.no}}</q-td>
                <q-td key="answer1" :props="props">
                  <q-btn round size="sm" color="secondary" v-show="props.row.answer == 1">1</q-btn>
                  <q-btn round flat size="sm" class="circle" v-show="props.row.answer != 1">1</q-btn>
                </q-td>
                <q-td key="answer2" :props="props">
                  <q-btn round size="sm" color="secondary" v-show="props.row.answer == 2">2</q-btn>
                  <q-btn round flat size="sm" class="circle" v-show="props.row.answer != 2">2</q-btn>
                </q-td>
                <q-td key="answer3" :props="props">
                  <q-btn round size="sm" color="secondary" v-show="props.row.answer == 3">3</q-btn>
                  <q-btn round flat size="sm" class="circle" v-show="props.row.answer != 3">3</q-btn>
                </q-td>
                <q-td key="answer4" :props="props">
                  <q-btn round size="sm" color="secondary" v-show="props.row.answer == 4">4</q-btn>
                  <q-btn round flat size="sm" class="circle" v-show="props.row.answer != 4">4</q-btn>
                </q-td>
                <q-td key="answer5" :props="props">
                  <u class="cursor-pointer" @click="answerURL(props.row.id)">
                    <div v-show="props.row.pdfURL != ''">เฉลย</div>
                  </u>
                  <div v-show="props.row.pdfURL == ''">-</div>
                </q-td>
                <q-td key="delete" :props="props">
                  <q-btn
                    flat
                    round
                    size="sm"
                    class="color3"
                    icon="fas fa-trash-alt"
                    @click="deleteBtn(props.row.id)"
                  ></q-btn>
                </q-td>
                <q-td key="edit" :props="props">
                  <q-btn
                    size="sm"
                    flat
                    round
                    class="color3"
                    icon="fas fa-edit"
                    @click="editBtn(props.row.id, props.row.no, props.row.answer)"
                  ></q-btn>
                </q-td>
              </q-tr>
            </template>
          </q-table>
        </div>
      </div>
    </div>
  </q-page>
</template>
<script>
import { db, st } from "../../router/index.js";
export default {
  data() {
    return {
      isSeveData: true,
      isEditpdf: false,
      pdfFile: "",
      editShow: false,
      editKey: "",
      separator: "cell",
      pagination: {
        rowsPerPage: 0
      },
      checkBtn1: true,
      checkBtn2: false,
      checkBtn3: false,
      checkBtn4: false,
      modeDraft: true,
      persistent: false,
      persistent1: false,
      question: {
        no: 1,
        answer: 1,
        pdfURL: "",
        key: this.$route.params.key
      },

      title: "",
      section: "test",
      sectionData: "",
      time: "",
      dataList: [],
      options: [
        1,
        2,
        3,
        4,
        5,
        6,
        7,
        8,
        9,
        10,
        11,
        12,
        13,
        14,
        15,
        16,
        17,
        18,
        19,
        20
      ],
      columns: [
        {
          name: "questionNo",
          align: "center",
          label: "ลำดับข้อ",
          style: " width:100px;"
        },
        {
          name: "answer1",
          align: "center",
          label: "1"
        },
        {
          name: "answer2",
          align: "center",
          label: "2"
        },
        {
          name: "answer3",
          align: "center",
          label: "3"
        },
        {
          name: "answer4",
          align: "center",
          label: "4"
        },
        {
          name: "answer5",
          align: "center",
          label: "เฉลย"
        },
        {
          name: "delete",
          align: "center",
          label: "ลบ",
          field: " delete",
          style: " width:100px"
        },
        {
          name: "edit",
          align: "center",
          label: "แก้ไข",
          field: " edit",
          style: " width:100px"
        }
      ]
    };
  },
  methods: {
    loadSection() {
      db.collection("Section")
        .doc(this.$route.params.page)
        .get()
        .then(doc => {
          this.title = doc.data().orderId + "-" + doc.data().name;
        });
    },
    loadEdit() {
      db.collection("StudyPlan")
        .doc(this.$route.params.key)
        .get()
        .then(doc => {
          this.sectionData = doc.data();
        });
    },
    seveEdit() {
      db.collection("StudyPlan")
        .doc(this.$route.params.key)
        .set(this.sectionData);
    },
    loadData() {
      db.collection("AnswerSheet")
        .where("key", "==", this.$route.params.key)
        .onSnapshot(doc => {
          this.dataList = [];
          doc.forEach(element => {
            let dataKey = {
              id: element.id
            };
            let final = {
              ...dataKey,
              ...element.data()
            };
            this.dataList.push(final);
          });

          this.dataList.sort((a, b) => {
            return a.no - b.no;
          });
        });
    },

    deleteBtn(key) {
      this.$q
        .dialog({
          title: "คำเตือน",
          message: "คุณต้องการลบข้อมูลหรือไม่",
          ok: "ยืนยัน",
          cancel: "ยกเลิก",
          persistent: true
        })
        .onOk(() => {
          db.collection("AnswerSheet")
            .doc(key)
            .delete()
            .then(() => {
              if (this.pdfFile == "") {
                this.loadData();
                this.notifyGreen("ลบข้อมูลเรียบร้อยแล้ว");
              } else {
                st.child("/pdf/answerSheet/" + key + ".pdf").delete();
                this.loadData();
                this.notifyGreen("ลบข้อมูลเรียบร้อยแล้ว");
              }
            });
        });
    },

    check(number) {
      this.checkBtn1 = false;
      this.checkBtn2 = false;
      this.checkBtn3 = false;
      this.checkBtn4 = false;
      this.question.answer = [];
      if (number == 1) {
        this.question.answer = 1;
        this.checkBtn1 = true;
      } else if (number == 2) {
        this.question.answer = 2;
        this.checkBtn2 = true;
      } else if (number == 3) {
        this.question.answer = 3;
        this.checkBtn3 = true;
      } else if (number == 4) {
        this.question.answer = 4;
        this.checkBtn4 = true;
      }
    },
    settingBtn() {
      this.persistent = true;
    },

    editBtn(key, no, answer) {
      this.options = [
        1,
        2,
        3,
        4,
        5,
        6,
        7,
        8,
        9,
        10,
        11,
        12,
        13,
        14,
        15,
        16,
        17,
        18,
        19,
        20
      ];
      this.editShow = true;
      this.editKey = key;
      this.question.answer = answer;
      db.collection("AnswerSheet")
        .where("key", "==", this.$route.params.key)
        .get()
        .then(doc => {
          doc.forEach(data => {
            delete this.options[data.data().no - 1];
          });

          this.options = this.options.filter(Number);
          this.options.push(no);
          this.options.sort((a, b) => {
            return Number(a) - Number(b);
          });

          this.question.no = this.options[this.options.indexOf(no)];
        });
    },
    async saveEditAnwer() {
      // แก้ไขข้อมูลแต่ละข้อ
      if (this.isEditpdf) {
        // ถ้ามีการแก้ไขไฟล์ PDF
        if (this.pdfFile == "") {
          this.notifyRed("กรุณาเลือกไฟล์");
        } else {
          // ลบอันเก่าทิ้งหมดแล้ว แอดเพิ่มใหม่
          await st.child("/pdf/answerSheet/" + this.editKey + ".pdf").delete();
          await db
            .collection("AnswerSheet")
            .doc(this.editKey)
            .delete();
          let dataAnswer = await db
            .collection("AnswerSheet")
            .add(this.question);
          let getpdf = await st
            .child("/pdf/answerSheet/" + dataAnswer.id + ".pdf")
            .put(this.pdfFile);
          let getpdfURL = await getpdf.ref.getDownloadURL();
          await db
            .collection("AnswerSheet")
            .doc(dataAnswer.id)
            .update({
              pdfURL: getpdfURL
            });
          this.isEditpdf = false;
          this.checkQuestionNo();
        }
      } else {
        // ถ้าไม่มีการแก้ไขไฟล์ PDF
        await db
          .collection("AnswerSheet")
          .doc(this.editKey)
          .update({
            answer: this.question.answer,
            no: this.question.no
          })
          .then(() => {
            this.checkQuestionNo();
            this.editShow = false;
          });
      }
    },
    cenclePopup() {
      this.isEditpdf = false;
    },
    checkQuestionNo() {
      this.options = [
        1,
        2,
        3,
        4,
        5,
        6,
        7,
        8,
        9,
        10,
        11,
        12,
        13,
        14,
        15,
        16,
        17,
        18,
        19,
        20
      ];

      db.collection("AnswerSheet")
        .where("key", "==", this.$route.params.key)
        .get()
        .then(doc => {
          doc.forEach(data => {
            delete this.options[data.data().no - 1];
          });
          this.options = this.options.filter(Number);
          this.question.no = this.options[0];
          this.isSeveData = true;
        });
    },
    async seveBtn() {
      this.isSeveData = false;
      if (this.pdfFile == "") {
        db.collection("AnswerSheet").add(this.question);
        this.checkQuestionNo();
      } else {
        let dataAnswer = await db.collection("AnswerSheet").add(this.question);
        let getpdf = await st
          .child("/pdf/answerSheet/" + dataAnswer.id + ".pdf")
          .put(this.pdfFile);
        let getpdfURL = await getpdf.ref.getDownloadURL();
        await db
          .collection("AnswerSheet")
          .doc(dataAnswer.id)
          .update({
            pdfURL: getpdfURL
          });
        this.checkQuestionNo();
      }
    },
    addBtn() {
      this.checkQuestionNo();
      this.persistent1 = true;
    },
    printBtn() {
      this.$router.push({
        name: "answersheetprint",
        params: {
          data: this.dataList,
          text: this.title
        }
      });
    },
    answerURL(key) {
      db.collection("AnswerSheet")
        .doc(key)
        .get()
        .then(doc => {
          window.open(doc.data().pdfURL, "_blank");
        });
    }
  },
  mounted() {
    this.loadEdit();
    this.loadSection();
    this.loadData();
  }
};
</script>

<style scoped>
.circle {
  border: 1px solid #bdbdbd;
}
.bg1 {
  background: #6a75ca;
}
.bg-1 {
  background: #f5f7fb;
}
.colorPlus {
  color: #f5f7fb;
}
.showNothing {
  height: calc(100vh - 250px);
}
.brx {
  border: 1px solid red;
}
.box {
  border: 1px solid #bdbdbd;
}
.bg-1 {
  background: #f5f7fb;
}
</style>