<template>
  <q-page>
    <div class="row q-py-lg bg-white">
      <div class="col-3 q-pl-md"></div>
      <div class="col-6 self-center" align="center">
        <header-bar :dataPage="{page:$route.params.page,practice:$route.params.key}"></header-bar>
      </div>
      <div class="col-3 q-pr-md" align="right">
        <q-btn
          round
          class="bg3 colorPlus q-mr-md text-white"
          icon="fas fa-print"
          @click="printBtn()"
        ></q-btn>
        <q-btn round class="bg3 colorPlus text-white" icon="fas fa-cog" @click="settingBtn()"></q-btn>
      </div>
    </div>
    <q-dialog v-model="setbtn" persistent transition-show="scale" transition-hide="scale">
      <q-card style="width: 400px">
        <div class="q-pa-md">
          <div class="row">
            <div class="col-2"></div>
            <div class="col-8 text-center text-h6">แก้ไขข้อสอบ</div>
            <div class="col-2" align="right">
              <q-btn size="sm" round flat icon="fas fa-times" v-close-popup></q-btn>
            </div>

            <div class="col-12 text-center text-body1">{{sectionName}}</div>
            <div class="col-12 q-py-md">
              <q-input
                class="bg-white"
                square
                outlined
                v-model.number="sectionData.orderId"
                label="รหัสลำดับ"
              />
            </div>
            <div class="col-12 q-pb-md">
              <q-input
                class="bg-white"
                square
                outlined
                v-model="sectionData.name"
                label="ชื่อแบบฝึกหัด"
              />
            </div>
            <div class="col-12 q-pb-md">
              <q-input
                class="bg-white"
                square
                outlined
                v-model="sectionData.examTime"
                label="เวลาที่ใช้ในการเรียน (นาที:วินาที)"
              />
            </div>
            <div class="col-12 q-pb-md">
              <q-input
                class="bg-white"
                square
                outlined
                v-model="sectionData.answerTime"
                label="เวลาที่ใช้ในการเฉลย (นาที:วินาที)"
              />
            </div>
            <div class="col-12 q-pb-md">
              <q-select
                emit-value
                map-options
                square
                outlined
                :options="examOptions"
                label="ชุดข้อสอบ"
                v-model.number="sectionData.examSet"
              />
            </div>
            <div class="col-12" align="center">
              <q-btn
                flat
                label="บันทึก"
                class="bg3 text-white"
                style="width:100%"
                @click="saveSetting()"
              />
            </div>
          </div>
        </div>
      </q-card>
    </q-dialog>
    <div class="row q-pt-md q-pl-md">
      <div class="col-4">
        <div>
          <table class="btn-border bg-white" style="width:100%;">
            <tr>
              <td style="width: 150px;">
                <div class="q-pt-xs q-py-md q-pl-sm text-body1 text-grey-7 q-pr-md">โจทย์ข้อสอบ</div>
              </td>
              <td>
                <!-- ช่องเพิ่ม PDF-->
                <q-input
                  borderless
                  :type=" 'file'"
                  @input="value => uploadQuestionPDF(value[0])"
                  style="height:25px;"
                  class="q-pt-lg"
                  id="vdoURL"
                  accept=".pdf"
                  v-if="!isHasQuestionPDF"
                ></q-input>

                <a target="__blank" :href="questionURL" v-if="isHasQuestionPDF">
                  <span class="me-text-underline">question.pdf</span>
                </a>
                <q-btn
                  flat
                  dense
                  round
                  class="q-ml-xl"
                  icon="fas fa-trash"
                  v-if="isHasQuestionPDF"
                  @click="deleteQuestionFiles()"
                ></q-btn>
              </td>
            </tr>
          </table>
        </div>
      </div>
      <div class="col-4 q-pl-md">
        <div>
          <table class="btn-border bg-white" style="width:100%;">
            <tr>
              <td style="width: 150px;">
                <div class="q-pt-xs q-py-md q-pl-sm text-body1 text-grey-7 q-pr-md">เฉลยข้อสอบ</div>
              </td>
              <td>
                <!-- ช่องเพิ่ม PDF-->
                <q-input
                  borderless
                  :type=" 'file'"
                  @input="value => uploadAnswerPDF(value[0])"
                  style="height:25px;"
                  class="q-pt-lg"
                  id="vdoURL"
                  accept=".pdf"
                  v-if="!isHasAnswerPDF"
                ></q-input>

                <a target="__blank" :href="answerURL" v-if="isHasAnswerPDF">
                  <span class="me-text-underline">answer.pdf</span>
                </a>
                <q-btn
                  flat
                  dense
                  round
                  class="q-ml-xl"
                  icon="fas fa-trash"
                  v-if="isHasAnswerPDF"
                  @click="deleteAnswerFiles()"
                ></q-btn>
              </td>
            </tr>
          </table>
        </div>
      </div>
      <div class="col-4 q-pr-md q-pt-sm" align="right">
        <q-btn round class="bg3 colorPlus text-white" icon="fas fa-plus" @click="addBtn()"></q-btn>
      </div>
    </div>

    <q-dialog v-model="added" persistent transition-show="scale" transition-hide="scale">
      <q-card style="width: 400px">
        <div class="q-pa-md">
          <div class="row">
            <div class="col-2"></div>
            <div class="col-8 text-center text-h6">เพิ่มคำตอบข้อสอบ</div>
            <div class="col-2" align="right">
              <q-btn size="sm" round flat icon="fas fa-times" v-close-popup></q-btn>
            </div>

            <div class="col-12 text-center text-body1">{{sectionName}}</div>

            <div class="col-12 q-py-md">
              <q-select outlined :options="options" label="ข้อ" v-model.number="question.no" />
            </div>
            <div class="col-12 q-pb-md row">
              <div class="col-2 q-pl-sm">คำตอบ</div>
              <div class="col-10 row">
                <div class="col-3" align="center">
                  <q-btn
                    size="sm"
                    round
                    flat
                    icon
                    class="circle"
                    label="1"
                    :class="{'bg-secondary': question.answer ==1, 'text-white' : question.answer ==1}"
                    @click="question.answer =1"
                  ></q-btn>
                </div>
                <div class="col-3" align="center">
                  <q-btn
                    size="sm"
                    round
                    flat
                    icon
                    label="2"
                    class="circle"
                    :class="{'bg-secondary': question.answer ==2, 'text-white' : question.answer ==2}"
                    @click="question.answer =2"
                  ></q-btn>
                </div>
                <div class="col-3" align="center">
                  <q-btn
                    size="sm"
                    round
                    flat
                    icon
                    label="3"
                    class="circle"
                    :class="{'bg-secondary': question.answer ==3, 'text-white' : question.answer ==3}"
                    @click="question.answer =3"
                  ></q-btn>
                </div>
                <div class="col-3" align="center">
                  <q-btn
                    size="sm"
                    round
                    flat
                    icon
                    label="4"
                    class="circle"
                    :class="{'bg-secondary': question.answer ==4, 'text-white' : question.answer ==4}"
                    @click="question.answer =4"
                  ></q-btn>
                </div>
              </div>
            </div>
            <div class="col-12" align="center">
              <q-btn
                flat
                label="บันทึก"
                class="bg3 text-white"
                style="width:100%"
                @click="saveQuestion()"
              />
            </div>
          </div>
        </div>
      </q-card>
    </q-dialog>

    <q-dialog v-model="editShow" persistent transition-show="scale" transition-hide="scale">
      <q-card style="width: 400px">
        <div class="q-pa-md">
          <div class="row">
            <div class="col-2"></div>
            <div class="col-8 text-center text-h6">แก้ไขคำตอบข้อสอบ</div>
            <div class="col-2" align="right">
              <q-btn size="sm" round flat icon="fas fa-times" v-close-popup></q-btn>
            </div>

            <div class="col-12 text-center text-body1">{{sectionName}}</div>

            <div class="col-12 q-py-md">
              <q-select outlined :options="options" label="ข้อ" v-model.number="question.no" />
            </div>
            <div class="col-12 q-pb-md row">
              <div class="col-2 q-pl-sm">คำตอบ</div>
              <div class="col-10 row">
                <div class="col-3" align="center">
                  <q-btn
                    size="sm"
                    round
                    flat
                    icon
                    class="circle"
                    label="1"
                    :class="{'bg-secondary': question.answer ==1, 'text-white' : question.answer ==1}"
                    @click="question.answer =1"
                  ></q-btn>
                </div>
                <div class="col-3" align="center">
                  <q-btn
                    size="sm"
                    round
                    flat
                    icon
                    label="2"
                    class="circle"
                    :class="{'bg-secondary': question.answer ==2, 'text-white' : question.answer ==2}"
                    @click="question.answer =2"
                  ></q-btn>
                </div>
                <div class="col-3" align="center">
                  <q-btn
                    size="sm"
                    round
                    flat
                    icon
                    label="3"
                    class="circle"
                    :class="{'bg-secondary': question.answer ==3, 'text-white' : question.answer ==3}"
                    @click="question.answer =3"
                  ></q-btn>
                </div>
                <div class="col-3" align="center">
                  <q-btn
                    size="sm"
                    round
                    flat
                    icon
                    label="4"
                    class="circle"
                    :class="{'bg-secondary': question.answer ==4, 'text-white' : question.answer ==4}"
                    @click="question.answer =4"
                  ></q-btn>
                </div>
              </div>
            </div>
            <div class="col-12" align="center">
              <q-btn
                flat
                label="บันทึก"
                class="bg3 text-white"
                style="width:100%"
                @click="saveEdit()"
              />
            </div>
          </div>
        </div>
      </q-card>
    </q-dialog>
    <div class="col-12 showNothing" align="center">
      <div class="absolute-center" v-show="dataList.length == 0">
        <div>
          <q-icon name="far fa-surprise" size="xl" />
        </div>
        <div class="q-mt-md">ยังไม่มีข้อมูลในหน้านี้</div>
      </div>
      <div v-show="dataList.length" class="q-pa-md">
        <q-table
          :data="dataList"
          :columns="columns"
          row-key="name"
          hide-bottom
          flat
          bordered
          square
          separator="cell"
          :pagination.sync="pagination"
        >
          <template v-slot:body="props">
            <q-tr :props="props">
              <q-td key="questionNo" :props="props">{{props.row.no}}</q-td>
              <q-td key="answer1" :props="props">
                <q-btn round size="sm" color="secondary" v-show="props.row.answer == 1">1</q-btn>
                <q-btn round flat size="sm" class="circle" v-show="props.row.answer != 1">1</q-btn>
              </q-td>
              <q-td key="answer2" :props="props">
                <q-btn round size="sm" color="secondary" v-show="props.row.answer == 2">2</q-btn>
                <q-btn round flat size="sm" class="circle" v-show="props.row.answer != 2">2</q-btn>
              </q-td>
              <q-td key="answer3" :props="props">
                <q-btn round size="sm" color="secondary" v-show="props.row.answer == 3">3</q-btn>
                <q-btn round flat size="sm" class="circle" v-show="props.row.answer != 3">3</q-btn>
              </q-td>
              <q-td key="answer4" :props="props">
                <q-btn round size="sm" color="secondary" v-show="props.row.answer == 4">4</q-btn>
                <q-btn round flat size="sm" class="circle" v-show="props.row.answer != 4">4</q-btn>
              </q-td>
              <q-td key="delete" :props="props">
                <q-btn
                  flat
                  round
                  size="sm"
                  class="color3"
                  icon="fas fa-trash-alt"
                  @click="deleteBtn(props.row.id)"
                ></q-btn>
              </q-td>
              <q-td key="edit" :props="props">
                <q-btn
                  size="sm"
                  flat
                  round
                  class="color3"
                  icon="fas fa-edit"
                  @click="editBtn(props.row.id, props.row.no, props.row.answer)"
                ></q-btn>
              </q-td>
            </q-tr>
          </template>
        </q-table>
      </div>
    </div>
  </q-page>
</template>

<script>
import headerBar from "../../components/headerbar.vue";
import { db, st } from "../../router/index.js";
export default {
  components: {
    headerBar
  },
  data() {
    return {
      setbtn: false,
      added: false,
      editShow: false,
      pagination: {
        rowsPerPage: 0
      },
      namepractice: "",
      time: "",
      solTime: "",
      options: [
        1,
        2,
        3,
        4,
        5,
        6,
        7,
        8,
        9,
        10,
        11,
        12,
        13,
        14,
        15,
        16,
        17,
        18,
        19,
        20
      ],
      question: {
        no: 1,
        answer: 1,
        key: this.$route.params.key
      },
      examOptions: [100, 200, 300, 400],
      sectionName: "",
      sectionData: [
        {
          examSet: 100
        }
      ],
      dataList: [],
      editKey: "",
      columns: [
        {
          name: "questionNo",
          align: "center",
          label: "ลำดับข้อ",
          style: " width:100px;"
        },
        {
          name: "answer1",
          align: "center",
          label: "1"
        },
        {
          name: "answer2",
          align: "center",
          label: "2"
        },
        {
          name: "answer3",
          align: "center",
          label: "3"
        },
        {
          name: "answer4",
          align: "center",
          label: "4"
        },
        {
          name: "delete",
          align: "center",
          label: "ลบ",
          field: " delete",
          style: " width:100px"
        },
        {
          name: "edit",
          align: "center",
          label: "แก้ไข",
          field: " edit",
          style: " width:100px"
        }
      ],

      // load Files pdf
      isHasQuestionPDF: false,
      questionURL: "",

      // load Files pdf
      isHasAnswerPDF: false,
      answerURL: ""
    };
  },
  methods: {
    // SECTION upload files pdf question
    async uploadQuestionPDF(files) {
      if (files.type != "application/pdf") {
        this.notifyRed("กรุณาอัพโหลดไพล์ที่เป็น .pdf");
        return;
      }

      this.loadingShow();
      let practiceKey = this.$route.params.key;
      let setTime = {
        dataTime: await this.loadTime()
      };

      db.collection("ExamPdf")
        .doc(practiceKey)
        .get()
        .then(getId => {
          if (getId.exists) {
            db.collection("ExamPdf")
              .doc(practiceKey)
              .update(setTime)
              .then(() => {
                st.child("/pdf/exam/" + practiceKey + "-question.pdf")
                  .put(files)
                  .then(doc => {
                    doc.ref.getDownloadURL().then(data => {
                      db.collection("ExamPdf")
                        .doc(practiceKey)
                        .update({
                          questionURL: data
                        })
                        .then(() => {
                          this.loadingHide();
                          this.loadFilesPDF();
                        });
                    });
                  });
              });
          } else {
            db.collection("ExamPdf")
              .doc(practiceKey)
              .set(setTime)
              .then(() => {
                st.child("/pdf/exam/" + practiceKey + "-question.pdf")
                  .put(files)
                  .then(doc => {
                    doc.ref.getDownloadURL().then(data => {
                      db.collection("ExamPdf")
                        .doc(practiceKey)
                        .update({
                          questionURL: data
                        })
                        .then(() => {
                          this.loadingHide();
                          this.loadFilesPDF();
                        });
                    });
                  });
              });
          }
        });
    },

    // NOTE  delete files pdf question
    deleteQuestionFiles() {
      this.$q
        .dialog({
          title: "ลบข้อมูล",
          message: "คุณต้องการที่จะลบไพล์ใช่หรือไม่",
          ok: "ตกลง",
          cancel: "ยกเลิก"
        })
        .onOk(() => {
          this.loadingShow();
          let practiceKey = this.$route.params.key;

          st.child("/pdf/exam/" + practiceKey + "-question.pdf")
            .delete()
            .then(() => {
              db.collection("ExamPdf")
                .doc(practiceKey)
                .update({
                  questionURL: ""
                })
                .then(() => {
                  this.questionURL = "";
                  this.loadingHide();
                  this.loadFilesPDF();
                });
            });
        })
        .onCancel(() => {});
    },

    // SECTION upload files pdf answer
    async uploadAnswerPDF(files) {
      if (files.type != "application/pdf") {
        this.notifyRed("กรุณาอัพโหลดไพล์ที่เป็น .pdf");
        return;
      }

      this.loadingShow();

      let practiceKey = this.$route.params.key;
      let setTime = {
        dataTime: await this.loadTime()
      };

      db.collection("ExamPdf")
        .doc(practiceKey)
        .get()
        .then(getId => {
          if (getId.exists) {
            db.collection("ExamPdf")
              .doc(practiceKey)
              .update(setTime)
              .then(() => {
                st.child("/pdf/exam/" + practiceKey + "-answer.pdf")
                  .put(files)
                  .then(doc => {
                    doc.ref.getDownloadURL().then(data => {
                      db.collection("ExamPdf")
                        .doc(practiceKey)
                        .update({
                          answerURL: data
                        })
                        .then(() => {
                          this.loadingHide();
                          this.loadFilesPDF();
                        });
                    });
                  });
              });
          } else {
            db.collection("ExamPdf")
              .doc(practiceKey)
              .set(setTime)
              .then(() => {
                st.child("/pdf/exam/" + practiceKey + "-answer.pdf")
                  .put(files)
                  .then(doc => {
                    doc.ref.getDownloadURL().then(data => {
                      db.collection("ExamPdf")
                        .doc(practiceKey)
                        .update({
                          answerURL: data
                        })
                        .then(() => {
                          this.loadingHide();
                          this.loadFilesPDF();
                        });
                    });
                  });
              });
          }
        });
    },

    // NOTE  delete files pdf answer
    deleteAnswerFiles() {
      this.$q
        .dialog({
          title: "ลบข้อมูล",
          message: "คุณต้องการที่จะลบไพล์ใช่หรือไม่",
          ok: "ตกลง",
          cancel: "ยกเลิก"
        })
        .onOk(() => {
          this.loadingShow();
          let practiceKey = this.$route.params.key;

          st.child("/pdf/exam/" + practiceKey + "-answer.pdf")
            .delete()
            .then(() => {
              db.collection("ExamPdf")
                .doc(practiceKey)
                .update({
                  answerURL: ""
                })
                .then(() => {
                  this.answerURL = "";
                  this.loadingHide();
                  this.loadFilesPDF();
                });
            });
        })
        .onCancel(() => {});
    },
    saveEdit() {
      db.collection("Exam")
        .doc(this.editKey)
        .delete()
        .then(() => {
          db.collection("Exam").add(this.question);
          this.editShow = false;
        });
    },
    checkQuestionNo() {
      this.options = [
        1,
        2,
        3,
        4,
        5,
        6,
        7,
        8,
        9,
        10,
        11,
        12,
        13,
        14,
        15,
        16,
        17,
        18,
        19,
        20
      ];
      db.collection("Exam")
        .where("key", "==", this.$route.params.key)
        .get()
        .then(doc => {
          doc.forEach(data => {
            delete this.options[data.data().no - 1];
          });
          this.options = this.options.filter(Number);

          this.question.no = this.options[0];
        });
    },
    saveQuestion() {
      db.collection("Exam").add(this.question);
      this.checkQuestionNo();
    },
    printBtn() {
      this.$router.push({
        name: "examprint",
        params: {
          data: this.dataList,
          text: this.sectionName
        }
      });
    },
    addBtn() {
      this.checkQuestionNo();
      this.question.answer = 1;
      this.added = true;
    },
    settingBtn() {
      this.setbtn = true;
    },
    editBtn(key, no, answer) {
      this.options = [
        1,
        2,
        3,
        4,
        5,
        6,
        7,
        8,
        9,
        10,
        11,
        12,
        13,
        14,
        15,
        16,
        17,
        18,
        19,
        20
      ];
      this.editKey = key;
      this.question.answer = answer;

      db.collection("Exam")
        .where("key", "==", this.$route.params.key)
        .get()
        .then(doc => {
          doc.forEach(data => {
            delete this.options[data.data().no - 1];
          });
          this.options = this.options.filter(Number);
          this.options.push(no);
          this.options.sort((a, b) => {
            return Number(a) - Number(b);
          });

          this.question.no = this.options[this.options.indexOf(no)];
          this.editShow = true;
        });
    },
    deleteBtn(key) {
      this.$q
        .dialog({
          title: "คำเตือน",
          message: "คุณต้องการลบข้อมูลหรือไม่",
          ok: "ยืนยัน",
          cancel: "ยกเลิก",
          persistent: true
        })
        .onOk(() => {
          db.collection("Exam")
            .doc(key)
            .delete()
            .then(() => {
              this.notifyGreen("ลบข้อมูลเรียบร้อยแล้ว");
            });
        });
    },
    loadSection() {
      db.collection("StudyPlan")
        .doc(this.$route.params.key)
        .get()
        .then(data => {
          this.sectionData = data.data();
          db.collection("Section")
            .doc(data.data().section)
            .get()
            .then(data2 => {
              this.sectionName =
                data2.data().orderId + " - " + data2.data().name;
            });
        });
    },
    loadQuestion() {
      db.collection("Exam")
        .where("key", "==", this.$route.params.key)
        .onSnapshot(doc => {
          this.dataList = [];
          doc.forEach(data => {
            let dataTemp = {
              id: data.id
            };
            let dataFinal = { ...dataTemp, ...data.data() };
            this.dataList.push(dataFinal);
          });
          this.dataList.sort((a, b) => {
            return a.no - b.no;
          });
        });
    },
    async loadFilesPDF() {
      let practiceKey = this.$route.params.key;

      let loadQuestionFiles = await st.child("/pdf/exam/");

      let ref = await loadQuestionFiles.listAll();
      let sameQuestion = practiceKey + "-question.pdf";
      let sameAnswer = practiceKey + "-answer.pdf";

      if (ref.items.length > 0) {
        ref.items.forEach(data => {
          if (sameQuestion == data.name) {
            data.getDownloadURL().then(data => {
              this.questionURL = data;
              this.isHasQuestionPDF = true;
            });
          } else {
            this.questionURL = "";
            this.isHasQuestionPDF = false;
          }

          if (sameAnswer == data.name) {
            data.getDownloadURL().then(data => {
              this.answerURL = data;
              this.isHasAnswerPDF = true;
            });
          } else {
            this.answerURL = "";
            this.isHasAnswerPDF = false;
          }
        });
      } else {
        this.isHasQuestionPDF = false;
        this.isHasAnswerPDF = false;
      }
    },
    saveSetting() {
      db.collection("StudyPlan")
        .doc(this.$route.params.key)
        .set(this.sectionData)
        .then(() => {
          this.setbtn = false;
        });
    }
  },
  mounted() {
    this.loadSection();
    this.loadQuestion();
    this.loadFilesPDF();
  }
};
</script>

<style scoped>
.btn-border {
  border: 1px solid rgb(200, 200, 200);
}
.brx {
  border: 1px solid red;
}
.circle {
  border: 1px solid #bdbdbd;
}
.borderTable {
  border: 1px solid rgb(173, 170, 170);
}
.me-text-underline {
  text-decoration: underline;
}
</style>