<template>
  <div class="bg-print">
    <q-resize-observer @resize="onResize" />
    <div align="right" id="printBtn" class="print-bar">
      <div class="print-bar-color">
        <q-btn class="fix-btn1 q-ma-sm" flat @click="printBtn()" round>
          <q-icon name="fas fa-print" color="white" />
        </q-btn>
        <q-btn class="fix-btn q-ma-sm" flat @click="closeBtn()" round>
          <q-icon name="fas fa-times" color="white" />
        </q-btn>
      </div>
    </div>

    <div size="A4" class="q-pa-md printMe">
      <div class="row q-mt-lg" style="border:1px solid#000;">
        <div class="col-3 self-center" style="border-right:1px solid#000;">
          <div align="center" class="q-py-xs">
            <q-img src="../../statics/images/winnerOnet.png" style="width:150px;"></q-img>
          </div>
        </div>
        <div class="col-9 self-center" align="center">
          <span class="text-h6">ข้อสอบ | {{this.title}}</span>
        </div>
      </div>

      <table class="table">
        <thead>
          <tr>
            <th colspan="3">
              <div class="q-mt-md"></div>
            </th>
          </tr>
          <tr
            class="text-white text-h5 q-mt-md"
            style=" background-color:#6D6E71;border:1px solid#6D6E71;"
          >
            <td>
              <div class="q-px-lg">ข้อ 1 - {{answerSheetList.length}}</div>
            </td>
            <td>
              <div></div>
            </td>
            <td>
              <div></div>
            </td>
          </tr>
        </thead>
        <tbody>
          <tr class="text-h6" style="border:1px solid#6D6E71;">
            <td style="padding:13px;vertical-align: top;margin-bottom:5px;">
              <div class="row">
                <div class="col-6">
                  <div v-for="(item,index ) in  answerSheetList " :key="index ">
                    <div v-if="index >=0 && index <=9">
                      <span class="q-px-md">{{index+1}}</span>
                      <q-btn
                        round
                        flat
                        size="md"
                        class="circle"
                        :class="{'bg-grey-8 text-white' : item.answer == 1}"
                      >1</q-btn>
                      <q-btn
                        round
                        flat
                        size="md"
                        class="circle"
                        :class="{'bg-grey-8 text-white' : item.answer == 2}"
                      >2</q-btn>
                      <q-btn
                        round
                        flat
                        size="md"
                        class="circle"
                        :class="{'bg-grey-8 text-white' : item.answer == 3}"
                      >3</q-btn>
                      <q-btn
                        round
                        flat
                        size="md"
                        class="circle"
                        :class="{'bg-grey-8 text-white' : item.answer == 4}"
                      >4</q-btn>
                    </div>
                  </div>
                </div>
                <div class="col-6">
                  <div v-for="(item,index ) in  answerSheetList " :key="index ">
                    <div v-if="index > 9 ">
                      <span class="q-px-md">{{index +1}}</span>
                      <q-btn
                        round
                        flat
                        size="md"
                        class="circle"
                        :class="{'bg-grey-8 text-white' : item.answer == 1}"
                      >1</q-btn>
                      <q-btn
                        round
                        flat
                        size="md"
                        class="circle"
                        :class="{'bg-grey-8 text-white' : item.answer == 2}"
                      >2</q-btn>
                      <q-btn
                        round
                        flat
                        size="md"
                        class="circle"
                        :class="{'bg-grey-8 text-white' : item.answer == 3}"
                      >3</q-btn>
                      <q-btn
                        round
                        flat
                        size="md"
                        class="circle"
                        :class="{'bg-grey-8 text-white' : item.answer == 4}"
                      >4</q-btn>
                    </div>
                  </div>
                </div>
              </div>
            </td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>
<script>
import { db } from "../../router/index.js";
export default {
  data() {
    return {
      title: this.$route.params.text,
      answerSheetList: this.$route.params.data,
      innerWidth: window.innerWidth,
      innerHeight: window.innerHeight
    };
  },
  methods: {
    printBtn() {
      window.print();
    },
    closeBtn() {
      this.$router.go(-1);
    },
    onResize(size) {
      (this.innerWidth = size.width), (this.innerHeight = size.height);
    }
  },
  mounted() {
    if (this.$route.params.data == undefined) {
      this.$router.go(-1);
    }
  }
};
</script>

<style scoped>
.circle {
  margin-top: 23px;
  margin-bottom: 23px;
  margin-left: 15px;
  border: 1px solid #777777;
}
.bg-print {
  background-color: rgb(161, 161, 161);
  min-height: 100vh;
  max-height: fit-content;
  counter-reset: page;
  padding: 15px 0px 15px 0px;
}
.print-bar {
  width: 100%;
  min-width: max-content;
  margin-bottom: 65px;
}
.print-bar-color {
  position: fixed;
  top: 0;
  height: 60px;
  width: 100%;
  background: rgb(43, 43, 43);
  z-index: 5000;
}
.fix-btn {
  position: fixed;
  right: 0;
}
.fix-btn1 {
  position: fixed;
  right: 0;
  margin-right: 65px;
}
.printMe {
  position: relative;
  background: white;
  display: block;
  margin: 0px auto;
  box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
  font-family: Pridi;
}

.printMe[size="A4"] {
  width: 210mm;
  min-height: 297mm;
  max-height: fit-content;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.border-header {
  border: 1px solid #000;
}

.brx {
  border: 1px solid#f00;
}

@media print {
  body {
    background: #ffffff;
  }
  .bg-print {
    padding: 0px 0px;
  }
  body,
  .printMe {
    background: #ffffff;
    margin: 0px 0px;
    margin-bottom: 0px;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    border: transparent;
  }
  #printBtn {
    display: none;
  }
}
@page {
  margin: 0mm;
  size: 210mm 297mm;
}
</style>