<template>
  <q-page class="bg-1">
    <div class="row q-py-lg bg-white">
      <div class="col-1"></div>
      <div class="col-10 self-center" align="center">
        <div class="text-h5">เพิ่มแบบฝึกหัด</div>
      </div>
    </div>
    <div class="mainInputDiv">
      <div class="q-pt-xl">
        <q-select
          class="bg-white"
          v-model="input.section"
          label="คาบเรียน"
          outlined
          square
          :options="sectionList"
          emit-value
          map-options
        />
      </div>
      <div class="no-hint">
        <q-input
          class="q-mt-md bg-white"
          square
          label="ลำดับ"
          type="number"
          v-model.number="input.orderId"
          outlined
        />
      </div>
      <div class="q-mt-md">
        <q-select
          v-model="input.type"
          label="ประเภทแบบฝึกหัด"
          outlined
          class="bg-white"
          square
          :options="practiceList"
          @input="checkInputType()"
        />
      </div>
      <div class="no-hint">
        <q-input
          class="q-mt-md bg-white"
          square
          label="ชื่อแบบฝึกหัด"
          v-model.trim="input.name"
          outlined
        />
      </div>
      <div v-show="examMode==1">
        <q-input
          class="q-mt-md bg-white"
          square
          label="เวลาที่ใช้ในการตอบ (นาที:วินาที)"
          mask="##:##"
          v-model.trim="input.examTime"
          outlined
        />
      </div>
      <div v-show="examMode==1">
        <q-input
          class="q-mt-md bg-white"
          square
          label="เวลาที่ใช้ในการเฉลย  (นาที:วินาที)"
          mask="##:##"
          v-model.trim="input.answerTime"
          outlined
        />
      </div>
      <div v-show="examMode==2">
        <q-input
          class="q-mt-md bg-white"
          square
          label="เวลาที่ใช้ในการทำข้อสอบ (นาที:วินาที)"
          mask="##:##"
          v-model.trim="input.examTime"
          outlined
        />
      </div>
      <div v-show="examMode==2">
        <q-input
          class="q-mt-md bg-white"
          square
          label="เวลาที่ใช้ในการเฉลยข้อสอบ (นาที:วินาที)"
          mask="##:##"
          v-model.trim="input.answerTime"
          outlined
        />
      </div>
      <div v-show="examMode==3">
        <q-input
          class="q-mt-md bg-white"
          square
          label="เวลาที่ใช้ในการเรียน (นาที:วินาที)"
          mask="##:##"
          v-model.trim="input.time"
          outlined
        />
      </div>
      <div v-show="examMode==2">
        <q-select
          emit-value
          class="q-mt-md bg-white"
          map-options
          square
          outlined
          :options="examOptions"
          label="ชุดข้อสอบ"
          v-model.number="input.examSet"
        />
      </div>
      <div class="row q-py-md">
        <div align="left" class="col-6 q-pr-sm">
          <q-btn label="ยกเลิก " class="bg6" @click="cancelBtn()" style="width:100%"></q-btn>
        </div>
        <div align="right" class="col-6 q-pl-sm">
          <q-btn label="บันทึก " class="bg3 text-white" @click="saveBtn" style="width:100%"></q-btn>
        </div>
      </div>
    </div>
  </q-page>
</template>

<script>
import { db } from "../../router/index.js";
export default {
  data() {
    return {
      input: {},
      practiceList: ["กระดาษคำตอบ", "VDO", "แบบฝึกหัด", "แบบทดสอบ", "ข้อสอบ"],
      examOptions: [100, 200, 300, 400],
      sectionList: [],
      examMode: 1
    };
  },
  methods: {
    cancelBtn() {
      this.$router.push("/studyplan");
    },
    checkInputType() {
      if (this.input.type == "กระดาษคำตอบ") {
        this.examMode = 1;
      } else if (this.input.type == "ข้อสอบ") {
        this.examMode = 2;
      } else {
        this.examMode = 3;
      }
    },
    saveBtn() {
      let dataMain = {
        orderId: this.input.orderId,
        section: this.input.section,
        type: this.input.type,
        name: this.input.name
      };

      let dataExtra;
      if (this.examMode != 3) {
        dataExtra = {
          examTime: this.input.examTime,
          answerTime: this.input.answerTime
        };
      } else {
        dataExtra = {
          time: this.input.time
        };
      }

      let dataFinal = {
        ...dataMain,
        ...dataExtra
      };

      if (this.examMode == 2) {
        dataFinal.examSet = this.input.examSet;
      }

      db.collection("StudyPlan")
        .add(dataFinal)
        .then(() => {
          this.notifyGreen("บันทึกข้อมูลเรียบร้อยแล้ว");
          this.$router.push("/studyplan");
        });
    },

    loadSection() {
      db.collection("Section")
        .orderBy("orderId")
        .get()
        .then(doc => {
          doc.forEach(data => {
            let dataTemp = {
              label: data.data().orderId + "-" + data.data().name,
              value: data.id
            };

            this.sectionList.push(dataTemp);
          });
          this.input.section = this.$q.localStorage.getItem("sectionActive");
        });
    }
  },
  mounted() {
    this.loadSection();
  }
};
</script>

<style scoped>
.bg-1 {
  background: #f5f7fb;
}
</style>