<template>
  <q-page class="bg-1">
    <div class="row q-py-lg bg-white">
      <div class="col-1"></div>
      <div class="col-10 self-center" align="center">
        <div class="text-h5">แบบฝึกหัด</div>
      </div>
      <div class="col-1 q-pr-md" align="right">
        <q-btn round class="bg1 colorPlus" icon="fas fa-plus" @click="addNewBtn()"></q-btn>
      </div>
    </div>
    <div class="q-pt-xl q-px-md">
      <div class="row justify-between">
        <div style="max-width:580px;  width:50%">
          <q-select
            v-model="section"
            label="คาบเรียน"
            outlined
            class="bg-white"
            square
            :options="sectionList"
            emit-value
            map-options
            @input="loadStudyPlan()"
          />
        </div>
        <div class="brx boxr" style="max-width: 170px; width:50%">
          <div class="row">
            <div>
              <q-icon name="far fa-clock" class="colorDelete q-pt-sm q-pl-md" size="xl" />
            </div>
            <div class="self-center q-ml-md text-h6 q-mt-sm">{{converTime(totalTime)}}</div>
            <div class="self-center q-ml-sm" style="margin-top:10px;">นาที</div>
          </div>
        </div>
      </div>
    </div>

    <div class="q-pt-xl q-px-md">
      <q-table
        :data="data"
        :columns="columns"
        row-key="name"
        hide-bottom
        flat
        bordered
        square
        :pagination.sync="pagination"
      >
        <template v-slot:body="props">
          <q-tr :props="props">
            <q-td key="orderId" :props="props">{{props.row.orderId}}</q-td>
            <q-td key="practiceType" :props="props">{{props.row.type}}</q-td>
            <q-td key="practiceName" :props="props">{{props.row.name}}</q-td>
            <q-td key="time" :props="props">{{props.row.time}}</q-td>
            <q-td key="delete" :props="props">
              <q-btn
                flat
                round
                size="sm"
                class="colorDelete"
                icon="fas fa-trash-alt"
                @click="deleteBtn(props.row.key,props.row.type)"
                v-if="props.row.type != 'เฉลยข้อสอบ'"
              ></q-btn>
            </q-td>
            <q-td key="edit" :props="props">
              <q-btn
                size="sm"
                flat
                round
                class="colorDelete"
                icon="fas fa-edit"
                @click="editBtn(props.row.key, props.row.type)"
                v-if="props.row.type != 'เฉลยข้อสอบ'"
              ></q-btn>
            </q-td>
          </q-tr>
        </template>
      </q-table>
    </div>
  </q-page>
</template>

<script>
import { db } from "../../router/index.js";
export default {
  data() {
    return {
      section: "",
      sectionList: [],
      pagination: {
        rowsPerPage: 0
      },
      columns: [
        {
          name: "orderId",
          align: "center",
          label: "รหัสลำดับ",

          style: "width:200px"
        },
        {
          name: "practiceType",
          align: "center",
          label: "ประเภทแบบฝึกหัด",

          style: "width:250px"
        },
        {
          name: "practiceName",
          align: "left",
          label: "ชื่อแบบฝึกหัด"
        },
        {
          name: "time",
          align: "center",
          label: "เวลา (นาที)",

          style: "width:200px"
        },
        {
          name: "delete",
          align: "center",
          label: "ลบ",

          style: " width:100px"
        },
        {
          name: "edit",
          align: "center",
          label: "แก้ไข",

          style: " width:100px"
        }
      ],
      data: [],
      totalTime: 0
    };
  },
  methods: {
    loadSection() {
      this.sectionList = [];
      db.collection("Section")
        .orderBy("orderId")
        .get()
        .then(doc => {
          doc.forEach(data => {
            let dataTemp = data.data().orderId + "-" + data.data().name;
            let dataListTemp = {
              label: dataTemp,
              value: data.id
            };
            this.sectionList.push(dataListTemp);
          });
          if (this.$q.localStorage.getItem("sectionActive")) {
            this.section = this.$q.localStorage.getItem("sectionActive");
            this.loadStudyPlan();
          } else {
            this.$q.localStorage.set(
              "sectionActive",
              this.sectionList[0].value
            );
            this.section = this.sectionList[0].value;
            this.loadStudyPlan();
          }
        });
    },
    loadStudyPlan() {
      this.$q.localStorage.set("sectionActive", this.section);
      this.data = [];
      this.totalTime = 0;
      // console.log(this.section);
      db.collection("StudyPlan")
        .where("section", "==", this.section)
        .get()
        .then(doc => {
          // console.log(doc.size);
          doc.forEach(data => {
            let dataTemp = {
              key: data.id
            };
            let dataFinal = { ...data.data(), ...dataTemp };
            if (
              dataFinal.type == "ข้อสอบ" ||
              data.data().type == "กระดาษคำตอบ"
            ) {
              dataFinal.time = data.data().examTime;
            }
            this.totalTime += this.extractTime(dataFinal.time);

            this.data.push(dataFinal);
            if (
              data.data().type == "ข้อสอบ" ||
              data.data().type == "กระดาษคำตอบ"
            ) {
              let dataTemp2 = {
                orderId: data.data().orderId + 1,
                name: "เฉลยข้อสอบ",
                time: data.data().answerTime,
                type: "เฉลยข้อสอบ"
              };
              this.totalTime += this.extractTime(dataTemp2.time);
              this.data.push(dataTemp2);
              // console.log(this.data);
            }

            this.data.sort((a, b) => {
              return a.orderId - b.orderId;
            });
          });
        });
    },
    addNewBtn() {
      this.$router.push("/practice/add");
    },
    editBtn(key, type) {
      if (type == "กระดาษคำตอบ") {
        this.$router.push("/answersheet/" + key + "/" + this.section);
      } else if (type == "VDO") {
        this.$router.push("/vdo/" + key + "/" + this.section);
      } else if (type == "แบบฝึกหัด") {
        this.$router.push("/multiplechoice/" + key + "/" + this.section);
      } else if (type == "ข้อสอบ") {
        this.$router.push("/exam/" + key + "/" + this.section);
      } else if (type == "แบบทดสอบ") {
        this.$router.push("/test/" + key + "/" + this.section);
      }
    },
    extractTime(data) {
      let timex = data.split(":");
      return Number(timex[0]) * 60 + Number(timex[1]);
    },
    converTime(data) {
      let mindata = data % 60;

      if (mindata < 10) {
        mindata = "0" + mindata;
      }
      return Math.floor(data / 60) + ":" + mindata;
    },
    async deleteBtn(key, type) {
      let dbType = "";

      if (type == "กระดาษคำตอบ") {
        dbType = await db
          .collection("AnswerSheet")
          .where("key", "==", key)
          .get();
      } else if (type == "VDO") {
        dbType = await db
          .collection("Video")
          .where("practiceKey", "==", key)
          .get();
      } else if (type == "แบบฝึกหัด") {
        dbType = await db
          .collection("MultipleChoice")
          .doc("Draft")
          .collection("data")
          .where("practiceKey", "==", key)
          .get();
      } else if (type == "ข้อสอบ") {
        dbType = await db
          .collection("Exam")
          .where("key", "==", key)
          .get();
      } else if (type == "แบบทดสอบ") {
        dbType = await db
          .collection("Test")
          .doc("Draft")
          .collection("data")
          .where("practiceKey", "==", key)
          .get();
      }

      if (dbType.size > 0) {
        this.notifyRed("มีข้อมูลอยู่ไม่สามารถลบได้");
        return;
      }

      this.$q
        .dialog({
          title: "ลบแบบฝึกหัด",
          message: "คุณต้องการลบแบบฝึกหัดนี้ใช่หรือไม่",
          ok: "ลบ",
          cancel: "ยกเลิก",
          persistent: true
        })
        .onOk(() => {
          db.collection("StudyPlan")
            .doc(key)
            .delete()
            .then(() => {
              this.loadStudyPlan();
            });
        });
    }
  },
  mounted() {
    this.loadSection();
  }
};
</script>

<style scoped>
.bg1 {
  background: #6a75ca;
}
.colorPlus {
  color: #f5f7fb;
}
.colorDelete {
  color: #6a75ca;
}
.brx {
  border: 1px solid red;
}
.boxr {
  border-radius: 25px;
  border: 2px solid #bbbbbb;
  background-color: white;
}
.bg-1 {
  background: #f5f7fb;
}
</style>