<template>
  <div class="bg-print">
    <q-resize-observer @resize="onResize" />
    <div align="right" id="printBtn" class="print-bar">
      <div class="print-bar-color">
        <q-btn class="fix-btn1 q-ma-sm" flat @click="printBtn()" round>
          <q-icon name="fas fa-print" color="white" />
        </q-btn>
        <q-btn class="fix-btn q-ma-sm" flat @click="closeBtn()" round>
          <q-icon name="fas fa-times" color="white" />
        </q-btn>
      </div>
    </div>

    <div size="A4" class="q-pa-md printMe">
      <div class="row q-mt-lg" style="border:1px solid#000;">
        <div class="col-3 self-center" style="border-right:1px solid#000;">
          <div align="center" class="q-py-xs">
            <q-img src="../../statics/images/winnerOnet.png" style="width:150px;"></q-img>
          </div>
        </div>
        <div class="col-9 self-center" align="center">
          <span
            class="text-h6"
            v-if="$route.params.practice != undefined"
          >{{practice.practiceName + practice.pageName}}</span>
        </div>
      </div>

      <table class="table">
        <thead>
          <tr>
            <th colspan="2">
              <div class="q-mt-md"></div>
            </th>
          </tr>
        </thead>

        <tbody>
          <tr
            class="text-h6"
            v-for="(item,index) in data"
            :key="index"
            style="border:1px solid#6D6E71;"
          >
            <td
              style="width:80px;padding:13px;border:1px solid#6D6E71;vertical-align: top;margin-bottom:5px;"
            >
              <div align="center">{{index + 1}}</div>
            </td>
            <td style="padding:13px;vertical-align: top;">
              <div align="left">
                <div class="q-pb-md">
                  <span v-html="item.question"></span>
                </div>
                <div class="row" v-if="item.type == 1">
                  <div class="col-6 q-pb-sm">
                    <span
                      class="q-pa-xs"
                      :class="{'bg-secondary text-white':item.correctAnswer == '1'}"
                      v-html="'1) ' + item.choice1"
                    ></span>
                  </div>
                  <div class="col-6 q-pb-sm">
                    <span
                      class="q-pa-xs"
                      :class="{'bg-secondary text-white':item.correctAnswer == '2'}"
                      v-html="'2) ' + item.choice2"
                    ></span>
                  </div>
                  <div class="col-6 q-pb-sm">
                    <span
                      class="q-pa-xs"
                      :class="{'bg-secondary text-white':item.correctAnswer == '3'}"
                      v-html="'3) ' + item.choice3"
                    ></span>
                  </div>
                  <div class="col-6 q-pb-sm">
                    <span
                      class="q-pa-xs"
                      :class="{'bg-secondary text-white':item.correctAnswer == '4'}"
                      v-html="'4) ' + item.choice4"
                    ></span>
                  </div>
                </div>
                <div class="row" v-if="item.type == 2">
                  <div class="col-6 q-pb-sm">
                    <q-img
                      v-if="item.questionURL == ''"
                      style="width:270px;"
                      src="../../statics/images/NoImage.png"
                    ></q-img>
                    <q-img v-else style="width:270px;" :src="item.questionURL"></q-img>
                  </div>
                  <div class="col-6">
                    <div class="q-pb-sm">
                      <span
                        class="q-pa-xs"
                        :class="{'bg-secondary text-white':item.correctAnswer == '1'}"
                        v-html="'1) ' + item.choice1"
                      ></span>
                    </div>
                    <div class="q-pb-sm">
                      <span
                        class="q-pa-xs"
                        :class="{'bg-secondary text-white':item.correctAnswer == '2'}"
                        v-html="'2) ' + item.choice2"
                      ></span>
                    </div>
                    <div class="q-pb-sm">
                      <span
                        class="q-pa-xs"
                        :class="{'bg-secondary text-white':item.correctAnswer == '3'}"
                        v-html="'3) ' + item.choice3"
                      ></span>
                    </div>
                    <div class="q-pb-sm">
                      <span
                        class="q-pa-xs"
                        :class="{'bg-secondary text-white':item.correctAnswer == '4'}"
                        v-html="'4) ' + item.choice4"
                      ></span>
                    </div>
                  </div>
                </div>
                <div class="row" v-if="item.type == 3">
                  <div class="col-1 q-mr-sm" style="width:30px;" align="right">
                    <span
                      class="q-pa-xs q-pb-sm"
                      :class="{'bg-secondary text-white':item.correctAnswer == '1'}"
                    >1)&nbsp;</span>
                  </div>
                  <div class="col-5 q-pb-lg">
                    <q-img
                      v-if="item.answer1URL == ''"
                      style="width:270px;"
                      src="../../statics/images/NoImage.png"
                    ></q-img>
                    <q-img v-else :src="item.answer1URL" style="width:260px;"></q-img>
                  </div>
                  <div class="col-1 q-mr-sm" style="width:60px;" align="right">
                    <span
                      class="q-pa-xs q-pb-sm"
                      :class="{'bg-secondary text-white':item.correctAnswer == '2'}"
                    >2)&nbsp;</span>
                  </div>
                  <div class="col-5 q-pb-lg">
                    <q-img
                      v-if="item.answer2URL == ''"
                      style="width:270px;"
                      src="../../statics/images/NoImage.png"
                    ></q-img>
                    <q-img v-else :src="item.answer2URL" style="width:260px;"></q-img>
                  </div>
                  <div class="col-1 q-mr-sm" style="width:30px;" align="right">
                    <span
                      class="q-pa-xs q-pb-sm"
                      :class="{'bg-secondary text-white':item.correctAnswer == '3'}"
                    >3)&nbsp;</span>
                  </div>
                  <div class="col-5 q-pb-sm">
                    <q-img
                      v-if="item.answer3URL == ''"
                      style="width:270px;"
                      src="../../statics/images/NoImage.png"
                    ></q-img>
                    <q-img v-else :src="item.answer3URL" style="width:260px;"></q-img>
                  </div>
                  <div class="col-1 q-mr-sm" style="width:60px;" align="right">
                    <span
                      class="q-pa-xs q-pb-sm"
                      :class="{'bg-secondary text-white':item.correctAnswer == '4'}"
                    >4)&nbsp;</span>
                  </div>
                  <div class="col-5 q-pb-sm">
                    <q-img
                      v-if="item.answer4URL == ''"
                      style="width:270px;"
                      src="../../statics/images/NoImage.png"
                    ></q-img>
                    <q-img v-else :src="item.answer4URL" style="width:260px;"></q-img>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12" v-html="item.description"></div>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      data: this.$route.params.data,
      practice: this.$route.params.practice,
      innerWidth: window.innerWidth,
      innerHeight: window.innerHeight
    };
  },
  methods: {
    printBtn() {
      window.print();
    },
    closeBtn() {
      this.$router.go(-1);
    },
    onResize(size) {
      (this.innerWidth = size.width), (this.innerHeight = size.height);
    }
  },
  mounted() {
    if (
      this.$route.params.data == undefined ||
      this.$route.params.practice == undefined
    ) {
      this.$router.go(-1);
    }
  }
};
</script>

<style scoped>
.bg-print {
  background-color: rgb(161, 161, 161);
  min-height: 100vh;
  max-height: fit-content;
  counter-reset: page;
  padding: 15px 0px 15px 0px;
}
.print-bar {
  width: 100%;
  min-width: max-content;
  margin-bottom: 65px;
}
.print-bar-color {
  position: fixed;
  top: 0;
  height: 60px;
  width: 100%;
  background: rgb(43, 43, 43);
  z-index: 5000;
}
.fix-btn {
  position: fixed;
  right: 0;
}
.fix-btn1 {
  position: fixed;
  right: 0;
  margin-right: 65px;
}
.printMe {
  position: relative;
  background: white;
  display: block;
  margin: 0px auto;
  box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
  font-family: Pridi;
}

.printMe[size="A4"] {
  width: 210mm;
  min-height: 297mm;
  max-height: fit-content;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.border-header {
  border: 1px solid #000;
}

.brx {
  border: 1px solid#f00;
}

@media print {
  body {
    background: #ffffff;
  }
  .bg-print {
    padding: 0px 0px;
  }
  body,
  .printMe {
    background: #ffffff;
    margin: 0px 0px;
    margin-bottom: 0px;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    border: transparent;
  }
  #printBtn {
    display: none;
  }
}
@page {
  margin: 0mm;
  size: 210mm 297mm;
}
</style>