<template>
  <q-page>
    <div class="row q-py-lg bg-white">
      <div class="col-3 q-pl-md">
        <div class="bg3 draftbox q-pt-sm text-white" align="center">แบบร่าง</div>
      </div>
      <div class="col-6 self-center" align="center">
        <div class="text-h5">{{multipleheader}}</div>
      </div>
      <div class="col-3"></div>
    </div>
    <div class="inputbox q-pt-lg">
      <div>
        <q-select
          label="ประเภทคำถาม"
          square
          outlined
          v-model="multiple.type"
          :options="questionList"
          map-options
          emit-value
          class="bg-white"
        />
      </div>
      <div>
        <q-input
          outlined
          square
          v-model.trim.number="multiple.orderId"
          type="number"
          label="รหัสลำดับ"
          class="bg-white q-mt-md"
        />
      </div>
      <div class="q-mt-md">
        <div>คำถาม</div>
        <div class="q-pt-sm">
          <q-input square outlined type="textarea" v-model.trim="multiple.question"></q-input>
        </div>
      </div>

      <div class="q-pt-md" v-show="multiple.type == 2">
        <table style="width:100%">
          <tr>
            <td style="width:250px;">
              <div>รูปภาพสำหรับคำถาม</div>
              <div class="q-pb-sm">ขนาดรูปภาพกว้าง 320px สูง 250px</div>
            </td>
            <td>
              <div
                style="height: 57px;  border: 1px solid #bdbdbd"
                class="rounded-borders col-8 row"
              >
                <div class="col-2 self-center" v-show="isEditMode">
                  <q-checkbox v-model="isEditImage" label="รูปภาพ" />
                </div>
                <div class="col-10 self-center q-pl-md">
                  <q-input
                    square
                    borderless
                    type="file"
                    v-show="isEditImage || this.$route.name =='testadd'"
                    @input="value => {picFile = value[0]}"
                    style="height:25px;"
                    class="q-pt-lg"
                    accept=".jpg"
                  ></q-input>
                </div>
              </div>
            </td>
          </tr>
        </table>
      </div>

      <div class="q-pt-md">
        <div>ตัวเลือก #1</div>
        <div class="q-pt-sm" v-show="multiple.type!=3">
          <q-input square outlined type="textarea" v-model.trim="multiple.choice1"></q-input>
        </div>

        <div v-show="multiple.type == 3">
          <table style="width:100%">
            <tr>
              <td style="width:250px;">
                <div>รูปภาพสำหรับตัวเลือก</div>
                <div class="q-pb-sm">ขนาดรูปภาพไม่เกิน 500 px</div>
              </td>
              <td>
                <div
                  style="height: 57px;  border: 1px solid #bdbdbd"
                  class="rounded-borders col-8 row"
                >
                  <div class="col-2 self-center" v-show="isEditMode">
                    <q-checkbox v-model="isEditImage1" label="รูปภาพ" />
                  </div>
                  <div class="col-10 self-center q-pl-md">
                    <q-input
                      square
                      borderless
                      type="file"
                      v-show="isEditImage1 || !isEditMode"
                      @input="value => {picFile1 = value[0]}"
                      style="height:25px;"
                      class="q-pt-lg"
                      accept=".jpg"
                    ></q-input>
                  </div>
                </div>
              </td>
            </tr>
          </table>
        </div>
      </div>
      <div class="q-pt-md">
        <div>ตัวเลือก #2</div>
        <div class="q-pt-sm" v-show="multiple.type!=3">
          <q-input square outlined type="textarea" v-model.trim="multiple.choice2"></q-input>
        </div>
        <div v-show="multiple.type == 3">
          <table style="width:100%">
            <tr>
              <td style="width:250px;">
                <div>รูปภาพสำหรับตัวเลือก</div>
                <div class="q-pb-sm">ขนาดรูปภาพไม่เกิน 500 px</div>
              </td>
              <td>
                <div
                  style="height: 57px;  border: 1px solid #bdbdbd"
                  class="rounded-borders col-8 row"
                >
                  <div class="col-2 self-center" v-show="isEditMode">
                    <q-checkbox v-model="isEditImage2" label="รูปภาพ" />
                  </div>
                  <div class="col-10 self-center q-pl-md">
                    <q-input
                      square
                      borderless
                      type="file"
                      v-show="isEditImage2 || !isEditMode"
                      @input="value => {picFile2 = value[0]}"
                      style="height:25px;"
                      class="q-pt-lg"
                      accept=".jpg"
                    ></q-input>
                  </div>
                </div>
              </td>
            </tr>
          </table>
        </div>
      </div>
      <div class="q-pt-md">
        <div>ตัวเลือก #3</div>
        <div class="q-pt-sm" v-show="multiple.type!=3">
          <q-input square outlined type="textarea" v-model.trim="multiple.choice3"></q-input>
        </div>
        <div v-show="multiple.type == 3">
          <table style="width:100%">
            <tr>
              <td style="width:250px;">
                <div>รูปภาพสำหรับตัวเลือก</div>
                <div class="q-pb-sm">ขนาดรูปภาพไม่เกิน 500 px</div>
              </td>
              <td>
                <div
                  style="height: 57px;  border: 1px solid #bdbdbd"
                  class="rounded-borders col-8 row"
                >
                  <div class="col-2 self-center" v-show="isEditMode">
                    <q-checkbox v-model="isEditImage3" label="รูปภาพ" />
                  </div>
                  <div class="col-10 self-center q-pl-md">
                    <q-input
                      square
                      borderless
                      type="file"
                      v-show="isEditImage3 || !isEditMode"
                      @input="value => {picFile3 = value[0]}"
                      style="height:25px;"
                      class="q-pt-lg"
                      accept=".jpg"
                    ></q-input>
                  </div>
                </div>
              </td>
            </tr>
          </table>
        </div>
      </div>
      <div class="q-pt-md">
        <div>ตัวเลือก #4</div>
        <div class="q-pt-sm" v-show="multiple.type!=3">
          <q-input square outlined type="textarea" v-model.trim="multiple.choice4"></q-input>
        </div>
        <div v-show="multiple.type == 3">
          <table style="width:100%">
            <tr>
              <td style="width:250px;">
                <div>รูปภาพสำหรับตัวเลือก</div>
                <div class="q-pb-sm">ขนาดรูปภาพไม่เกิน 500 px</div>
              </td>
              <td>
                <div
                  style="height: 57px;  border: 1px solid #bdbdbd"
                  class="rounded-borders col-8 row"
                >
                  <div class="col-2 self-center" v-show="isEditMode">
                    <q-checkbox v-model="isEditImage4" label="รูปภาพ" />
                  </div>
                  <div class="col-10 self-center q-pl-md">
                    <q-input
                      square
                      borderless
                      type="file"
                      v-show="isEditImage4 || !isEditMode"
                      @input="value => {picFile4 = value[0]}"
                      style="height:25px;"
                      class="q-pt-lg"
                      accept=".jpg"
                    ></q-input>
                  </div>
                </div>
              </td>
            </tr>
          </table>
        </div>
      </div>
      <div class="q-pt-md">
        <div>ตัวเลือกที่ถูกต้อง</div>
        <div class="q-gutter-xl q-pt-sm">
          <q-radio v-model="multiple.correctAnswer" val="1" label="1" />
          <q-radio v-model="multiple.correctAnswer" val="2" label="2" />
          <q-radio v-model="multiple.correctAnswer" val="3" label="3" />
          <q-radio v-model="multiple.correctAnswer" val="4" label="4" />
        </div>
      </div>
      <div class="q-pt-md">
        <div>คำอธิบาย</div>
        <div class="q-pt-sm">
          <q-input square outlined type="textarea" v-model="multiple.description"></q-input>
        </div>
      </div>
      <div class="row q-pt-md">
        <div class="col-6 row">
          <div class="col-6"></div>
          <div class="col-6">
            <q-btn class="bg-white" style="width:200px" @click="cancelBtn()">ยกเลิก</q-btn>
          </div>
        </div>
        <div class="col-6 row q-mb-md">
          <div class="col-6">
            <q-btn class="bg3 text-white" style="width:200px" @click="saveBtn()">บันทึก</q-btn>
          </div>
          <div class="col-6"></div>
        </div>
      </div>
    </div>
  </q-page>
</template>

<script>
import { db, st } from "../../router/index.js";
import headerBar from "../../components/headerbar.vue";
import { async } from "q";
export default {
  data() {
    return {
      multiple: {
        type: 1,
        practiceKey: this.$route.params.key,
        orderId: "",
        question: "",
        choice1: "",
        choice2: "",
        choice3: "",
        choice4: "",
        correctAnswer: 1,
        description: "",
        questionURL: "",
        answer1URL: "",
        answer2URL: "",
        answer3URL: "",
        answer4URL: ""
      },
      multipleIdOld: "",

      picFile: "",
      picFile1: "",
      picFile2: "",
      picFile3: "",
      picFile4: "",
      questionList: [
        {
          label: "คำถามและคำตอบทั่วไป",
          value: 1
        },
        {
          label: "คำถามพร้อมรูปประกอบ",
          value: 2
        },
        {
          label: "คำตอบพร้อมรูปประกอบ",
          value: 3
        }
      ],
      isEditMode: false,
      isEditImage: false,
      isEditImage1: false,
      isEditImage2: false,
      isEditImage3: false,
      isEditImage4: false,

      urlOld: "",
      //config page
      dbMain: db.collection("Test"),
      backPage: "/test/",
      multipleheader: "เพิ่มทดสอบ",
      routeEdit: "testedit",
      routeAdd: "testadd",
      routeTextEdit: "แก้ไขทดสอบ",
      questionList: [
        {
          label: "คำถามและคำตอบทั่วไป",
          value: 1
        },
        {
          label: "คำถามพร้อมรูปประกอบ",
          value: 2
        },
        {
          label: "คำตอบพร้อมรูปประกอบ",
          value: 3
        }
      ]
    };
  },
  methods: {
    async saveBtn() {
      if (this.multiple.orderId == "") {
        this.notifyRed("กรุณากรอกเลขลำดับ");
        return;
      }
      if (this.multiple.question == "") {
        this.notifyRed("กรุณากรอกคำถาม");
        return;
      }
      if (this.multiple.description == "") {
        this.notifyRed("กรุณากรอกคำอธิบาย");
        return;
      }

      //ใช้ในกรณีที่คำตอบไม่ได้เป็นรูป
      if (this.multiple.type != 3) {
        if (this.multiple.choice1 == "") {
          this.notifyRed("กรุณากรอกตัวเลือกที่ 1");
          return;
        }
        if (this.multiple.choice2 == "") {
          this.notifyRed("กรุณากรอกตัวเลือกที่ 2");
          return;
        }
        if (this.multiple.choice3 == "") {
          this.notifyRed("กรุณากรอกตัวเลือกที่ 3");
          return;
        }
        if (this.multiple.choice4 == "") {
          this.notifyRed("กรุณากรอกตัวเลือกที่ 4");
          return;
        }
      }

      //เวลาที่ทำการ save data
      let microtime = await this.loadTime();

      //********************************กรณีทำการเพิ่มข้อมูล ******************************/
      if (this.$route.name == this.routeAdd) {
        //ตรวจสอบว่ามีเลข orderid ซ้ำหรือเปล่าว
        let checkData = await this.dbMain
          .doc("Draft")
          .collection("data")
          .where("practiceKey", "==", this.$route.params.key)
          .where("orderId", "==", this.multiple.orderId)
          .get();

        if (checkData.size > 0) {
          this.notifyRed("มีข้อมูลซ้ำ");
          return;
        }

        //ทำการ load progress
        this.loadingShow();

        //บันทึกเวลาใน Draft
        this.dbMain.doc("Draft").set({
          saveDraft: microtime
        });

        if (this.multiple.type == 1) {
          //**************กรณีคำถามคำตอบทั่วไป
          // เป็นการเปลี่ยนคำตอบจาก สตริงเป็นนัมเบอร์
          this.multiple.correctAnswer = Number(this.multiple.correctAnswer);
          this.dbMain
            .doc("Draft")
            .collection("data")
            .add(this.multiple)
            .then(() => {
              this.loadingHide();
              this.$router.push(
                this.backPage +
                  this.$route.params.key +
                  "/" +
                  this.$route.params.page
              );
            });
          //******************จบกรณีคำถามคำตอบทั่วไป */
        } else if (this.multiple.type == 2) {
          //***************กรณีคำถามเป็นรูปภาพ******** */

          //กรณีมีรูปภาพคำถาม
          if (this.picFile != "") {
            this.multiple.correctAnswer = Number(this.multiple.correctAnswer);
            this.dbMain
              .doc("Draft")
              .collection("data")
              .add(this.multiple)
              .then(async doc => {
                let saveImage = await st
                  .child("/practice/image/" + doc.id + ".jpg")
                  .put(this.picFile);

                saveImage.ref.getDownloadURL().then(getImageURL => {
                  this.dbMain
                    .doc("Draft")
                    .collection("data")
                    .doc(doc.id)
                    .update({
                      questionURL: getImageURL
                    })
                    .then(() => {
                      this.loadingHide();

                      this.$router.push(
                        this.backPage +
                          this.$route.params.key +
                          "/" +
                          this.$route.params.page
                      );
                    });
                });
              });
          } else {
            //กรณีไม่รูปภาพคำถาม
            this.multiple.correctAnswer = Number(this.multiple.correctAnswer);
            this.dbMain
              .doc("Draft")
              .collection("data")
              .add(this.multiple)
              .then(() => {
                this.loadingHide();
                this.$router.push(
                  this.backPage +
                    this.$route.params.key +
                    "/" +
                    this.$route.params.page
                );
              });
          }

          //**************จบกรณีคำถามทีเป็นรูปภาพ */
        } else {
          //************กรณีคำตอบเป็นรูปภาพ */
          this.multiple.correctAnswer = Number(this.multiple.correctAnswer);
          this.dbMain
            .doc("Draft")
            .collection("data")
            .add(this.multiple)
            .then(async doc => {
              //รูปภาพตัวเลือกที่ 1
              if (this.picFile1 != "") {
                let saveImage1 = await st
                  .child("/practice/image/" + doc.id + "-1.jpg")
                  .put(this.picFile1);

                saveImage1.ref.getDownloadURL().then(getImageURL1 => {
                  this.dbMain
                    .doc("Draft")
                    .collection("data")
                    .doc(doc.id)
                    .update({
                      answer1URL: getImageURL1
                    });
                });
              }
              //รูปภาพตัวเลือกที่ 2
              if (this.picFile2 != "") {
                let saveImage2 = await st
                  .child("/practice/image/" + doc.id + "-2.jpg")
                  .put(this.picFile2);

                saveImage2.ref.getDownloadURL().then(getImageURL2 => {
                  this.dbMain
                    .doc("Draft")
                    .collection("data")
                    .doc(doc.id)
                    .update({
                      answer2URL: getImageURL2
                    });
                });
              }
              //รูปภาพตัวเลือกที่ 3
              if (this.picFile3 != "") {
                let saveImage3 = await st
                  .child("/practice/image/" + doc.id + "-3.jpg")
                  .put(this.picFile3);

                saveImage3.ref.getDownloadURL().then(getImageURL3 => {
                  this.dbMain
                    .doc("Draft")
                    .collection("data")
                    .doc(doc.id)
                    .update({
                      answer3URL: getImageURL3
                    });
                });
              }
              //รูปภาพตัวเลือกที่ 4
              if (this.picFile4 != "") {
                let saveImage4 = await st
                  .child("/practice/image/" + doc.id + "-4.jpg")
                  .put(this.picFile4);

                saveImage4.ref.getDownloadURL().then(getImageURL4 => {
                  this.dbMain
                    .doc("Draft")
                    .collection("data")
                    .doc(doc.id)
                    .update({
                      answer4URL: getImageURL4
                    });
                });
              }

              this.loadingHide();
              this.$router.push(
                this.backPage +
                  this.$route.params.key +
                  "/" +
                  this.$route.params.page
              );
            });
        }
        //********************************จบการเพิ่มข้อมูล ******************************/
      } else {
        //********************************กรณีทำการแก้ไขข้อมูล ******************************/
        //ทำการ load progress
        this.loadingShow();

        if (this.multiple.orderId != this.multipleIdOld) {
          let checkData = await this.dbMain
            .doc("Draft")
            .collection("data")
            .where("practiceKey", "==", this.$route.params.key)
            .where("orderId", "==", this.multiple.orderId)
            .get();

          if (checkData.size > 0) {
            //กรณีมีเลข orderid ซ้ำ
            this.loadingHide();
            this.notifyRed("มีข้อมูลซ้ำ");
            return;
          }
        }
        //1- กรณีคำถามคำตอบทั่วไป
        if (this.multiple.type == 1) {
          //กรณีเลข orderId ไม่เปลี่ยนแปลง

          this.dbMain.doc("Draft").set({
            saveDraft: microtime
          });
          this.multiple.correctAnswer = Number(this.multiple.correctAnswer);
          this.dbMain
            .doc("Draft")
            .collection("data")
            .doc(this.$route.params.questionKey)
            .update(this.multiple)
            .then(() => {
              this.loadingHide();
              this.$router.push(
                this.backPage +
                  this.$route.params.key +
                  "/" +
                  this.$route.params.page
              );
            });
          //1- จบกรณีคำถามทั่วไป

          //2- กรณีคำถามเป็นรูปภาพ
        } else if (this.multiple.type == 2) {
          if (this.isEditImage) {
            //กรณีมีการแก้ไขรูปภาพ
            if (this.picFile == "") {
              //กรณีไม่ได้ใส่รูปภาพ
              this.notifyRed("กรุณาใส่รูปภาพ");
              this.loadingHide();
              return;
            } else {
              //กรณีใส่รูปภาพ
              //บันทึกเวลาในการ save
              this.dbMain.doc("Draft").set({
                saveDraft: microtime
              });
              //ทำการ update ข้อมูล
              this.multiple.correctAnswer = Number(this.multiple.correctAnswer);
              this.dbMain
                .doc("Draft")
                .collection("data")
                .doc(this.$route.params.questionKey)
                .update(this.multiple)
                .then(async doc => {
                  //ทำการ save รูปภาพ
                  let saveImage = await st
                    .child(
                      "/practice/image/" +
                        this.$route.params.questionKey +
                        ".jpg"
                    )
                    .put(this.picFile);

                  saveImage.ref.getDownloadURL().then(getImageURL => {
                    this.dbMain
                      .doc("Draft")
                      .collection("data")
                      .doc(this.$route.params.questionKey)
                      .update({
                        questionURL: getImageURL
                      })
                      .then(() => {
                        this.loadingHide();
                        this.$router.push(
                          this.backPage +
                            this.$route.params.key +
                            "/" +
                            this.$route.params.page
                        );
                      });
                  });
                });
            }
          } else {
            //กรณีไม่มีการแก้ไขรูปภาพ
            //บันทึกเวลาในการ save
            this.dbMain.doc("Draft").set({
              saveDraft: microtime
            });
            //ทำการ update
            this.multiple.correctAnswer = Number(this.multiple.correctAnswer);
            this.dbMain
              .doc("Draft")
              .collection("data")
              .doc(this.$route.params.questionKey)
              .update(this.multiple)
              .then(async () => {
                this.loadingHide();

                this.$router.push(
                  this.backPage +
                    this.$route.params.key +
                    "/" +
                    this.$route.params.page
                );
              });
          }
        } else if (this.multiple.type == 3) {
          //ตรวจสอบการใส่รูป
          if (this.picFile1 == "" && this.isEditImage1) {
            //กรณีไม่ได้ใส่รูปภาพ
            this.notifyRed("กรุณาใส่รูปภาพในตัวเลือก #1");
            this.loadingHide();
            return;
          }
          if (this.picFile2 == "" && this.isEditImage2) {
            //กรณีไม่ได้ใส่รูปภาพ
            this.notifyRed("กรุณาใส่รูปภาพในตัวเลือก #2");
            this.loadingHide();
            return;
          }
          if (this.picFile3 == "" && this.isEditImage3) {
            //กรณีไม่ได้ใส่รูปภาพ
            this.notifyRed("กรุณาใส่รูปภาพในตัวเลือก #3");
            this.loadingHide();
            return;
          }
          if (this.picFile4 == "" && this.isEditImage4) {
            //กรณีไม่ได้ใส่รูปภาพ
            this.notifyRed("กรุณาใส่รูปภาพในตัวเลือก #4");
            this.loadingHide();
            return;
          }
          //ทำการ update ข้อมูลทั่วไปก่อน
          this.multiple.correctAnswer = Number(this.multiple.correctAnswer);
          this.dbMain
            .doc("Draft")
            .collection("data")
            .doc(this.$route.params.questionKey)
            .update(this.multiple)
            .then(async doc => {
              //ทำการ save รูป
              //รูปภาพที่ 1
              if (this.picFile1 != "") {
                let saveImage1 = await st
                  .child(
                    "/practice/image/" +
                      this.$route.params.questionKey +
                      "-1.jpg"
                  )
                  .put(this.picFile1);
                saveImage1.ref.getDownloadURL().then(getImageURL1 => {
                  this.dbMain
                    .doc("Draft")
                    .collection("data")
                    .doc(this.$route.params.questionKey)
                    .update({
                      answer1URL: getImageURL1
                    });
                });
              }
              //รูปภาพที่ 2
              if (this.picFile2 != "") {
                let saveImage2 = await st
                  .child(
                    "/practice/image/" +
                      this.$route.params.questionKey +
                      "-2.jpg"
                  )
                  .put(this.picFile2);
                saveImage2.ref.getDownloadURL().then(getImageURL2 => {
                  this.dbMain
                    .doc("Draft")
                    .collection("data")
                    .doc(this.$route.params.questionKey)
                    .update({
                      answer2URL: getImageURL2
                    });
                });
              }
              //รูปภาพที่ 3
              if (this.picFile3 != "") {
                let saveImage3 = await st
                  .child(
                    "/practice/image/" +
                      this.$route.params.questionKey +
                      "-3.jpg"
                  )
                  .put(this.picFile3);
                saveImage3.ref.getDownloadURL().then(getImageURL3 => {
                  this.dbMain
                    .doc("Draft")
                    .collection("data")
                    .doc(this.$route.params.questionKey)
                    .update({
                      answer3URL: getImageURL3
                    });
                });
              }
              //รูปภาพที่ 4
              if (this.picFile4 != "") {
                let saveImage4 = await st
                  .child(
                    "/practice/image/" +
                      this.$route.params.questionKey +
                      "-4.jpg"
                  )
                  .put(this.picFile4);
                saveImage4.ref.getDownloadURL().then(getImageURL4 => {
                  this.dbMain
                    .doc("Draft")
                    .collection("data")
                    .doc(this.$route.params.questionKey)
                    .update({
                      answer4URL: getImageURL4
                    });
                });
              }
              //wait upload complete
              setTimeout(() => {
                this.loadingHide();
                this.$router.push(
                  this.backPage +
                    this.$route.params.key +
                    "/" +
                    this.$route.params.page
                );
              }, 5000);
            });
        }
      }
    },
    cancelBtn() {
      this.$router.push(
        this.backPage + this.$route.params.key + "/" + this.$route.params.page
      );
    },
    loadDataEdit() {
      this.isEditMode = true;
      this.dbMain
        .doc("Draft")
        .collection("data")
        .doc(this.$route.params.questionKey)
        .get()
        .then(doc => {
          this.multiple = doc.data();
          this.multipleIdOld = doc.data().orderId;
          this.urlOld = this.multiple.questionURL;
          this.multiple.correctAnswer = this.multiple.correctAnswer.toString();
        });
    }
  },
  mounted() {
    if (this.$route.name == this.routeEdit) {
      this.loadDataEdit();
      this.multipleheader = this.routeTextEdit;
    }
  },
  components: {
    headerBar
  }
};
</script>

<style scoped>
.draftbox {
  width: 150px;
  height: 42px;
  border-radius: 21px;
}
.inputbox {
  width: 850px;
  margin: auto;
}
.brx {
  border: 1px solid red;
}
</style>