<template>
  <q-page>
    <div class="row q-py-lg bg-white">
      <!-- Top menu -->
      <div class="col-3 q-pl-md">
        <toggle-button
          :value="true"
          :labels="{checked: 'แบบร่าง', unchecked: 'ใช้งานจริง'}"
          :height="42"
          :width="150"
          :color="{checked: '#6a75ca', unchecked: '#6a75ca' }"
          :font-size="16"
          v-model="modeDraft"
          @change="changeMode()"
        />
      </div>
      <div class="col-6 self-center" align="center">
        <header-bar
          :dataPage="{page:$route.params.page,practice:$route.params.key}"
          @practiceName="setNamePractice"
        ></header-bar>
      </div>
      <div class="col-3 q-pr-md" align="right">
        <q-btn
          round
          class="bg1 colorPlus q-mr-md"
          icon="fas fa-cloud-upload-alt"
          @click="syncBtn()"
          :disable="!modeDraft || !isSyncBtn"
        ></q-btn>
        <q-btn
          round
          class="bg1 colorPlus q-mr-md"
          icon="fas fa-print"
          @click="printBtn()"
          :disable="!modeDraft"
        ></q-btn>
        <q-btn
          round
          class="bg1 colorPlus"
          icon="fas fa-cog"
          @click="settingBtn()"
          :disable="!modeDraft"
        ></q-btn>
      </div>
    </div>

    <!-- หน้าต่าง Setting -->
    <q-dialog v-model="settingShow" persistent transition-show="scale" transition-hide="scale">
      <q-card style="width: 400px">
        <div class="q-pa-md">
          <div class="row">
            <div class="col-2"></div>
            <div class="col-8 text-center text-h6">แบบทดสอบ</div>
            <div class="col-2" align="right">
              <q-btn size="sm" round flat icon="fas fa-times" v-close-popup></q-btn>
            </div>

            <div class="col-12 text-center text-body1">{{setPractice.pageName}}</div>
            <div class="col-12 q-py-md">
              <q-input
                class="bg-white"
                square
                outlined
                v-model.trim.number="studyPlan.orderId"
                label="รหัสลำดับ"
                type="number"
              />
            </div>
            <div class="col-12 q-pb-md">
              <q-input
                class="bg-white"
                square
                outlined
                v-model.trim="studyPlan.name"
                label="ชื่อแบบฝึกหัด"
              />
            </div>
            <div class="col-12 q-pb-md">
              <q-input
                class="bg-white"
                square
                outlined
                mask="##:##"
                v-model.trim="studyPlan.time"
                label="เวลาที่ใช้ในการเรียน (นาที)"
              />
            </div>
            <div class="col-12" align="center">
              <q-btn
                flat
                label="บันทึก"
                @click="saveStudyPlan()"
                class="bg3 text-white"
                style="width:100%"
              />
            </div>
          </div>
        </div>
      </q-card>
    </q-dialog>

    <div class="q-pt-md q-px-md row">
      <!-- ปุ่มเพิ่ม  -->
      <div align="right" class="col-12">
        <q-btn
          round
          class="bg1 colorPlus"
          icon="fas fa-plus"
          @click="addBtn()"
          :disable="!modeDraft"
        ></q-btn>
      </div>

      <div class="col-12 showNothing" align="center">
        <!-- กรณีไม่มีข้อมูล -->
        <div class="absolute-center" v-show="!isHasData">
          <div>
            <q-icon name="far fa-surprise" size="xl" />
          </div>
          <div class="q-mt-md">ยังไม่มีข้อมูลในหน้านี้</div>
        </div>

        <div v-show="isHasData" class="q-py-md">
          <!-- กรณีมีข้อมูล ตารางแสดงผล -->
          <q-table
            :data="questionData"
            :columns="columns"
            row-key="name"
            hide-bottom
            flat
            bordered
            square
            :pagination.sync="pagination"
            separator="cell"
          >
            <template v-slot:body="props">
              <q-tr :props="props">
                <q-td
                  key="order"
                  style="vertical-align: top;"
                  :props="props"
                >{{props.row.__index+1}}</q-td>
                <q-td
                  key="orderId"
                  style="vertical-align: top;"
                  :props="props"
                >{{props.row.orderId}}</q-td>
                <q-td key="question" :props="props" style="vertical-align: top;">
                  <!-- กรณีคำถามทั่วไป -->
                  <div class="row" v-show="props.row.type == 1">
                    <div class="col-12 q-pb-sm">
                      <span v-html="props.row.question"></span>
                    </div>
                    <div
                      class="col-6 q-pb-sm"
                      :class="{'text-green': props.row.correctAnswer == 1}"
                      v-html="'1) ' + props.row.choice1"
                    ></div>
                    <div
                      class="col-6 q-pb-sm"
                      :class="{'text-green': props.row.correctAnswer == 2}"
                      v-html="'2) ' + props.row.choice2"
                    ></div>
                    <div
                      class="col-6 q-pb-sm"
                      :class="{'text-green': props.row.correctAnswer == 3}"
                      v-html="'3) ' + props.row.choice3"
                    ></div>
                    <div
                      class="col-6 q-pb-sm"
                      :class="{'text-green': props.row.correctAnswer == 4}"
                      v-html="'4) ' + props.row.choice4"
                    ></div>
                    <div class="col-12">
                      <hr />
                    </div>
                    <div class="col-12 q-pb-sm" v-html="props.row.description"></div>
                  </div>
                  <!-- จบกรณีคำถามทั่วไป -->
                  <!-- กรณีคำถามมีรูปภาพ -->
                  <div class="row" v-show="props.row.type == 2">
                    <div class="col-12 q-pb-sm">
                      <span v-html="props.row.question"></span>
                    </div>
                    <div class="col-6 q-pb-sm">
                      <img
                        :src="props.row.questionURL"
                        style="width: 250px;height:250px; object-fit: scale-down;"
                        basic
                        spinner-color="white"
                        v-show="props.row.questionURL != ''"
                      />
                      <q-img
                        :src="noPic"
                        style="height: 180px; width: 300px; border: 1px solid #78909C"
                        :ratio="1"
                        basic
                        spinner-color="white"
                        v-show="props.row.questionURL == ''"
                      />
                    </div>
                    <div class="col-6">
                      <div
                        class="q-pb-sm q-pt-md"
                        :class="{'text-green': props.row.correctAnswer == 1}"
                        v-html="'1) ' + props.row.choice1"
                      ></div>
                      <div
                        class="q-pb-sm"
                        :class="{'text-green': props.row.correctAnswer == 2}"
                        v-html="'2) ' + props.row.choice2"
                      ></div>
                      <div
                        class="q-pb-sm"
                        :class="{'text-green': props.row.correctAnswer == 3}"
                        v-html="'3) ' + props.row.choice3"
                      ></div>
                      <div
                        class="q-pb-sm"
                        :class="{'text-green': props.row.correctAnswer == 4}"
                        v-html="'4) ' + props.row.choice4"
                      ></div>
                    </div>
                    <div class="col-12">
                      <hr />
                    </div>
                    <div class="col-12 q-pb-sm" v-html="props.row.description"></div>
                  </div>
                  <!-- จบกรณีคำถามมีรูปภาพ -->
                  <!-- กรณีคำตอบมีรูปภาพ -->
                  <div class="row" v-show="props.row.type == 3">
                    <div class="col-12 q-pb-sm">
                      <span v-html="props.row.question"></span>
                    </div>
                    <div
                      class="col-6 q-pb-sm"
                      :class="{'text-green': props.row.correctAnswer == 1}"
                    >
                      1)
                      <q-img
                        :src="props.row.answer1URL"
                        style="height: 180px; width: 300px; border: 1px solid #78909C"
                        :ratio="1"
                        basic
                        spinner-color="white"
                        v-show="props.row.answer1URL != ''"
                      />
                      <q-img
                        :src="noPic"
                        style="height: 180px; width: 300px; border: 1px solid #78909C"
                        :ratio="1"
                        basic
                        spinner-color="white"
                        v-show="props.row.answer1URL == ''"
                      />
                    </div>
                    <div
                      class="col-6 q-pb-sm"
                      :class="{'text-green': props.row.correctAnswer == 2}"
                    >
                      2)
                      <q-img
                        :src="props.row.answer2URL"
                        style="height: 180px; width: 300px; border: 1px solid #78909C"
                        :ratio="1"
                        basic
                        spinner-color="white"
                        v-show="props.row.answer2URL != ''"
                      />
                      <q-img
                        :src="noPic"
                        style="height: 180px; width: 300px; border: 1px solid #78909C"
                        :ratio="1"
                        basic
                        spinner-color="white"
                        v-show="props.row.answer2URL == ''"
                      />
                    </div>

                    <div
                      class="col-6 q-pb-sm"
                      :class="{'text-green': props.row.correctAnswer == 3}"
                    >
                      3)
                      <q-img
                        :src="props.row.answer3URL"
                        style="height: 180px; width: 300px; border: 1px solid #78909C"
                        :ratio="1"
                        basic
                        spinner-color="white"
                        v-show="props.row.answer3URL != ''"
                      />
                      <q-img
                        :src="noPic"
                        style="height: 180px; width: 300px; border: 1px solid #78909C"
                        :ratio="1"
                        basic
                        spinner-color="white"
                        v-show="props.row.answer3URL == ''"
                      />
                    </div>
                    <div
                      class="col-6 q-pb-sm"
                      :class="{'text-green': props.row.correctAnswer == 4}"
                    >
                      4)
                      <q-img
                        :src="props.row.answer4URL"
                        style="height: 180px; width: 300px; border: 1px solid #78909C"
                        :ratio="1"
                        basic
                        spinner-color="white"
                        v-show="props.row.answer4URL != ''"
                      />
                      <q-img
                        :src="noPic"
                        style="height: 180px; width: 300px; border: 1px solid #78909C"
                        :ratio="1"
                        basic
                        spinner-color="white"
                        v-show="props.row.answer4URL == ''"
                      />
                    </div>

                    <div class="col-12">
                      <hr />
                    </div>
                    <div class="col-12 q-pb-sm" v-html="props.row.description"></div>
                  </div>
                  <!-- จบกรณีคำตอบมีรูปภาพ -->
                </q-td>
                <q-td key="delete" :props="props" style="vertical-align: top;">
                  <q-btn
                    flat
                    round
                    size="sm"
                    class="colorDelete"
                    icon="fas fa-trash-alt"
                    @click="deleteBtn(props.row.questionKey, props.row.__index)"
                    :disabled="!modeDraft"
                  ></q-btn>
                </q-td>
                <q-td key="edit" :props="props" style="vertical-align: top;">
                  <q-btn
                    size="sm"
                    flat
                    round
                    class="colorDelete"
                    icon="fas fa-edit"
                    @click="editBtn(props.row.questionKey, props.row.type)"
                    :disabled="!modeDraft"
                  ></q-btn>
                </q-td>
              </q-tr>
            </template>
          </q-table>
        </div>
      </div>
    </div>
  </q-page>
</template>

<script>
import { db, st } from "../../router/index.js";
import headerBar from "../../components/headerbar.vue";
export default {
  data() {
    return {
      studyPlan: {
        name: "",
        orderId: "",
        section: "",
        time: "",
        type: ""
      },
      modeDraft: true,
      settingShow: false,
      pagination: {
        rowsPerPage: 0
      },
      isHasData: false,
      columns: [
        {
          name: "order",
          align: "center",
          label: "ลำดับ",
          style: "width:100px;"
        },
        {
          name: "orderId",
          align: "center",
          label: "รหัสลำดับ",
          style: "width:100px"
        },
        {
          name: "question",
          align: "left",
          label: "โจทย์"
        },
        {
          name: "delete",
          align: "center",
          label: "ลบ",
          style: "width:100px"
        },
        {
          name: "edit",
          align: "center",
          label: "แก้ไข",
          style: "width:100px"
        }
      ],
      questionData: [],
      setPractice: {},
      isHasImage: true,
      isSyncBtn: true,
      noPic:
        "https://firebasestorage.googleapis.com/v0/b/onet-p6.appspot.com/o/practice%2Fimage%2FNoImage.png?alt=media&token=d266ea87-59b3-4559-affd-dfbb0a313804",
      // config
      dbMain: db.collection("Test"),
      backPage: "/test/"
    };
  },
  methods: {
    setNamePractice(value) {
      this.setPractice = value;
    },
    settingBtn() {
      this.settingShow = true;
      this.loadStudyPlan();
    },
    changeMode() {
      this.modeDraft == !this.modeDraft;
      this.loadData();
    },

    loadData() {
      let practiceKey = this.$route.params.key;
      let mode = "";
      if (this.modeDraft) {
        mode = "Draft";
      } else {
        mode = "Server";
      }
      this.isHasData = false;
      this.questionData = [];
      this.loadingShow();
      this.dbMain
        .doc(mode)
        .collection("data")
        .where("practiceKey", "==", practiceKey)
        .get()
        .then(doc => {
          if (doc.size > 0) {
            this.isHasData = true;
          }
          doc.forEach(element => {
            let key = {
              questionKey: element.id
            };
            let final = { ...key, ...element.data() };
            this.questionData.push(final);
          });
          this.questionData.sort((a, b) => {
            return a.orderId - b.orderId;
          });
          this.loadingHide();
        });
    },
    addBtn() {
      this.$router.push(
        this.backPage +
          "add/" +
          this.$route.params.key +
          "/" +
          this.$route.params.page
      );
    },

    editBtn(questionKey, type) {
      this.$router.push(
        this.backPage +
          "edit/" +
          this.$route.params.key +
          "/" +
          this.$route.params.page +
          "/" +
          questionKey +
          "/" +
          type
      );
    },

    loadStudyPlan() {
      db.collection("StudyPlan")
        .doc(this.$route.params.key)
        .get()
        .then(doc => {
          this.studyPlan = doc.data();
        });
    },
    saveStudyPlan() {
      if (
        this.studyPlan.orderId == "" ||
        this.studyPlan.name == "" ||
        this.studyPlan.time == "" ||
        this.studyPlan.time.length < 5
      ) {
        this.notifyRed("กรุณากรอกข้อมูลให้ครบ");
        return;
      }
      db.collection("StudyPlan")
        .doc(this.$route.params.key)
        .update(this.studyPlan)
        .then(() => {
          this.notifyGreen("บันทึกข้อมูลเรียบร้อย");
          this.settingShow = false;
        });
    },
    checkSync() {
      let timeServer = 0;
      let timeDraft = 0;
      this.dbMain
        .doc("Server")
        .get()
        .then(doc => {
          timeServer = doc.data().saveServer;
          this.dbMain
            .doc("Draft")
            .get()
            .then(doc => {
              timeDraft = doc.data().saveDraft;
              if (timeServer >= timeDraft) {
                this.isSyncBtn = false;
              }
            });
        });
    },

    deleteBtn(questionKey, index) {
      this.$q
        .dialog({
          title: "ลบข้อมูล",
          message: "ต้องการที่จะลบข้อมูลใช่หรือไม่",
          ok: "ตกลง",
          cancel: "ยกเลิก"
        })
        .onOk(() => {
          if (this.questionData[index].questionURL != "") {
            st.child("/practice/image/" + questionKey + ".jpg").delete();
          }
          if (this.questionData[index].answer1URL != "") {
            st.child("/practice/image/" + questionKey + "-1.jpg").delete();
          }
          if (this.questionData[index].answer2URL != "") {
            st.child("/practice/image/" + questionKey + "-2.jpg").delete();
          }
          if (this.questionData[index].answer3URL != "") {
            st.child("/practice/image/" + questionKey + "-3.jpg").delete();
          }
          if (this.questionData[index].answer4URL != "") {
            st.child("/practice/image/" + questionKey + "-4.jpg").delete();
          }
          this.dbMain
            .doc("Draft")
            .collection("data")
            .doc(questionKey)
            .delete()
            .then(() => {
              this.loadData();
              this.loadingHide();
              this.notifyGreen("ลบข้อมูลเสร็จสิ้น");
            });
        });
    },

    async syncBtn() {
      this.loadingShow();
      //Check questionURL ใน Case 2 ต้องมีรูปภาพ
      let loadMultiData = await this.dbMain
        .doc("Draft")
        .collection("data")

        .where("type", "==", 2)
        .where("questionURL", "==", "")
        .get();

      if (loadMultiData.size > 0) {
        this.notifyRed("กรุณาใส่ข้อมูลรูปภาพให้ครบถ้วนก่อนทำการ Sync ข้อมูล");
        this.loadingHide();
        return;
      }

      //Check answer1URL ใน Case 3 ต้องมีรูปภาพ
      loadMultiData = await this.dbMain
        .doc("Draft")
        .collection("data")

        .where("type", "==", 3)
        .where("answer1URL", "==", "")
        .get();

      if (loadMultiData.size > 0) {
        this.notifyRed("กรุณาใส่ข้อมูลรูปภาพให้ครบถ้วนก่อนทำการ Sync ข้อมูล");
        this.loadingHide();
        return;
      }

      //Check answer2URL ใน Case 3 ต้องมีรูปภาพ
      loadMultiData = await this.dbMain
        .doc("Draft")
        .collection("data")

        .where("type", "==", 3)
        .where("answer2URL", "==", "")
        .get();

      if (loadMultiData.size > 0) {
        this.notifyRed("กรุณาใส่ข้อมูลรูปภาพให้ครบถ้วนก่อนทำการ Sync ข้อมูล");
        this.loadingHide();
        return;
      }

      //Check answer3URL ใน Case 3 ต้องมีรูปภาพ
      loadMultiData = await this.dbMain
        .doc("Draft")
        .collection("data")

        .where("type", "==", 3)
        .where("answer3URL", "==", "")
        .get();

      if (loadMultiData.size > 0) {
        this.notifyRed("กรุณาใส่ข้อมูลรูปภาพให้ครบถ้วนก่อนทำการ Sync ข้อมูล");
        this.loadingHide();
        return;
      }

      //Check answer4URL ใน Case 3 ต้องมีรูปภาพ
      loadMultiData = await this.dbMain
        .doc("Draft")
        .collection("data")

        .where("type", "==", 3)
        .where("answer4URL", "==", "")
        .get();

      if (loadMultiData.size > 0) {
        this.notifyRed("กรุณาใส่ข้อมูลรูปภาพให้ครบถ้วนก่อนทำการ Sync ข้อมูล");
        this.loadingHide();
        return;
      }

      // เซฟเวลาเมื่อมีการบันทึกข้อมูล;
      let microtime = await this.loadTime();

      this.dbMain.doc("Server").set({
        saveServer: microtime
      });
      // delete all record from server
      this.dbMain
        .doc("Server")
        .collection("data")

        .get()
        .then(async deleteDataServer => {
          for (const data of deleteDataServer.docs) {
            await this.dbMain
              .doc("Server")
              .collection("data")
              .doc(data.id)
              .delete();
          }
          this.dbMain
            .doc("Draft")
            .collection("data")

            .get()
            .then(async draftData => {
              for (const data of draftData.docs) {
                await this.dbMain
                  .doc("Server")
                  .collection("data")
                  .doc(data.id)
                  .set(data.data());
              }
              this.isSyncBtn = false;
              this.notifyGreen("Sync ข้อมุลเรียบร้อยแล้ว");
              this.loadingHide();
            });
        });
    },
    printBtn() {
      this.$router.push({
        name: "testprint",
        params: { data: this.questionData, practice: this.setPractice }
      });
    }
  },
  mounted() {
    this.loadData();
    this.loadStudyPlan();
    this.checkSync();
  },
  components: {
    headerBar
  }
};
</script>

<style scoped>
.bg1 {
  background: #6a75ca;
}
.bg-1 {
  background: #f5f7fb;
}
.colorPlus {
  color: #f5f7fb;
}
.showNothing {
  height: calc(100vh - 250px);
}
.brx {
  border: 1px solid red;
}
.bg-1 {
  background: #f5f7fb;
}
</style>