<template>
  <q-page>
    <div class="row q-py-lg bg-white">
      <div class="col-3"></div>
      <div class="col-6 self-center" align="center">
        <div class="text-h5">{{dataPractice.sectionName}}</div>
      </div>
      <div class="col-3 q-pr-md" align="right"></div>
    </div>
    <div class="mainInputDiv">
      <div class="q-pt-xl">
        <q-input
          class="bg-white"
          square
          label="ลำดับ"
          outlined
          v-model.trim.number="dataObj.orderid"
          mask="####"
        />
      </div>
      <div class="q-pt-md">
        <q-input
          class="bg-white"
          square
          outlined
          type="file"
          v-model.trim.number="dataObj.orderid"
        />
      </div>
    </div>
  </q-page>
</template>

<script>
import { db, st } from "../../router/index.js";
export default {
  data() {
    return {
      dataPractice: {},
      dataObj: {}
    };
  },
  methods: {
    loadData() {
      this.loadingShow();
      let keyVdo = this.$route.params.key;
      db.collection("StudyPlan")
        .doc(keyVdo)
        .get()
        .then(doc => {
          db.collection("Section")
            .doc(doc.data().section)
            .get()
            .then(getData => {
              this.dataPractice = doc.data();
              this.dataPractice.sectionName =
                "เพิ่ม VDO | " +
                getData.data().orderId +
                " - " +
                getData.data().name;

              this.loadingHide();
            });
        });
    }
  },
  mounted() {
    this.loadData();
  }
};
</script>

<style lang="scss" scoped>
</style>