<template>
  <q-page>
    <!-- SECTION Header Bar -->
    <div class="row q-py-lg bg-white">
      <div class="col-3"></div>
      <div class="col-6 self-center" align="center">
        <header-bar
          :dataPage="{page:$route.params.page,practice:$route.params.key}"
          @practiceName="setPracticeName"
        ></header-bar>
      </div>
      <div class="col-3 q-pr-md" align="right">
        <!-- <q-btn round class="bg3 text-white q-mx-md" icon="fas fa-print" @click="printBtn()"></q-btn> -->
        <q-btn round class="bg3 text-white" icon="fas fa-cog" @click="editStudyPlanBtn()"></q-btn>
      </div>
    </div>

    <!-- SECTION Table Data -->
    <div class="q-pa-md">
      <div align="right">
        <q-btn
          round
          icon="fas fa-plus"
          class="bg3 text-white"
          @click="isInput = true,dataObj.orderId = '',isAddMode = true"
        ></q-btn>
      </div>
      <q-table
        flat
        bordered
        separator="cell"
        hide-bottom
        :data="data"
        :columns="columns"
        row-key="name"
        class="q-mt-md"
        :pagination.sync="pagination"
      >
        <template v-slot:body="props">
          <q-tr :props="props">
            <q-td key="order" :props="props" style="vertical-align: top;">{{ props.row.orderId }}</q-td>
            <q-td key="VDO" :props="props" style="vertical-align: top;">
              <video controls :src="props.row.vdoURL" style="width:350px;height:200px;"></video>
            </q-td>
            <q-td key="slide" :props="props" style="vertical-align: top;">
              <q-img :src="props.row.imageURL " style="width:350px;height:200px;"></q-img>
            </q-td>
            <q-td key="delete" :props="props" style="vertical-align: top;">
              <q-btn
                flat
                round
                dense
                class="text-blue-grey-10"
                icon="fas fa-trash-alt"
                @click="deleteBtn(props.row.key)"
              ></q-btn>
            </q-td>
            <q-td key="edit" :props="props" style="vertical-align: top;">
              <q-btn
                flat
                round
                dense
                class="text-blue-grey-10"
                icon="fas fa-edit"
                @click="editBtn(props.row)"
              ></q-btn>
            </q-td>
          </q-tr>
        </template>
      </q-table>
    </div>

    <!-- SECTION  Dialog -->

    <!-- NOTE Dialog Study Plan -->
    <q-dialog v-model="isPracticeInput" persistent>
      <q-card style="width: 400px;">
        <q-card-section>
          <div class="row">
            <div class="col-1"></div>
            <div class="col-10 text-h6" align="center">
              <span>แก้ไขแบบฝึกหัด</span>
            </div>
            <div class="col-1" align="right">
              <q-btn round flat size="sm" icon="fas fa-times" v-close-popup />
            </div>
          </div>
        </q-card-section>

        <q-card-section>
          <div>
            <q-input
              class="bg-white"
              square
              label="ลำดับ"
              outlined
              type="number"
              v-model.trim.number="dataPractice.orderId"
            />
          </div>
          <div class="q-mt-md">
            <q-input
              class="bg-white"
              square
              label="ชื่อแบบฝึกหีด"
              outlined
              v-model.trim="dataPractice.name"
            />
          </div>
          <div class="q-mt-md">
            <q-input
              class="bg-white"
              square
              label="เวลาที่ใช้ในการเรียน (นาที:วินาที)"
              outlined
              mask="##:##"
              v-model.trim="dataPractice.time"
            />
          </div>
        </q-card-section>

        <q-card-actions align="center" class="text-primary q-px-md q-pb-md">
          <q-btn
            flat
            label="บันทึก"
            style="width:100%;"
            class="bg3 text-white"
            @click="savePracticeBtn()"
            :disabled="isSavePractice"
          />
        </q-card-actions>
      </q-card>
    </q-dialog>

    <!-- NOTE Dialog Video Input -->
    <q-dialog v-model="isInput" persistent>
      <q-card style="width: 400px;">
        <q-card-section>
          <div class="row">
            <div class="col-1"></div>
            <div class="col-10 text-h6" align="center">
              <span v-if="isAddMode">เพิ่ม VDO</span>
              <span v-if="!isAddMode">แก้ไข VDO</span>
            </div>
            <div class="col-1" align="right">
              <q-btn round flat size="sm" icon="fas fa-times" v-close-popup />
            </div>
          </div>
        </q-card-section>

        <q-card-section>
          <div>
            <q-input
              class="bg-white"
              square
              label="ลำดับ"
              outlined
              type="number"
              v-model.trim.number="dataObj.orderId"
            />
          </div>
          <div class="q-mt-md">
            <table class="btn-border" style="width:100%;">
              <tr>
                <td style="width: 80px;">
                  <div class="q-pt-xs q-py-md q-pl-sm text-body1 text-grey-7 q-pr-md">
                    <span v-if="isAddMode">วีดีโอ</span>
                    <q-checkbox
                      v-model="isEditVideo"
                      @input="vdoFile=''"
                      v-if="!isAddMode"
                      label="วีดีโอ"
                    />
                  </div>
                </td>
                <td>
                  <!-- NOTE Set : ช่องเพิ่มวีดีโอ หน้าเพิ่ม  -->
                  <q-input
                    v-if="isAddMode || isEditVideo"
                    borderless
                    :type=" 'file'"
                    @input="value => {vdoFile = value[0]}"
                    style="height:25px;"
                    class="q-pt-lg"
                    id="vdoURL"
                    accept=".mp4"
                  ></q-input>
                </td>
              </tr>
            </table>
          </div>
          <div class="q-mt-md">
            <table class="btn-border" style="width:100%;">
              <tr>
                <td style="width: 80px;">
                  <div class="q-pt-xs q-py-md q-pl-sm text-body1 text-grey-7 q-pr-md">
                    <span v-if="isAddMode">รูปภาพ</span>
                    <q-checkbox
                      v-model="isEditImage"
                      @input="imageFile=''"
                      v-if="!isAddMode"
                      label="รูปภาพ"
                    />
                  </div>
                </td>
                <td>
                  <!-- NOTE Set : ช่องเพิ่มรูปภาพ หน้าเพิ่ม  -->
                  <q-input
                    borderless
                    v-if="isAddMode || isEditImage"
                    :type=" 'file'"
                    @input="value => {imageFile = value[0]}"
                    style="height:25px;"
                    class="q-pt-lg"
                    id="imageURL"
                    accept=".jpg"
                  ></q-input>
                </td>
              </tr>
            </table>
          </div>
        </q-card-section>

        <q-card-actions align="center" class="text-primary q-px-md q-pb-md">
          <q-btn
            flat
            label="บันทึก"
            style="width:100%;"
            class="bg3 text-white"
            @click="saveVideoBtn()"
            :disabled="isSaveData"
          />
        </q-card-actions>
      </q-card>
    </q-dialog>
  </q-page>
</template>

<script>
import { db, st } from "../../router/index.js";
import headerBar from "../../components/headerbar.vue";
export default {
  data() {
    return {
      // SECTION  TABLE
      data: [],
      pagination: {
        rowsPerPage: 0
      },
      columns: [
        {
          name: "order",
          label: "ลำดับ",
          align: "center",
          style: "width:7%;"
        },
        {
          name: "VDO",
          align: "center",
          label: "VDO",
          style: "width:40%;"
        },
        {
          name: "slide",
          label: "สไลต์",
          align: "center",
          style: "width:40%;"
        },
        {
          name: "delete",
          label: "ลบ",
          align: "center",
          style: "width:7%;"
        },
        {
          name: "edit",
          label: "แก้ไข",
          align: "center",
          style: "width:7%;"
        }
      ],
      setPractice: {},

      // SECTION  Video Input
      dataObj: {
        orderId: "",
        practiceKey: this.$route.params.key
      },
      dataVideoOld: "",
      dataVideoKey: "",
      isInput: false,
      isSaveData: false,
      isAddMode: true,
      isEditImage: false,
      isEditVideo: false,
      vdoFile: "",
      imageFile: "",

      // SECTION  Edit Study Plan
      dataPractice: {},
      dataPracticeIdOld: "",
      isSavePractice: false,
      isPracticeInput: false
    };
  },
  methods: {
    setPracticeName(value) {
      this.setPractice = value;
    },
    printBtn() {
      this.$router.push({
        name: "testprint",
        params: { data: this.dataPractice }
      });
    },
    // SECTION  Edit Practice
    editStudyPlanBtn() {
      this.isPracticeInput = true;
      this.dataPracticeIdOld = this.dataPractice.orderId;
    },

    // SECTION Edit Button Video
    editBtn(data) {
      this.isInput = true;
      this.isAddMode = false;
      this.isEditVideo = false;
      this.isEditImage = false;
      this.vdoFile = "";
      this.imageFile = "";

      this.dataVideoKey = data.key;
      this.dataVideoOld = data.orderId;
      this.dataObj.orderId = data.orderId;
    },

    // SECTION  Delete Video
    deleteBtn(key) {
      this.$q
        .dialog({
          title: "ลบข้อมูล",
          message: "ต้องการที่จะลบข้อมูลใช่หรือไม่",
          ok: "ตกลง",
          cancel: "ยกเลิก"
        })
        .onOk(() => {
          this.loadingShow();
          st.child("/practice/video/" + key + ".mp4")
            .delete()
            .then(() => {
              st.child("/practice/image/" + key + ".jpg")
                .delete()
                .then(() => {
                  db.collection("Video")
                    .doc(key)
                    .delete()
                    .then(() => {
                      this.loadingHide();
                    });
                });
            });
        })
        .onCancel(() => {});
    },

    // SECTION Edit Practice
    savePracticeBtn() {
      // NOTE Check การกรอกข้อมูลเข้ามาว่าครบไหม
      if (
        this.dataPractice.orderId == "" ||
        this.dataPractice.name == "" ||
        this.dataPractice.time == ""
      ) {
        this.notifyRed("กรุณากรอกข้อมูลให้ครบ");
        return;
      }
      this.loadingShow();

      let keyStudy = this.$route.params.key;
      this.isSavePractice = true;

      // NOTE Check ในกรณีที่ Order id เหมือนเดิม
      if (this.dataPracticeIdOld == this.dataPractice.orderId) {
        db.collection("StudyPlan")
          .doc(keyStudy)
          .update(this.dataPractice)
          .then(() => {
            this.isSavePractice = false;
            this.isPracticeInput = false;
            this.notifyGreen("บันทึกข้อมูลเรียบร้อยแล้ว");
            this.loadingHide();
          });
      }

      // NOTE Check ในกรณีที่ Order id ไม่เหมือนเดิม
      else {
        // NOTE Check Order id
        db.collection("StudyPlan")
          .where("orderId", "==", this.dataPractice.orderId)
          .get()
          .then(data => {
            if (data.size > 0) {
              this.notifyRed("มีข้อมูลซ้ำ");
              this.isSavePractice = false;
              this.isSaveData = false;
              this.loadingHide();
              return;
            }

            db.collection("StudyPlan")
              .doc(keyStudy)
              .update(this.dataPractice)
              .then(() => {
                this.isSavePractice = false;
                this.isPracticeInput = false;
                this.notifyGreen("บันทึกข้อมูลเรียบร้อยแล้ว");
                this.loadingHide();
              });
          });
      }
    },

    // SECTION Add Video / Edit Video
    async saveVideoBtn() {
      if (this.dataObj.orderId == "") {
        this.notifyRed("กรุณากรอกข้อมูลให้ครับ");
        return;
      }

      this.isSaveData = true;

      if (this.isAddMode) {
        if (this.vdoFile == "" || this.imageFile == "") {
          this.notifyRed("กรุณาใส่ไพล์วีดีโอและไพล์รูปภาพ");
          this.loadingHide();
          this.isSaveData = false;
          return;
        }

        let dupKey = await db
          .collection("Video")
          .where("practiceKey", "==", this.$route.params.key)
          .where("orderId", "==", this.dataObj.orderId)
          .get();

        if (dupKey.size > 0) {
          this.notifyRed("มีข้อมูลซ้ำ");
          this.loadingHide();
          this.isSaveData = false;
          return;
        }

        this.isInput = false;

        let dataPractice = await db.collection("Video").add(this.dataObj);

        this.loadingShow();
        let getVideo = await st
          .child("/practice/video/" + dataPractice.id + ".mp4")
          .put(this.vdoFile);

        let getVideoURL = await getVideo.ref.getDownloadURL();

        await db
          .collection("Video")
          .doc(dataPractice.id)
          .update({
            vdoURL: getVideoURL
          });

        let getImage = await st
          .child("/practice/image/" + dataPractice.id + ".jpg")
          .put(this.imageFile);

        let getImageURL = await getImage.ref.getDownloadURL();

        await db
          .collection("Video")
          .doc(dataPractice.id)
          .update({
            imageURL: getImageURL
          });

        this.isSaveData = false;
        this.dataObj.orderId = "";
        this.vdoFile = "";
        this.imageFile = "";

        this.loadingHide();
      } else {
        if (this.dataObj.orderId == this.dataVideoOld) {
          if (this.isEditVideo) {
            if (this.vdoFile == "") {
              this.isSaveData = false;
              this.notifyRed("กรุณาใส่วีดีโอ");
              this.loadingHide();
              return;
            }
          }

          if (this.isEditImage) {
            if (this.imageFile == "") {
              this.isSaveData = false;
              this.notifyRed("กรุณาใส่รูปภาพ");
              this.loadingHide();
              return;
            }
          }

          this.isInput = false;

          this.loadingShow();

          if (this.vdoFile != "") {
            let getVideo = await st
              .child("/practice/video/" + this.dataVideoKey + ".mp4")
              .put(this.vdoFile);

            let getVideoURL = await getVideo.ref.getDownloadURL();

            await db
              .collection("Video")
              .doc(this.dataVideoKey)
              .update({
                vdoURL: getVideoURL
              });
          }

          if (this.imageFile != "") {
            let getImage = await st
              .child("/practice/image/" + this.dataVideoKey + ".mp4")
              .put(this.imageFile);

            let getImageURL = await getImage.ref.getDownloadURL();

            await db
              .collection("Video")
              .doc(this.dataVideoKey)
              .update({
                imageURL: getImageURL
              });
          }

          await db
            .collection("Video")
            .doc(this.dataVideoKey)
            .update({
              orderId: this.dataObj.orderId,
              practiceKey: this.$route.params.key
            });

          this.isSaveData = false;
          this.isEditVideo = false;
          this.isInput = false;
          this.isEditImage = false;

          this.loadingHide();
        } else {
          let dupKey = await db
            .collection("Video")
            .where("practiceKey", "==", this.$route.params.key)
            .where("orderId", "==", this.dataObj.orderId)
            .get();

          if (dupKey.size > 0) {
            this.notifyRed("มีข้อมูลซ้ำ");
            this.loadingHide();
            this.isSaveData = false;
            return;
          }

          if (this.isEditVideo) {
            if (this.vdoFile == "") {
              this.isSaveData = false;
              this.notifyRed("กรุณาใส่วีดีโอ");
              this.loadingHide();
              return;
            }
          }

          if (this.isEditImage) {
            if (this.imageFile == "") {
              this.isSaveData = false;
              this.notifyRed("กรุณาใส่รูปภาพ");
              this.loadingHide();
              return;
            }
          }

          this.loadingShow();

          if (this.imageFile != "") {
            let getImage = await st
              .child("/practice/image/" + this.dataVideoKey + ".mp4")
              .put(this.imageFile);

            let getImageURL = await getImage.ref.getDownloadURL();

            await db
              .collection("Video")
              .doc(this.dataVideoKey)
              .update({
                imageURL: getImageURL
              });
          }

          if (this.vdoFile != "") {
            let getVideo = await st
              .child("/practice/video/" + this.dataVideoKey + ".mp4")
              .put(this.vdoFile);

            let getVideoURL = await getVideo.ref.getDownloadURL();

            await db
              .collection("Video")
              .doc(this.dataVideoKey)
              .update({
                vdoURL: getVideoURL
              });
          }

          await db
            .collection("Video")
            .doc(this.dataVideoKey)
            .update({
              orderId: this.dataObj.orderId,
              practiceKey: this.$route.params.key
            });

          this.isSaveData = false;
          this.isEditVideo = false;
          this.isEditImage = false;

          this.loadingHide();
        }
      }
    },
    loadData() {
      this.loadingShow();

      let practiceKey = this.$route.params.key;

      db.collection("Video")
        .where("practiceKey", "==", practiceKey)
        .onSnapshot(getResult => {
          if (getResult.size > 0) {
            this.data = [];
            getResult.forEach(getData => {
              let dataKey = {
                key: getData.id
              };

              let final = {
                ...dataKey,
                ...getData.data()
              };

              this.data.push(final);
            });

            this.data.sort((a, b) => {
              return a.orderId - b.orderId;
            });

            this.loadingHide();
          } else {
            this.loadingHide();
          }
        });
    },
    loadStudyPlan() {
      db.collection("StudyPlan")
        .doc(this.$route.params.key)
        .get()
        .then(doc => {
          this.dataPractice = doc.data();
          this.dataPracticeIdOld = doc.data().orderId;
        });
    }
  },
  components: {
    headerBar
  },
  mounted() {
    this.loadData();
    this.loadStudyPlan();
  }
};
</script>

<style scoped>
.btn-border {
  border: 1px solid rgb(200, 200, 200);
}
.me-text-underline {
  text-decoration: underline;
}
</style>