<template>
  <q-layout view="lHh Lpr lFf">
    <q-header class="bg3 q-py-sm" style="user-select:none;">
      <q-toolbar>
        <q-btn class flat size="lg" @click="drawer = !drawer" round dense icon="menu" />
        <q-toolbar-title class="text-h6">
          <!-- SECTION แบบฝึกหัด -->
          <div v-if="$route.name == 'studyplan'">แบบฝึกหัด</div>

          <!-- NOTE แบบฝึกหัด / เพิ่มแบบฝึกหัด -->
          <div v-if="$route.name == 'practiceadd'">
            <router-link class="my-header-text-link" to="/studyplan">แบบฝึกหัด</router-link>&nbsp;/ เพิ่มแบบฝึกหัด
          </div>

          <!-- NOTE แบบฝึกหัด / กระดาษคำตอบ -->
          <div v-if="$route.name == 'answersheetmain'">
            <router-link class="my-header-text-link" to="/studyplan">แบบฝึกหัด</router-link>&nbsp;/ กระดาษคำตอบ
          </div>

          <!-- NOTE แบบฝึกหัด / ข้อสอบ -->
          <div v-if="$route.name == 'exammain'">
            <router-link class="my-header-text-link" to="/studyplan">แบบฝึกหัด</router-link>&nbsp;/ ข้อสอบ
          </div>

          <!-- NOTE แบบฝึกหัด / วีดีโอ -->
          <div v-if="$route.name == 'vdomain'">
            <router-link class="my-header-text-link" to="/studyplan">แบบฝึกหัด</router-link>&nbsp;/ วีดีโอ
          </div>

          <!-- NOTE แบบฝึกหัด / กิจกรรม -->
          <div v-if="$route.name == 'multiplechoicemain'">
            <router-link class="my-header-text-link" to="/studyplan">แบบฝึกหัด</router-link>&nbsp;/ กิจกรรม
          </div>

          <!-- NOTE แบบฝึกหัด / กิจกรรม / เพิ่มกิจกรรม -->
          <div v-if="$route.name == 'multiplechoiceadd'">
            <router-link class="my-header-text-link" to="/studyplan">แบบฝึกหัด</router-link>&nbsp;/
            <router-link
              class="my-header-text-link"
              :to="'/multiplechoice/' + this.$route.params.key + '/' + this.$route.params.page"
            >กิจกรรม</router-link>&nbsp;/ เพิ่มกิจกรรม
          </div>

          <!-- NOTE แบบฝึกหัด / กิจกรรม / แก้ไขกิจกรรม -->
          <div v-if="$route.name == 'multiplechoiceedit'">
            <router-link class="my-header-text-link" to="/studyplan">แบบฝึกหัด</router-link>&nbsp;/
            <router-link
              class="my-header-text-link"
              :to="'/multiplechoice/' + this.$route.params.key + '/' + this.$route.params.page"
            >กิจกรรม</router-link>&nbsp;/ แก้ไขกิจกรรม
          </div>

          <!-- NOTE แบบฝึกหัด / แบบทดสอบ -->
          <div v-if="$route.name == 'testmain'">
            <router-link class="my-header-text-link" to="/studyplan">แบบฝึกหัด</router-link>&nbsp;/ แบบทดสอบ
          </div>

          <!-- NOTE แบบฝึกหัด / กิจกรรม / เพิ่มแบบทดสอบ -->
          <div v-if="$route.name == 'testadd'">
            <router-link class="my-header-text-link" to="/studyplan">แบบฝึกหัด</router-link>&nbsp;/
            <router-link
              class="my-header-text-link"
              :to="'/test/' + this.$route.params.key + '/' + this.$route.params.page"
            >แบบทดสอบ</router-link>&nbsp;/ เพิ่มแบบทดสอบ
          </div>

          <!-- NOTE แบบฝึกหัด / กิจกรรม / แก้ไขแบบทดสอบ -->
          <div v-if="$route.name == 'testedit'">
            <router-link class="my-header-text-link" to="/studyplan">แบบฝึกหัด</router-link>&nbsp;/
            <router-link
              class="my-header-text-link"
              :to="'/test/' + this.$route.params.key + '/' + this.$route.params.page"
            >แบบทดสอบ</router-link>&nbsp;/ แก้ไขแบบทดสอบ
          </div>
          <!-- NOTE คลังข้อสอบ   -->
          <div v-if="$route.name == 'questionmain'">คลังข้อสอบ</div>

          <!-- NOTE  คลังข้อสอบ  / เพิ่ม -->
          <div v-if="$route.name == 'questionadd'">
            <router-link class="my-header-text-link" to="/questionmain">คลังข้อสอบ</router-link>&nbsp;/ เพิ่มข้อสอบ
          </div>
          <!-- NOTE คลังข้อสอบ / แก้ไข -->
          <div v-if="$route.name == 'questionedit'">
            <router-link class="my-header-text-link" to="/questionmain">คลังข้อสอบ</router-link>&nbsp;/ แก้ไขข้อสอบ
          </div>
          <!-- SECTION คาบเรียน -->
          <div v-if="$route.name == 'sectionmain'">คาบเรียน</div>

          <!-- NOTE คาบเรียน / เพิ่มคาบเรียน -->
          <div v-if="$route.name == 'sectionadd'">
            <router-link class="my-header-text-link" to="/section">คาบเรียน</router-link>&nbsp;/ เพิ่มคาบเรียน
          </div>

          <!-- NOTE คาบเรียน / แก้ไขคาบเรียน -->
          <div v-if="$route.name == 'sectionedit'">
            <router-link class="my-header-text-link" to="/section">คาบเรียน</router-link>&nbsp;/ แก้ไขคาบเรียน
          </div>

          <!-- SECTION ติดตามผล -->
          <div v-if="$route.name == 'monitormain'">ติดตามผล</div>

          <!-- NOTE โรงเรียน -->
          <div v-if="$route.name == 'schoolmain'">โรงเรียน</div>

          <!-- NOTE โรงเรียน / เพิ่มโรงเรียน -->
          <div v-if="$route.name == 'schooladd'">
            <router-link class="my-header-text-link" to="/school">โรงเรียน</router-link>&nbsp;/ เพิ่มโรงเรียน
          </div>

          <!-- NOTE โรงเรียน / แก้ไขโรงเรียน -->
          <div v-if="$route.name == 'schooledit'">
            <router-link class="my-header-text-link" to="/school">โรงเรียน</router-link>&nbsp;/ แก้ไขโรงเรียน
          </div>

          <!-- SECTION  ปีการศึกษา -->
          <div v-if="$route.name == 'academicmain'">ปีการศึกษา</div>

          <!-- NOTE ปีการศึกษา / เพิ่มปีการศึกษา -->
          <div v-if="$route.name == 'academicadd'">
            <router-link class="my-header-text-link" to="/academic">ปีการศึกษา</router-link>&nbsp;/ เพิ่มปีการศึกษา
          </div>

          <!-- NOTE ปีการศึกษา / แก้ไขปีการศึกษา -->
          <div v-if="$route.name == 'academicedit'">
            <router-link class="my-header-text-link" to="/academic">ปีการศึกษา</router-link>&nbsp;/ แก้ไขปีการศึกษา
          </div>

          <!-- SECTION  คุณครู -->
          <div v-if="$route.name == 'teachermain'">คุณครู</div>

          <!-- SECTION  นักเรียน -->
          <div v-if="$route.name == 'studentmain'">นักเรียน</div>

          <!-- NOTE นักเรียน / เพิ่มนักเรียน -->
          <div v-if="$route.name == 'studentadd'">
            <router-link class="my-header-text-link" to="/student">นักเรียน</router-link>&nbsp;/ เพิ่มนักเรียน
          </div>

          <!-- SECTION  ผู้ใช้งาน -->
          <div v-if="$route.name == 'usermain'">ผู้ใช้งาน</div>

          <!-- NOTE ผู้ใช้งาน / เพิ่มผู้ใช้งาน -->
          <div v-if="$route.name == 'useradd'">
            <router-link class="my-header-text-link" to="/user">ผู้ใช้งาน</router-link>&nbsp;/ เพิ่มผู้ใช้งาน
          </div>

          <!-- NOTE ผู้ใช้งาน / แก้ไขผู้ใช้งาน -->
          <div v-if="$route.name == 'useredit'">
            <router-link class="my-header-text-link" to="/user">ผู้ใช้งาน</router-link>&nbsp;/ แก้ไขผู้ใช้งาน
          </div>
        </q-toolbar-title>
      </q-toolbar>
    </q-header>

    <q-drawer
      v-model="drawer"
      :width="300"
      :breakpoint="1023"
      show-if-above
      style="user-select:none;"
    >
      <q-scroll-area
        class="bg-blue-grey-10 text-white"
        style="height: calc(100% - 140px); margin-top: 140px; "
      >
        <q-list class="q-py-sm">
          <router-link to="/studyplan" class="my-text-menu">
            <q-item
              class="my-padding q-py-md"
              :class="{'color1': this.$route.name == 'practicemain' || this.$route.name == 'practiceadd' || this.$route.name == 'studyplan'} "
              clickable
              v-ripple
            >
              <q-item-section avatar>
                <q-icon name="fas fa-book" />
              </q-item-section>
              <q-item-section>แบบฝึกหัด</q-item-section>
            </q-item>
          </router-link>
          <router-link to="/questionmain" class="my-text-menu">
            <q-item
              class="my-padding q-py-md"
              :class="{'color1': this.$route.name == 'questionmain' || this.$route.name == 'questionadd' || this.$route.name == 'questionedit' } "
              clickable
              v-ripple
            >
              <q-item-section avatar>
                <q-icon name="fas fa-file-alt" />
              </q-item-section>
              <q-item-section>คลังข้อสอบ</q-item-section>
            </q-item>
          </router-link>
          <router-link to="/section" class="my-text-menu">
            <q-item
              class="my-padding q-py-md"
              :class="{'color1': this.$route.name == 'sectionmain' || this.$route.name == 'sectionadd' || this.$route.name == 'sectionedit'} "
              clickable
              v-ripple
            >
              <q-item-section avatar>
                <q-icon name="fas fa-clock" />
              </q-item-section>
              <q-item-section>คาบเรียน</q-item-section>
            </q-item>
          </router-link>

          <router-link to="/monitor" class="my-text-menu">
            <q-item
              class="my-padding q-py-md"
              :class="{'color1': this.$route.name == 'monitormain' } "
              clickable
              v-ripple
            >
              <q-item-section avatar>
                <q-icon name="fas fa-desktop" />
              </q-item-section>
              <q-item-section>ติดตามผล</q-item-section>
            </q-item>
          </router-link>

          <q-separator class="bg-grey-7" />

          <router-link to="/school" class="my-text-menu">
            <q-item
              class="my-padding q-py-md"
              :class="{'color1': this.$route.name == 'schoolmain' || this.$route.name == 'schooladd' || this.$route.name == 'schooledit'} "
              clickable
              v-ripple
            >
              <q-item-section avatar>
                <q-icon name="fas fa-school" />
              </q-item-section>
              <q-item-section>โรงเรียน</q-item-section>
            </q-item>
          </router-link>

          <router-link to="/academic" class="my-text-menu">
            <q-item
              class="my-padding q-py-md"
              :class="{'color1': this.$route.name == 'academicmain' || this.$route.name == 'academicadd' || this.$route.name == 'academicedit'} "
              clickable
              v-ripple
            >
              <q-item-section avatar>
                <q-icon name="fas fa-calendar-alt" />
              </q-item-section>
              <q-item-section>ปีการศึกษา</q-item-section>
            </q-item>
          </router-link>

          <router-link to="/teacher" class="my-text-menu">
            <q-item
              class="my-padding q-py-md"
              :class="{'color1': this.$route.name == 'teachermain' || this.$route.name == 'teacheradd' || this.$route.name == 'teacheredit'} "
              clickable
              v-ripple
            >
              <q-item-section avatar>
                <q-icon name="fas fa-pen-alt" />
              </q-item-section>
              <q-item-section>คุณครู</q-item-section>
            </q-item>
          </router-link>

          <router-link to="/student" class="my-text-menu">
            <q-item
              class="my-padding q-py-md"
              :class="{'color1': this.$route.name == 'studentmain' || this.$route.name == 'studentadd' || this.$route.name == 'studentedit'} "
              clickable
              v-ripple
            >
              <q-item-section avatar>
                <q-icon name="fas fa-hotel" />
              </q-item-section>
              <q-item-section>นักเรียน</q-item-section>
            </q-item>
          </router-link>

          <q-separator class="bg-grey-7" />

          <router-link to="/user" class="my-text-menu">
            <q-item
              class="my-padding q-py-md"
              :class="{'color1': this.$route.name == 'usermain' || this.$route.name == 'useradd' || this.$route.name == 'useredit'} "
              clickable
              v-ripple
            >
              <q-item-section avatar>
                <q-icon name="fas fa-user-alt" />
              </q-item-section>
              <q-item-section>ผู้ใช้งาน</q-item-section>
            </q-item>
          </router-link>

          <div style="height: 50px"></div>
        </q-list>
      </q-scroll-area>

      <div class="absolute-top bg-blue-grey-10">
        <div class="row" style="height:65px;">
          <div class="col-12 self-center" align="center">
            <img src="../statics/images/Winner O-net P6.png" style="width:200px;" />
          </div>
        </div>

        <div class="my-border-top my-border-bottom">
          <q-btn flat class="full-width my-hover-me q-py-md">
            <div class="row full-width">
              <div class="col-3 self-center" align="left">
                <div class="text-white">
                  <q-btn flat size="lg" round dense icon="fas fa-user-circle"></q-btn>
                </div>
              </div>
              <div class="col-6 self-center text-white" align="left">
                <div class="text-body1 q-py-xs">{{showUserSystem.name}}</div>
              </div>
              <div class="col-3 self-center" align="center">
                <q-btn
                  flat
                  round
                  push
                  icon="fas fa-cog"
                  class="text-subtitle1 text-white my-animated"
                />
              </div>
            </div>
          </q-btn>
        </div>
      </div>
      <router-link to="/logout">
        <div class="absolute-bottom my-border-top text-white bg-blue-grey-10">
          <q-list>
            <q-item
              class="my-padding q-py-md"
              :class="{'text-purple-1': this.$route.name == 'logout' } "
              clickable
              v-ripple
            >
              <q-item-section avatar>
                <q-icon name="fas fa-sign-out-alt" />
              </q-item-section>
              <q-item-section>ออกจากระบบ</q-item-section>
            </q-item>
          </q-list>
        </div>
      </router-link>
    </q-drawer>

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
import { db } from "../router/index.js";
import { close } from "fs";
export default {
  name: "MyLayout",
  data() {
    return {
      showUserSystem: {},
      isLoadData: false
    };
  },
  methods: {
    backRouter() {
      this.$router.go(-1);
    },
    checkUser() {
      db.collection("Account")
        .doc(this.account.key)
        .onSnapshot(data => {
          if (data.data().userKey == this.account.userKey) {
            this.showUserSystem = {
              userKey: data.data().userKey,
              key: this.account.key,
              name: data.data().name
            };
            this.isLoadData = true;
          } else {
            this.$q.localStorage.set("accountData", "");
            this.snapVersion();
            this.$router.push("/");
          }
        });
    },
    loadVersion() {
      this.snapVersion = db
        .collection("version")
        .doc("backend")
        .onSnapshot(data => {
          if (this.version != data.data().version) {
            window.location.reload(true);
          }
        });
    }
  },
  mounted() {
    this.loadVersion();
  },
  created() {
    if (this.account == "") {
      this.$router.push("/");
      this.snapVersion();
    } else {
      this.checkUser();
    }
  },
  watch: {
    $route() {
      if (this.$route.name != "useredit") {
        this.$q.localStorage.set("currentPage", this.$route.path);
      }
    }
  }
};
</script>

<style >
.my-text-menu {
  color: white;
  text-decoration: none;
}
.my-header-text-link {
  color: white;
}
.my-border-bottom {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.my-border-top {
  border-top: 1px solid rgba(255, 255, 255, 0.3);
}
.my-border-left {
  border-left: 1px solid rgba(255, 255, 255, 0.5);
}
.my-border-right {
  border-right: 1px solid rgba(255, 255, 255, 1);
}

.my-padding {
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
}
.my-padding:hover {
  padding-left: 30px;
  color: #a5afff;
}

.my-hover-me .my-animated {
  -webkit-transition: 3s ease-out;
  -moz-transition: 3s ease-out;
  transition: 3s ease-out;
}
.my-hover-me:hover .my-animated {
  transform: rotate(1000deg);
}
.my-hover-me:active .my-animated {
  transform: scale(3);
}
</style>